[2017-08-22 15:52] hikikomorime commented on #336
Thank you :) Works like a charm. Will post there next time.

[2017-08-23 04:51] jan-vince commented on #335
No problem to redirect in ````onEnd()```` method where ````blogPosts```` object is already present like this:

[code]

## New commit ?

So if you agree I will create a new commit to return post load back into ````onRun()```` method and I will add an above mentioned logic to ````onRender()```` method, so anyone will be still able to force post load by passing slug to component like ````{% component

[2017-08-23 10:51] Harti commented on #335
You’re awesome, that’s a really good idea and if it works as advertised it would indeed solve my problem completely.

*(I’m sorry that most of the work on this has been stuck on you; however I feel like I’ve learned a good deal about how these plugins work thanks to your help, and might be able to help you better in the future)*

[2017-08-23 18:40] jan-vince commented on #336
You're welcome :)

*Don't forget to close the issue.*

[2017-08-23 21:57] #336 closed

[2017-08-24 06:19] #335 closed

[2017-08-25 03:36] #326 closed

[2017-09-05 12:56] graker opened #338 "After updating to build #421 categories sorting is broken"
Hi

I have a block on my site using Categories component and listing all categories sorted as I set on Reorder page. After I updated my site to the latest October build, it seems that the component stopped using Reorder values to sort categories as they are now sorted by category name.

Is it an intended behavior after the update?

[2017-09-05 16:16] LukeTowers commented on #338
Not as far as I'm aware. See if you can dig into what's causing the change in behaviour and let us know.

[2017-09-05 16:27] graker commented on #338
I've created a test page displaying the default blogCategories component and it is reproduced: categories on the test page are sorted by name while on the reorder page categories are properly sorted.

For now I just changed `orderBy()` in `Categories::loadCategories()` from `'name'` to `'nest_right'` so my production site would work as before the update. But I'll try to look into it soon.

[2017-09-05 17:16] LukeTowers commented on #338
Might have something to do with https://github.com/rainlab/blog-plugin/blob/master/components/Categories.php#L90 not working the same anymore. I don't know if that's actually the case, but take a look.

[2017-09-05 19:15] graker commented on #338
I thought so too but just can't see where's the problem at the moment.

`getNested()` is a call to [`scopeGetNested()`](https://github.com/octobercms/library/blob/7402b61b7dd7f1cc06faaff3699255e9a34e4e0c/src/Database/Traits/NestedTree.php#L427) which has just one line:

```return $query->get()->toNested();```

And `toNested()` is a method of [`TreeCollection`](https://github.com/octobercms/library

[2017-09-05 19:18] LukeTowers commented on #338
Take a look deeper if you can, just because the immediate files haven't changed doesn't necessarily mean that some Laravel internal hasn't changed that changes the query that gets generated. Best of luck!

[2017-09-14 02:54] l3utterfly commented on #334
Where do I find the error logs?

[2017-09-14 06:09] jan-vince commented on #334
In backend administration in Settings > Event log.

Or in file system: ````/storage/logs/system.log````.

[2017-09-14 14:01] roojai commented on #29
Bounty posted 😄

[2017-09-14 15:11] LukeTowers commented on #29
@roojai link?

[2017-09-14 15:14] jan-vince commented on #29
I have never noticed it, but Blog plugin already supports nested categories.

When you make two categories and hit a Reorder button, you can move a category beneath another one.

![snimek obrazovky 2017-09-14 v 17 13 25](https://user-images.githubusercontent.com/1104383/30437888-11ae68d0-9970-11e7-8d5a-f21d00463d63.png)

So now only to solve a hierarchical URLs...

[2017-09-14 22:35] roojai commented on #29
I'll check that out Jan! Thanks.

For this to be truly useful it has to be possible to display the sub categories on the frontend, and also create filters that filter by the sub categories too.

Bounty link is here: https://www.bountysource.com/issues/5130437-featurerequest-nested-categories-sub-categories-support-hierarchal-urls

[2017-09-23 13:55] jawainc opened #340 "Change MarkdownEditor image uploads to go to the media library"
when image markup is remove from editor, it remove the image from html viewer but it dosen't actually delete the image

[2017-09-24 07:48] jan-vince commented on #340
Should it?

What about a situation when you include that file in two blog posts?

[2017-09-24 14:00] jawainc commented on #340
what about if user want remove that image? if there's no way to delete it would be piles of unused images.

[2017-09-25 04:35] LukeTowers commented on #340
@jawainc there is, it's just in the media library, you could delete it at any time.

[2017-09-25 09:51] jawainc commented on #340
there are 2 option (2 buttons for embedding images) for embed image
1: through media library
2: by uploading <---- these image didn't appear in media library

[2017-09-25 23:37] LukeTowers commented on #340
Where does the second option get stored?

[2017-09-26 04:04] jawainc commented on #340
![image-path](https://user-images.githubusercontent.com/8276213/30842116-7dab0980-a299-11e7-8551-fc5658b91c0d.PNG)
see in image, its always some random directory with random name

[2017-09-26 14:23] LukeTowers commented on #340
I think perhaps the solution to that would be to force files uploaded through the second option to be stored in the media library as there is no database record that they are attached to in order to be removed when no longer in use.

[2017-09-26 15:06] jawainc commented on #340
we cannot dictate clients, if option is there it will be used.
I use other editor to solve this issue.

Thanks

[2017-09-26 15:41] LukeTowers commented on #340
I meant do that in code, have the files uploaded through the second option go straight into the media library instead.

[2017-09-26 15:58] jawainc commented on #340
How to do it ?

[2017-09-26 16:22] LukeTowers commented on #340
We'd have to change the implementation of the image upload button in the markdown editor. It would probably be a code change to this plugin. I'll edit the title accordingly. Feel free to dig into it yourself and make a PR containing the changes :)

[2017-09-26 18:21] jawainc commented on #340
Thanks a lot for your help

[2017-09-27 17:30] LukeTowers commented on #340
I'll leave this open for now in case somebody wants to work on implementing support for it.

[2017-10-01 13:46] datune commented on #338
This doesn't affect just the Blog plugin, this affects everything using the NestedTree Trait. The Reorder Controller displays the NestedTree correctly, where as the ListController does not. As far as I can tell, it is not related to the Blog plugin itself.

@LukeTowers It seems to me that the problem is in [https://github.com/octobercms/october/blob/master/modules/backend/widgets/Lists.php#L489](u

[2017-10-03 09:08] daniel63dm opened #341 "Enhancement : Can you add published to field ?"
I whish to use like publish on an optionnal publish to field in the post form.
So if user want to have a post for example a week its removed on the end automaticly.

Thks

[2017-10-03 16:01] LukeTowers commented on #341
Nope, but you could do that yourself in a plugin that extends this one.

[2017-10-03 16:01] #341 closed

[2017-10-04 09:38] datune commented on #338
@graker Can you please [review this PR](https://github.com/octobercms/october/pull/3143) and, if true, confirm that this fixes the issue?

[2017-10-04 20:03] graker commented on #338
@datune I did and it fixes the issue with lists but not the Categories List component.

[2017-10-05 07:38] datune commented on #338
@LukeTowers @graker I digged a bit and think that this PR fixes it. @graker Please test and review so we can move forward.

I'm pretty convinced that nested tree sorting has never worked in the categories component, it was always sorted by name. I think the reason is historical (like there is ever any other reason :-P). Nesting has been introduced after the fact, which is why this has slipped thro

[2017-10-05 07:54] graker commented on #338
@datune from what I see, I'm sure that it fixes the problem because that looks similar to what I did for a temporary fix: I changed order-by from `name` to `nest_right`. And you just removed the line to allow `getNested()` to do its job which is more elegant. I'm not sure though that it is the root of the problem (see below).

Well I've migrated my blog to October a year ago and I had a block with

[2017-10-07 15:33] runbee opened #343 "There is no way to upload a picture of the post to the front with Vue.js?"
I uploaded the picture as the main one and I want to put it on the preview in the list of posts, but apparently there is not such a possibility?

http://prntscr.com/gufz7p

[2017-10-07 16:14] LukeTowers commented on #343
How is it not possible? What code are you using that isn't working? Why don't you put a little more effort into asking for help? This question doesn't even ask for help, it just asks for someone to prove it wrong by writing your code for you.

The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance,

[2017-10-07 16:14] #343 closed

[2017-10-07 17:37] runbee commented on #343
I use vuetober. And try to get responce with image. But this functionality is not in this CMS.

[2017-10-16 18:36] vanmil commented on #325
Think this is a general octobercms bug (probably edge update / version 420+) as I also experienced the same bug with the static pages plugin in combination with a mediafinder field.

[2017-10-16 18:56] LukeTowers commented on #325
This should be integrated with https://github.com/octobercms/october/pull/2937 by adding a permission check to the EditorSetting model to modify the default buttons that are added to remove the mediamanager button if the user doesn't have permission.

[2017-10-24 21:19] Harti commented on #325
[This is the file](https://github.com/octobercms/october/blob/4074ad8cc9c20a3196f058e908d98c5efca9ad1b/modules/backend/formwidgets/richeditor/partials/_richeditor.htm) where the fix should be implemented, in my opinion. It probably also affects the `$toolbarButtons`, not just the `$globalToolbarButtons`.

I cannot find the internal permission name for uploading/managing media contents [in the API

[2017-10-24 22:50] LukeTowers commented on #325
I suggested the global default instead of filtering it right on the RichEditor form widget because if someone has gone to the trouble of manually specifying the media button on their toolbar, I don't think it's our place to remove it automatically from that manual specification without the user knowing what happened.

The permission you are looking for is all-encompassing, it's called `media.manag

[2017-10-25 00:29] Harti commented on #325
https://gist.github.com/Harti/d8a426ef395f2e25b9e7b12cc4c1ef62

This is what I would be suggesting. **I was unable to test it** because my local installation of OctoberCMS build 419 _does not have the global toolbar setting yet, was unable to find updates and force installing updates does not upgrade the build_. Updating via Composer hangs on resolving dependencies through SAT. It is driving me in

[2017-10-25 01:54] LukeTowers commented on #325
@Harti enable edgeUpdates in your config/cms.php. Also there's a different caching provider that you can get composer to use that improves the speed.

[2017-10-25 17:11] Harti commented on #325
Thanks @LukeTowers, I was able to test my changes locally and opted for `str_replace`.

[2017-10-26 22:17] LukeTowers commented on #163
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:17] #163 closed

[2017-10-26 22:18] #224 closed

[2017-10-26 22:19] LukeTowers commented on #195
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:19] #195 closed

[2017-10-26 22:19] LukeTowers commented on #230
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:19] #230 closed

[2017-10-26 22:20] #242 closed

[2017-10-26 22:20] LukeTowers commented on #274
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:20] LukeTowers commented on #277
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:20] #277 closed

[2017-10-26 22:20] LukeTowers commented on #69
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:20] #69 closed

[2017-10-26 22:21] LukeTowers commented on #81
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:21] #81 closed

[2017-10-26 22:21] Sieabah commented on #277
I mean, the issue still exists...?

[2017-10-26 22:23] LukeTowers commented on #139
This can be overcome by using `addDynamicProperty()`. See http://octobercms.com/docs/services/behaviors#constructor-extension

[2017-10-26 22:23] #139 closed

[2017-10-26 22:23] Sieabah commented on #277
@LukeTowers Forgot to tag

[2017-10-26 22:23] LukeTowers commented on #181
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:23] #181 closed

[2017-10-26 22:23] LukeTowers commented on #183
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:23] #183 closed

[2017-10-26 22:24] LukeTowers commented on #17
Should be fixed by https://github.com/octobercms/library/pull/178#issuecomment-302836370

[2017-10-26 22:24] #17 closed

[2017-10-26 22:24] LukeTowers commented on #200
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:24] #200 closed

[2017-10-26 22:27] LukeTowers commented on #277
@Sieabah
I'm going crazy with the Abandoned tag in order to prompt some movement with these issues. As it stands right now the core team is way too busy with everything to handle every single issue ourselves.

My solution to this is to poke people into actually taking on the issues that are important to them. If an issue isn't important to them anymore, then they won't do anything and everything w

[2017-10-26 22:28] LukeTowers commented on #279
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:28] #279 closed

[2017-10-26 22:28] LukeTowers commented on #276
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:28] LukeTowers commented on #268
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:28] #268 closed

[2017-10-26 22:29] LukeTowers commented on #174
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:29] #174 closed

[2017-10-26 22:29] LukeTowers commented on #188
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:29] #188 closed

[2017-10-26 22:29] LukeTowers commented on #265
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:29] #265 closed

[2017-10-26 22:29] LukeTowers commented on #290
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:29] #290 closed

[2017-10-26 22:30] LukeTowers commented on #295
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:30] #295 closed

[2017-10-26 22:30] LukeTowers commented on #270
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:30] #270 closed

[2017-10-26 22:30] LukeTowers commented on #298
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:30] #298 closed

[2017-10-26 22:31] LukeTowers commented on #299
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:31] #299 closed

[2017-10-26 22:32] LukeTowers commented on #306
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:32] #306 closed

[2017-10-26 22:32] LukeTowers commented on #282
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:32] #282 closed

[2017-10-26 22:32] LukeTowers commented on #305
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:32] #305 closed

[2017-10-26 22:34] LukeTowers commented on #313
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:34] #313 closed

[2017-10-26 22:35] LukeTowers commented on #315
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:35] #315 closed

[2017-10-26 22:36] #281 closed

[2017-10-26 22:36] #321 closed

[2017-10-26 22:36] LukeTowers commented on #106
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:36] #106 closed

[2017-10-26 22:37] LukeTowers commented on #327
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:37] #327 closed

[2017-10-26 22:37] LukeTowers commented on #330
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:37] #330 closed

[2017-10-26 22:38] LukeTowers commented on #320
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:38] #320 closed

[2017-10-26 22:41] LukeTowers commented on #328
That works, although you can get just one page by using `RainLab\Pages\Classes\Page::load(\Cms\Classes\Theme::getEditTheme(), 'news.htm');`

[2017-10-26 22:41] #328 closed

[2017-10-26 22:41] LukeTowers commented on #194
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:41] #194 closed

[2017-10-26 22:41] LukeTowers commented on #308
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:41] #308 closed

[2017-10-26 22:42] LukeTowers commented on #333
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:42] #333 closed

[2017-10-26 22:43] LukeTowers commented on #312
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:43] #312 closed

[2017-10-26 22:43] LukeTowers commented on #334
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:44] LukeTowers commented on #29
@roojai do you still need anything done?

[2017-10-26 22:44] LukeTowers commented on #340
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 22:44] #340 closed

[2017-10-26 22:45] LukeTowers commented on #338
@graker is there still an issue?

[2017-10-27 02:08] roojai commented on #29
@LukeTowers I built my own plugin with the category requirements I needed, so I did not use the blog plugin in the end.

I am not sure if the apparently already built nested category functionality meets the criteria for the bounty I posted, or who should receive it if it does.

I am happy to move the bounty to something more pressing, but not sure if there is an option for that

[2017-10-27 05:34] akien-mga commented on #276
Without even caring to discuss the proposal? With 213 issues in 3 years, it doesn't seem to me that you are so overburned that you can't give a decent answer to such an issue. And I do maintain quite a few open source projects with tens of thousands of issues, I know what issue triage means.

[2017-10-27 05:56] LukeTowers commented on #276
I'm going crazy with the Abandoned tag in order to prompt some movement with these issues. As it stands right now the core team is way too busy with everything to handle every single issue ourselves.

My solution to this is to poke people into actually taking on the issues that are important to them. If an issue isn't important to them anymore, then they won't do anything and everything will conti

[2017-10-27 06:08] akien-mga commented on #276
Well it's not really for me to care about tagging git releases, as I can't do it. The command to do it is:
[code]
Or alternatively:
[code]

It's fine with me if you don't care about tagging releases, users who care can `git log updates/version.yaml` and see when releases were made, it's just a good practice when maintaining software. But I would have appreciated it being said instead of an automat

[2017-10-27 06:26] LukeTowers commented on #276
I apologize for the brashness of the comment, I could do a better job explaining the purpose of the closing of the issue, which is really just to clear out issues that may no longer be relevant as these repositories haven't had all their issues looked for a while. I'll edit the saved reply to be more clear in that regards.

Given that you maintain large open source projects, do you have any advice

[2017-10-27 06:37] akien-mga commented on #276
If I can share a bug triage good practice from my experience with the Mageia bugzilla: To avoid rubbing issue reporters the wrong way, the best method I know when doing mass triaging with copy pasting is:

- Paste a message in all inactive issues asking people if their issue is still reproducible or still relevant. Make it clear in that message that it's an automated message. It doesn't have to ac

[2017-10-27 06:48] LukeTowers commented on #276
Thanks for the advice! I'll take it to heart.

Getting back to your original issue, it's not a bad idea, but given that we haven't tagged any releases for any of the RainLab repositories, it would involve a bit of initial work to get everything up to speed. Perhaps I'll leave this open to get done one day when I'm particularly bored and have nothing to do :)

[2017-10-27 06:58] akien-mga commented on #276
If your version numbers are always hardcoded in `updates/version.yaml`, it should be possible to make a list of versions and matching commit hashes with some `git log updates/version.yaml` and `git show updates/version.yaml` + grep magic. I could have a look at it for this repo if you want, and propose a script that extracts the relevant info and makes a list of `git tag` commands to issue.

[2017-10-27 06:59] LukeTowers commented on #276
Sure, that would be helpful if you're willing to do it! Thanks!

[2017-10-27 11:22] graker commented on #338
Yes, in the latest plugin update the issue is still there and still fixed by changing the sorting order from `name` to `nest_right`.

[2017-10-27 15:45] LukeTowers commented on #338
@graker could you please make a PR to fix it including a summary of the issue and the fix? Thanks!

[2017-10-27 15:49] LukeTowers commented on #338
@graker actually just remembered #342, could you test that and let me know if it works for you?

[2017-10-27 21:47] Sieabah commented on #277
@LukeTowers Leaving it as abandoned is okay I guess but the issue shouldn't be closed. What this issue does is create too many requests per second and can be caught with something like Cloudflare as hitting the site too many times. It's essentially a request every letter including backspacing and deleting a letter.

[2017-10-27 22:06] LukeTowers commented on #277
The point of closing it is to minimize the open issues as if no one is going to work on it (i.e. abandoned), then it's just cluttering up the queue. I recognize that this is a potential unwanted behaviour, but if no one is willing to work on fixing it at all, then it's not going to get solved.

If it's an issue for you, which it sounds like it is, then could you please make a pull request with you

[2017-10-27 22:09] graker commented on #338
@LukeTowers Sure, I've just tested it and it does fix the issue for Categories component.

Although as I mentioned before it is still not clear what was the reason of the change in original behavior, the fix works.

[2017-10-27 22:12] LukeTowers commented on #338
Huh. Well, I'll merge #342 then.

[2017-10-27 22:13] #338 closed

[2017-10-29 10:03] jonathan-hc opened #344 "Call to undefined function error on uploading blog featured image"
Hello Rainlab,

Firstly, I want to thank you for this wonderful plugin. Great work!

I have been facing this issue on one of my live servers, where uploading a featured image gives the following error:

`Call to undefined function October\Rain\Database\Attach\imagecreatefromjpeg()`

`/htdocs/vendor/october/rain/src/Database/Attach/Resizer.php line 466`

Here's a screenshot of the error:
![blog-plu

[2017-10-29 15:13] LukeTowers commented on #344
Double check that the GD library is working correctly. See https://stackoverflow.com/a/13338387/6652884

[2017-10-29 15:13] #344 closed

[2017-11-02 20:29] jm-mwi opened #346 "Incorrectly lists the URLs for unpublished blog posts in the sitemap"
The plugin currently adds URLs for blog posts even if they aren't published.

The plugin should either only list the blog posts that are published or it should also add the blog post to the robots file as a URL that shouldn't be visited.

EDIT: This is being reported as I'm seeing URL errors show up in my webmaster console.

[2017-11-03 17:45] domagoj03 commented on #6
If I'm using
`{% component 'blogPost' %}`
on Markup side to render it's contents, how can I access it in Code section on the same page?
in onEnd() function `isset($this['blogPost'])` returns `false`

[2017-11-20 21:22] jrodd32 opened #348 "Single Post not getting hit in Production"
The individual post page is not getting hit in my production environment. The URL get's updated to the post slug but the blogRoll component is getting displayed instead of the blogPost.

I quickly manually edited the Post.php file in the plugin to dd() the $post var but it never got hit / triggered.

Has anyone ever encountered this before?

What is confusing me is it is working in my local and st

[2017-11-20 22:07] LukeTowers commented on #348
What plugins do you have? Sounds like you have a URL cache enabled that has incorrect cache material.

[2017-11-20 22:22] jrodd32 commented on #348
Hey @LukeTowers thanks for the reply.

I have the following plugins installed in all 3 environments:

[2017-11-21 20:04] LukeTowers commented on #348
@jrodd32 so the issue is still present? Have you tried `php artisan cache:clear`?

[2017-11-21 20:37] jrodd32 commented on #348
Hey Luke yeah I’m still having the issue. I’ve ran that command as well as manually deleting all cache folders as well.

I even went as far as writing my own extension the overwrites the Post component and it is still happening.

I can post my code for all files if that would be helpful.

Poor grammar and misspellings sponsored by iPhone.

On Nov 21, 2017, at 15:05, Luke Towers <notifications@gith

[2017-11-22 05:48] LukeTowers commented on #348
Have you tried redeploying to your production environment manually? Maybe it's missing some files

[2017-11-23 12:30] rangrage opened #349 "Unpublished posts showing up"

[2017-11-23 13:59] rangrage commented on #349
Sorry, I thought I had solved this but the problem is still there.

I've updated october to build 428, and also updated all the plugins. Then I've noticed that unpublished blog posts are showing on the frontend.

I have all my plugins as git submodules. How can I fix this?

[2017-11-23 15:29] LukeTowers commented on #349
@rangrage for future reference it's not helpful to edit an issue removing all information about it because some people in the future may have the same issue as you. Instead, post what you did to fix it.

In regards to this issue as it stands right now, there is not enough information here to do anything about. Please post your octobercms build version and your plugin versions and then provide as m

[2017-11-23 15:46] LukeTowers commented on #349
@rangrage what code do you use to display the posts on the frontend?

[2017-11-23 15:54] rangrage commented on #349
I'm using the blogPosts component

[code]
And in the html
[code]

[2017-11-23 19:07] LukeTowers commented on #349
@rangrage are you able to take a look at the blogPosts component to figure out why this is happening?

[2017-11-24 12:11] rangrage commented on #349
@LukeTowers this seems to be causing the issue, not sure why it was added here and can't see what's the relation to the checkEditor() function at line 218;
[code]

Removing the $isPublished fixes the problem. This is already handled by the Model so I can't understand the need for it here.

**Fixed here**
[code]

[2017-11-24 15:24] LukeTowers commented on #349
@rangrage ah, I see what the issue is. Try viewing your site in incognito mode or when not logged in. https://github.com/rainlab/blog-plugin/pull/316 changed it so that backend users that are logged in can view the unpublished post in order to preview it before making it live.

[2017-11-24 15:45] rangrage commented on #349
Aah! so the bug turns out to be a feature actually.

Yes, I've tested this and confirm it's only view-able when logged in.

Thanks for your assistance @LukeTowers :)

[2017-11-24 15:45] #349 closed

[2017-11-24 16:01] LukeTowers commented on #349
Not a problem @rangrage :)

[2017-11-26 07:10] DraganGagi opened #350 "Blog post title not working"

[2017-11-26 07:12] DraganGagi commented on #350
`title = "post -"
url = "/post/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "category-"
==
<?php
function onEnd()
{

    // Optional - set the page title to the post title
    if (isset($this->post))
        $this->page->title = $this->post->title;
}
?>
==
{% component 'blogPost' %}`

[2017-11-26 10:53] AndrewHaze opened #351 "SVG files prevented from being uploaded"
After the update to version 1.2.19, the .svg files can't be uploaded anymore. It was possible before, and such files that have already been uploaded are fine.

[2017-11-26 19:38] LukeTowers commented on #351
SVG files have been disabled by default as they are a potential security concern. See https://github.com/octobercms/library/commit/3bbbbf3da469f457881b5af902eb0b89b95189a2#diff-b10ad96937e698dbb2d75768efa33870. You can re-enable them for your project specifically, but as a whole the default has been changed to prevent uploading them.

[2017-11-26 19:40] LukeTowers commented on #350
_No reason provided for closing._

[2017-11-26 19:40] #350 closed

[2017-11-27 17:03] AndrewHaze commented on #351
Thanks!

[2017-11-27 17:03] #351 closed

[2017-11-29 09:42] SaifurRahmanMohsin commented on #349
Is this problem fixed yet? Doesn't seem like it has been since I'm updated to the latest revision and still face this. I think a version bump may be needed?

[2017-11-29 09:47] rangrage commented on #349
@SaifurRahmanMohsin yes it is fixed. If you read the comments above from LukeTowers, this is actually a feature for logged-in backend users to view unpublished posts before making them live.

[2017-11-29 11:32] SaifurRahmanMohsin commented on #349
Wow. That is actually handy. I think it would be a good idea to have a message below in logged in mode alone to show that it shows up only when logged in and a button to jump directly into the publish tab of that post in the backend.

[2017-11-29 14:57] LukeTowers commented on #349
@SaifurRahmanMohsin see suggestion from @daftspunk here: https://github.com/rainlab/blog-plugin/pull/316#issuecomment-304833622. Feel free to make a PR to improve the UX of logged in backend users previewing the posts.

[2017-11-29 15:29] sergeysukhorukov opened #352 "Plugin have wrong logic when show list of posts"
plugin check for isPublished only if user is editor then if not any post can be showed  and checkbox published not work

`$isPublished = !$this->checkEditor();`

`protected function checkEditor()
    {
        $backendUser = BackendAuth::getUser();
        return $backendUser && $backendUser->hasAccess('rainlab.blog.access_posts');
    }`

[2017-11-29 15:36] #352 closed

[2017-12-05 21:53] stefanreimert opened #353 "How can i filter out the post"
I now have:
/blog/post/:slug/:page?

And it renders to:
http://localhost:8000/blog/post/first-blog-post

And this is what i want:
http://localhost:8000/blog/first-blog-post

I dont know if it is me and i am overthinking it?

[2017-12-06 06:01] LukeTowers commented on #353
Use `/blog/:slug/:page?`

[2017-12-06 06:01] #353 closed

[2017-12-06 07:10] stefanreimert commented on #353
@LukeTowers but how does the templating goes from here?
Now when i hit the url i dont get redirected to the blog post...
I put it down just like the tutorial movie for setting up the blog.

**This is my blog page:**
`title = "Blog"
url = "/blog/:page?"
layout = "default"
is_hidden = 0

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"
==`

**And here my post pag

[2017-12-11 23:37] zooks opened #354 "Wrong code in the documentation"
if (isset($this->post))
        $this->page->title = $this->post->title;

`isset($this->post)` returns `false`, so the code doesn't work.

https://github.com/rainlab/blog-plugin/commit/daff5e6bc2fe33f1f7e01d99e250952ca69b0eb5

[2017-12-17 00:00] BKoehler opened #357 "Single Posts not displaying + categories not filtering"
I am having 2 issues with blog posts. Issue #1: Single blog posts are not displaying when a post is clicked,  and Issue #2: Blog categories are not filtering. I click on a category and all posts still listed.

[2017-12-17 05:26] LukeTowers commented on #357
Sounds like you have an issue with how you setup the components and the URLs.

[2017-12-28 09:41] ronogrimen commented on #357
@LukeTowers I'm having the same issue, categoryFilter not workings on me. Its always show all the posts

[2017-12-28 14:44] LukeTowers commented on #357
What build of October are you running? What version of the blog plugin? How is your page with the blog posts listing component setup and how is the page with the single blog post component setup? @BKoehler @ronogrimen

[2017-12-28 14:44] LukeTowers commented on #357
The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest their time helping with a question that wasn't even worth the askers time to ask correctly.

[2017-12-29 01:27] ronogrimen commented on #357
@LukeTowers 431 current build of october and 1.2.19 is the version of blog plugin but I already found a solution. Thank you for replying!

[2017-12-29 15:44] LukeTowers commented on #357
@ronogrimen what was the issue for you? Posting here can help out other people with the same issue.

[2017-12-30 07:01] BKoehler commented on #357
@ronogrimen I believe I am running the same version as you. What was your solution? If I may ask

[2017-12-30 07:07] BKoehler commented on #357
@LukeTowers I followed the video tutorial by Samuel Georges "Building a Blog & Forum Website" which I found via the October documentation.

[2017-12-30 08:15] LukeTowers commented on #357
@BKoehler I'll still need to see your code before I can help

[2018-01-02 05:51] ronogrimen commented on #357
@BKoehler i used a plugin that shows related tags. (Blog Tags Extension)

[2018-01-05 18:17] ranmichael opened #359 "Blog: Post Lists Component displays unpublished posts !"
October Build: 431
Rainlab Blog: 1.2.19
---

Steps to reproduce:
- Create a few blog posts - leave at least one unpublished.
- Create a new CMS page
 - Add the Post List component, leave it to its default values.
i.e. Post Order: Published(Descending)
- Go to the new page's URL in the Front-End.
Notice bug - All posts are listed, even those who are not published.

Edit:
Related to #346 ?

[2018-01-05 20:40] LukeTowers commented on #359
Duplicate of #349. See https://github.com/rainlab/blog-plugin/issues/349#issuecomment-347807046.

[2018-01-05 20:40] #359 closed

[2018-01-05 20:41] LukeTowers commented on #354
Does `if ($this->post))` work?

[2018-01-05 20:41] LukeTowers commented on #346
@jm-mwi What version of the blog plugin, sitemap plugin, and OctoberCMS are you running?

[2018-01-05 20:58] zooks commented on #354
Yes, it works.

[2018-01-05 21:06] LukeTowers commented on #354
Could you make a PR to change that line in the docs then?

[2018-01-05 21:34] ranmichael commented on #349
@LukeTowers said:

Well, I don't know.
While I understand the necessity to be able to see what unpublished posts look like, it's clearly not the case for Post Lists, and is very confusing.
which is why I opened #359 ...

I ended up **overriding the partial** for the Post List component to make sure I can program a post to appear automatically on a given time/date. Now I see incognito mode would've

[2018-01-05 22:03] #354 closed

[2018-01-06 00:48] InquisitiveDevelopment commented on #346
1.2.19 - Blog Plugin
1.0.8 - Sitemap

The site is running build 431.

[2018-01-06 02:41] LukeTowers commented on #346
This line (https://github.com/rainlab/blog-plugin/blob/master/models/Post.php#L533) should be what restricts it to only published posts. Are you able to do some debugging to find more information about the issue? @InquisitiveDevelopment

[2018-01-06 03:09] InquisitiveDevelopment commented on #346
@LukeTowers it appears to be fixed now.  Webmaster tools are no longer bitching!

[2018-01-06 03:10] InquisitiveDevelopment commented on #346
BTW, I'm @jm-mwi. That was my old work account.

[2018-01-06 03:26] LukeTowers commented on #346
Good to hear, I'll close this issue for now then.

[2018-01-06 03:26] #346 closed

[2018-01-18 14:33] HomaEEE opened #361 "Offset posts"
Please add official settings for Offset posts - for example: 3 posts in Slider, and offset=3 in posts sections

[2018-01-18 17:44] LukeTowers commented on #361
Please only use GitHub Issues for feature requests if you are using it as a pre-Pull Request collaboration tool. If you aren't planning on implementing it yourself, then it would be better suited being asked for on one of these channels:

Forum: http://octobercms.com/forum
IRC: #october on Freenode or http://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

The support demand for

[2018-01-18 17:44] #361 closed

[2018-01-18 18:11] grafxflow opened #362 "Add code syntax in posts"
I am currently trying to add php code syntax in my blog posts for tutorials.

It works for php syntax of code apart from '<?php' itself. Anytime I try to add something like '&lt;?php' it changes it back to '<?php' and therefore doesn't appear. Is there anyway around this issue?

[2018-01-18 18:33] graker commented on #362
Have you tried to use markdown
\`\`\`
some code
\`\`\` syntax?

[Take a look](https://graker.ru/news/2017/07/04/octobercms-ajax-popup-widget) I posted code with php and it works.

Also, you should probably ask it on forum since it's not really a bug.

[2018-01-18 18:54] graker commented on #362
If there's a bug then maybe you could provide an extended example? Like, OC and blog plugin version, editor in use, post sample you have an issue with

[2018-01-18 19:55] grafxflow commented on #362
An example would be.

I have replaced ``` replaced with ''' for example.

'''php
<?php
echo 'hello world';
?>
'''

Which works fine but when going back to edit the post it gets replaced with...

<pre><code class="language-php">
<?php
echo 'hello world';
?>
</code></pre>

[2018-01-18 20:16] LukeTowers commented on #362
@grafxflow this sounds like an issue with the ProBlog plugin

[2018-01-18 20:20] grafxflow commented on #362
Yes been looking through it now it return the 'content' rather than the 'markdown_content'. I will contact them now :) Thanks for all your help.

[2018-01-30 03:05] shahiran12395 opened #363 "blog posting article"
hi there, I just downloaded your plugin to October cms. When i create new blog article, the article still display when i open the blog directory despite the article still not published by me also when i publish the article by inserting publish date the day after today the article still publish in my webpage. how can i fix it?

[2018-01-30 03:09] shahiran12395 commented on #363
okey..just found older question and comment

[2018-01-30 03:09] #363 closed

[2018-02-02 11:52] viezel commented on #299
I can confirm that this is still an issue in the current 1.2.19.
`post.content_html|raw` is not translated
`post.content|md|raw` is translated

Please reopen @LukeTowers

[2018-02-02 14:41] LukeTowers commented on #299
@viezel can you do some debugging on why that's happening?

[2018-02-02 20:26] PanikaValecha commented on #209
Hi,
I am facing the same issue. The fix that you said doesn't work. The display is still the same.
#Abc or ## for the heading and ** for bold doesn't work. I created a blog and when I preview, it displays the #Abc as it is instead of showing Abc as bold.

Line 94 and 95 of the markdown editor is as follows:
 var $target = $(ev.target),
            $button = $target.is('a') ? $target : $target.clos

[2018-02-02 20:59] LukeTowers commented on #209
@PanikaValecha are you using the latest version of October and the blog plugin? Are you running PHP7?

[2018-02-02 23:57] PanikaValecha commented on #209
The person for blog plugin is 1.2.16. For the blogs, I am just using simple html.

[2018-02-06 14:05] jan-vince commented on #281
Strange as I need this on my current project :)

I will add this (tomorrow I hope) and let you know...

[2018-02-07 16:46] amjadniazi48 commented on #357
i also followed the video of Samuel Georges "Building a Blog & Forum Website" from youtube but it is not filtering the posts category wise

[2018-02-07 16:54] LukeTowers commented on #357
Funny how I still can't read minds or your code without seeing it yet 😉

[2018-02-07 18:39] amjadniazi48 commented on #357
following is the code for my blog page
-------------------------------
title = "blog"
url = "/blog"
layout = "default"
description = "The page showing all the posts"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = ":slug"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/posts"

[blogCategories

[2018-02-07 19:32] jan-vince commented on #357
I think there should be ````categoryFilter = "{{ :slug }}"```` in ````[blogPosts]```` component definition.

[2018-02-07 20:20] amjadniazi48 commented on #357
i did the same now its filtering category wise but it showing the post with categories but on categories area it shows the categories with 0 posts as shown in the following diagrams
![4](https://user-images.githubusercontent.com/2420029/35939537-422a1916-0c6e-11e8-8c58-c66243e530dd.png)
![5](https://user-images.githubusercontent.com/2420029/35939538-4260ccea-0c6e-11e8-9d76-733ca6dfb25c.png)

[2018-02-10 19:46] groovejunkk commented on #274
Hi,

I searched the internet and your documentation, but I couldn't manage to open links in a blog post inside a new tab. Is adding html properties except ids and classes implemented?
I would give it a try myself if this is not yet supported.

All the best,
Simon

[2018-02-10 20:11] groovejunkk commented on #274
I just grepped a little bit back and forth through a fresh october instance and found, that emmet.js seems to be responsible for the feature I am looking for. I am just guessing, but might it be, that for the
[This](http://google.de){#id.class} feature adding id or class to an html element, you rely on emmet.js?
For me adding aditional html properties would belong there. I will investigate further

[2018-02-10 20:37] HACKHERS opened #364 "Blog posts showing even if their date in future"
Hello,

I don't think this is a bug, at least in a way blog plugin designed. But It makes scheduling impossible. Maybe we can add second option like schedule or simply change the SQL query and get posts only published before 'now'.

[2018-02-10 21:18] LukeTowers commented on #363
Duplicate of #349

[2018-02-10 21:22] LukeTowers commented on #364
You are correct, this isn't a bug, it's a feature that is only enabled for logged in backend users. See https://github.com/rainlab/blog-plugin/issues/349#issuecomment-346855846.

Duplicate of #349.

[2018-02-10 21:22] #364 closed

[2018-02-13 09:21] jan-vince commented on #281
Hi @qroft

I had no time to add this yet but keep it in my todo list and will look at it asap!

[2018-02-27 05:10] hakimihamdan88 opened #368 "pagination using parameter"
possible to use "?page=1" as pagination?

[2018-02-27 07:24] LukeTowers commented on #368
Why not routing parameters? `/posts/:page?`

[2018-02-27 09:20] hakimihamdan88 commented on #368
need to combine /blog , /blog/post-slug and /blog/page

[2018-02-27 16:41] LukeTowers commented on #368
Make the routes more specific:
http://octobercms.com/docs/cms/pages#url-syntax

Blog: `/blog`
Blog Page: `/blog/:page?|^[0-9]+$`
Blog Post: `/blog/:post?`

[2018-03-06 17:36] GinoPane opened #370 "Publishing Blog Posts in the Future"
##### Expected behavior
The system shouldn't allow to set future date for a blog post. Otherwise it should really publish it in the future using scheduling tasks and keep the post hidden until then.

##### Actual behavior
You can create a post with future date and it will be available:

![image](https://user-images.githubusercontent.com/3897579/37027324-ea112f92-2128-11e8-8845-b124e7da0cd6.png)

#

[2018-03-07 02:21] SethArchambault opened #371 "post.url not getting correct url for post"
It returns a page instead.. So I've manually replaced all instances of post.url with '/myurl/' . post.slug

Not ideal!

[2018-03-07 03:50] LukeTowers commented on #371
No code provided nor replication instructions.

Not ideal!

[2018-03-07 07:12] GinoPane commented on #370
@LukeTowers cool, thanks!

[2018-03-08 09:12] ronogrimen opened #372 "How to update component when the button is clicked"

[2018-03-08 17:06] LukeTowers commented on #372
_No answer provided._

[2018-03-08 17:06] LukeTowers commented on #372
The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest their time helping with a question that wasn't even worth the askers time to ask correctly.

[2018-03-12 02:58] readtedium opened #373 "[Feature Request] Allow external featured images"
Hi there,

I have a website that I'm moving over with about 500 posts, each with an existing featured image. I'm already using imgix to manage my photos and would like to continue doing so. However, the plugin as designed requires featured images to be uploaded into the October CMS system.

I'm assuming that I could potentially use a custom field to put in existing URLs but it would be helpful to

[2018-03-12 04:28] LukeTowers commented on #373
How do you envision such a system working @shortformblog?

[2018-03-12 04:47] shortformblog commented on #373
I don't think to has to be anything complicated. In Ghost, there is a small icon in the corner of their image upload box that allows you to switch the option to a URL instead:

![Before](https://cdn.tedium.co/Screenshot%202018-03-12%2000.43.12.png)

![After](https://cdn.tedium.co/Screenshot%202018-03-12%2000.43.24.png)

By making it easy to let the user select this it could ease some complications

[2018-03-12 11:06] avitkinov opened #374 "Edit post - cancel text"
![screenshot from 2018-03-12 13 03 43](https://user-images.githubusercontent.com/3220115/37280338-233a4e62-25f6-11e8-8eb5-22e7cc768e68.png)

[2018-03-12 22:17] LukeTowers commented on #374
That's not from this plugin:
![screen shot 2018-03-12 at 4 16 44 pm](https://user-images.githubusercontent.com/7253840/37312491-de15163a-2610-11e8-8b09-411bb0a4e27e.png)

[2018-03-12 22:17] #374 closed

[2018-03-12 22:20] LukeTowers commented on #373
How would you suggest implementing that @shortformblog? Currently the featured image is a file attachment to the post object directly, so if you wanted to have just a URL there you would have to have support for doing so in your theme that's rendering the post. Such a think could conceivably be achieved by a plugin extending this one.

[2018-03-15 16:44] qroft commented on #281
Friendly bump. Hugs and greetings from this corner of the planet!

[2018-03-15 19:03] LukeTowers commented on #281
@qroft log an issue here instead: https://github.com/jan-vince/smallextensions/issues

[2018-03-15 19:22] jan-vince commented on #281
Hi @qroft, I have just added this function - it is in 1.8.0 version :)

[2018-03-16 15:57] shajidkhn26 opened #375 "There is no option to insert table"
There is no option to insert table.I have to insert a table with rows and columns.And insert a data in it.But there is no option of it

[2018-03-16 17:53] LukeTowers commented on #375
See https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#tables

[2018-03-16 17:53] #375 closed

[2018-03-26 12:43] MeteALANLI commented on #371
![no_url](https://user-images.githubusercontent.com/9418142/37906872-1bfba8b4-310c-11e8-95d4-f7a7d8173fe4.JPG)

Like he said post.url or category.url returns a page instead of slugged url. I've manually replace post.url and category.url to  '/myurl/' . post.slug

[2018-03-26 17:15] LukeTowers commented on #371
@MeteALANLI @SethArchambault sounds like you both haven't correctly setup the components to generate those URLs for you. See the `postPage` and `categoryPage` properties here: https://github.com/rainlab/blog-plugin#post-list-page

[2018-03-26 17:15] #371 closed

[2018-04-07 16:36] wertykid opened #377 "All posts show on Chrome but some posts do not show on other browsers like Microsoft Edge & Mozilla"
Hello,

Everything works for the plugin but I am getting this weird issue whereby all the posts show on Chrome but some posts do not show on other browsers like Microsoft Edge & Mozilla. While testing other plugins like SiteSearch, they were not able to search for the posts that do not show in Microsoft Edge & Mozilla as well.  Can I know why is that so?

[2018-04-08 06:01] LukeTowers commented on #377
@wertykid my guess is that you are running into the feature of showing unpublished posts to logged in users. See https://github.com/rainlab/blog-plugin/issues/349#issuecomment-346851649 and the related issues.

Try viewing the site in incognito in chrome to see if the articles still show up.

[2018-04-11 17:56] silasrm opened #378 "How ignore category(categories) in blogPosts?"
Hi,

I'm need to ignore an specific category or categories in specific page (template) using blogPosts to list all posts, except from that category(categories).

Any idea?

* In this way, I need to ignore that category from categories blogCategories.

[2018-04-11 19:58] LukeTowers commented on #378
Test https://github.com/rainlab/blog-plugin/pull/376

[2018-04-11 22:54] silasrm commented on #378
@LukeTowers how apply this PR in my installation? Help me :D

[2018-04-11 23:44] LukeTowers commented on #378
Copy the changes from the PR to the appropriate local files

[2018-04-14 09:16] joakimbo opened #379 "Default post.summary|raw manifests as unwanted tags"
I created this as an issue rather than PR in the case that I might have gotten "snowed in" on how to fix this and would like more views/opinions on a good solution.

So, in the ```components/posts/default.htm``` the summary attribute is handled by the following html and twig:

```<p class="excerpt">{{ post.summary|raw }}</p>```

This is fine when using the "Excerpt" found in the manage tab of a bl

[2018-04-14 17:43] wertykid commented on #377
Hello Luke,
Thank you for the quick reply. I tried it out in incognito mode and the posts show. Thanks a lot for the help!

[2018-04-15 08:16] LukeTowers commented on #377
@wertykid so did you figure out your issue then?

[2018-04-15 18:52] JoakimBo commented on #379
@mightyhaggis You can edit the default component markup after having added your component to a page/layout then placing your cursor somewhere in the string "component" in for example:

{% component 'blogPosts' %}

a fork icon should then appear in the upper right corner, if you click it the component will expand and allow you to edit its default markup.

This issue is to illuminate a problem with

[2018-04-15 23:49] metalac opened #380 "Adding code, not code syntax, to a blog post"
I'm trying to figure out what is the right way to add code to a blog post, or if it's even possible?  I want to make a blog post that has a little form on the bottom where user can enter a few numbers at the bottom and on submit a calculation is performed and result displayed.  I can do this no problem using the theme pages, but would ideally like to do this within the blog, since I'd like to keep

[2018-04-16 04:37] JoakimBo commented on #379
@LukeTowers Yeah my solution was simply to make the the auto-generated summary and the use of the `````` behave the same way as the Excerpt from the manage tab (which doesnt allow markup/html). Perhaps these behaving differently is what the authors wanted?

If we allow tags then we need to strip all offending tags (those that cannot be direct children of ```<p>```) before returning from getSummary

[2018-04-16 05:11] LukeTowers commented on #379
Does @daftspunk have any input on stripping tags from the autogenerated excerpts of posts?

[2018-04-16 06:30] metalac commented on #380
Ideally it would behave similarly to the way "pages" behave in the CMS section. You'd have a layout section and a code section.  Not sure how this would work from the security stand point.  Worst case I'd like it to be a component I could add to the blog post.

[2018-04-16 07:25] LukeTowers commented on #380
You could in theory add this functionality with a plugin extending the blog plugin; which is probably the best way to go with this idea, it seems a bit beyond the scope of what most users would need this plugin to do; at least to my initial assessment of the proposed idea.

[2018-04-17 08:33] Antar74 opened #381 "Plugin breaking image links"
Hello, thanx for your awesome plugin. But oddly enough I'm having trouble with image links after following your video tutorial. After wiring all 3 pages (blog, blog/post, blog/category) when I visit blog/post all images of my website (but those of the blog post itself) display a broken link image. Same goes for the blog/category and for the post count number that should appear next to the category

[2018-04-17 09:38] Antar74 commented on #381
Not sure if this is related, but there is a broken image link also on the blog plugin about page on my october installation. It seems to me there is something wrong with the whole plugin? or could it be my october installation? Help!!! :)

[2018-04-17 16:37] LukeTowers commented on #381
What does the rendered HTML for the broken images look like?

[2018-04-18 12:55] Antar74 commented on #381
Hello Luke thanx for getting in touch! Here you can see the html and the way it get's displayed before and after visiting a post. The trouble seems to be when visiting the post and the category filters. The blog page seems ok with the exception of the number in the post count for each category in the category list.

![screen shot 2018-04-18 at 9 50 56 am](https://user-images.githubusercontent.com/

[2018-04-18 20:11] LukeTowers commented on #381
Bingo, there's your issue. Because those URL's are relative to the current page (nothing at the start of them) they would only work on the home page because the full URL would resolve to `https://octobercms.if.edu.ly/themes/zanor-mdb4/assets/images/logos/campus-web.png`. However on any other page the full URL would resolve to `https://octobercms.if.edu.ly/my/page/url/here/themes/zanor-mdb4/assets/

[2018-04-18 20:11] #381 closed

[2018-04-30 06:33] Ognj3n opened #383 "Are there any sorts of tests for this plugin?"
Hi there!

I'm interested in testing this plugin using phpunit and behat but would like to know if there are already some tests written? I checked build branch and couldn't find them.

[2018-04-30 19:02] LukeTowers commented on #383
@Ognj3n there are no tests for this at present time, perhaps @scottbedard could add some.

[2018-04-30 22:34] scottbedard commented on #383
It sounds like @Ognj3n is interested in writing some tests, I'd be happy to be a reviewer on the PR

[2018-05-01 09:25] Ognj3n commented on #383
@scottbedard Not really an expert in those, so not sure if it's a good idea :)

[2018-05-03 15:09] zakir1929 opened #384 "Can I Stop markdown styling in blog editor in this plugin?"
My client want it to be simple and he does not not like markdown styling syntax in editor.

[2018-05-03 15:49] LukeTowers commented on #384
See http://octobercms.com/plugin/janvince-smallextensions

[2018-05-03 15:49] #384 closed

[2018-05-03 15:52] zakir1929 commented on #384
Thankyou @LukeTowers  for your response. although i did that by extending that plugin and changed field type to richeditor.
        \Event::listen('backend.form.extendFieldsBefore', function($widget)
        {

            if (!$widget->model instanceof \RainLab\Blog\Models\Post){
                return;
            }

            $fields = [
	                'content' => [
	                    't

[2018-05-03 15:54] zakir1929 commented on #384
Thankyou @LukeTowers  for your response. although i did that by extending that plugin and changed field type to richeditor.

        \Event::listen('backend.form.extendFieldsBefore', function($widget)
        {

            if (!$widget->model instanceof \RainLab\Blog\Models\Post){
                return;
            }

            $fields = [
	                'content' => [
	                    '

[2018-05-03 20:38] LukeTowers commented on #384
@zakir1929 test that thoroughly, the markdown field stores it's content in the `content` column which is then transformed into the `content_html` column. I would recommend that you remove the `content` field and replace it with the `content_html` field being a richeditor.

[2018-05-05 17:16] wertykid opened #385 "How to create a draft and schedule post to be posted at specific date and time?"
Hello,
As of now, the blog plugin does not have the feature of creating a draft as well as the ability to schedule a post to be posted at a specific date and time. Is there a way to get those features with the current version of the plugin? Thanks for the reply!

[2018-05-06 03:45] LukeTowers commented on #385
You should just be able to set the published date to a date in the future.

[2018-05-06 06:12] wertykid commented on #385
So as of now I can't save a post as draft? Even if I do not click on the "Published" checkbox?

[2018-05-07 00:04] Antar74 opened #386 "Extend post with future event date"
Hello. I'm enjoying your plugin very much, it's super useful. Congrats!

But I need some extra features on the blog post, I need to include an event date for posts in an event or activity category. Out of the box I have the post title, the post publishing date, the post category, and the post content. How can I have an extra field to add data related to a future date (not the post date)? I'm tryin

[2018-05-07 18:50] LukeTowers commented on #386
@Antar74 if you're not able to do that yourself with the [OctoberCMS docs](https://octobercms.com/docs) then I would recommend looking at another plugin built specifically for managing events.

[2018-05-07 18:50] #386 closed

[2018-05-08 19:00] johnyserpa opened #387 "Pagination not working - component configured with :page? parameter"
I have this code in order to have pagination in a postList.
[code]

Also the page is using this component with:
![component configuration](https://image.ibb.co/m98WeS/Screenshot_from_2018_05_08_19_57_49.png)

Shouldn't it be working?
You can see the live webpage [here](https://www.colegiopaulovi.com/noticias/)

Help is much appreciated.

[2018-05-09 05:13] LukeTowers commented on #385
@wertykid if the published checkbox is not checked then it won't be considered published. Try testing with checking your frontend through an incognito window. This plugin will show all posts (even unpublished ones) to logged in backend users so make sure to test in incognito mode so that you can see what your visitors would see.

[2018-05-09 12:12] johnyserpa commented on #387
Sorry, I had to fix it with a workaround. I'm hardcoding the path /noticias and using the var {{ page }} to add the pagination number.

[2018-05-09 13:43] wertykid commented on #385
Alright thank you very much for the help!

[2018-05-09 21:03] johnyserpa commented on #387
@LukeTowers this is the structure:
![url structure](https://preview.ibb.co/bW9qQd/Screenshot_from_2018_05_09_22_01_38.png)

[2018-05-09 21:04] johnyserpa commented on #387
@LukeTowers this is the structure:
![url structure](https://preview.ibb.co/eyXukd/Screenshot_from_2018_05_09_22_03_41.png)

[2018-05-09 22:30] LukeTowers commented on #387
What's the issue that you're running into?

[2018-05-10 19:32] johnyserpa commented on #387
`{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}`
`{{ this.page.baseFileName|page({ (pageParam): page }) }}`
`{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}`

These codes are not generating the an URL. Links become the same as the page we are in.

**Example**:
If we are in the `/noticias/2` page, all links will be `/noticias/2`, if we are in `/n

[2018-05-11 15:45] LukeTowers commented on #387
@johnyserpa thanks. Where is the partial that you have the links being generated in? Have you tried debugging the `posts.currentPage` and `page` variables to see what they contain in the context of your custom partial?

[2018-05-13 06:59] JoakimBo commented on #379
So my original "solution" was rather naive and having looked at it again the actual problem statement might closer to "should the generated summary either through the limiter or use of  end up in the paragraph with the 'excerpt* class".

i.e. when using the excerpt box the text ends up in the correct html paragraph tag as stated.
`<p class="excerpt">{{ post.summary|raw }}</p>`
However when using a

[2018-05-17 17:56] sozonovalexey commented on #387
I confirm the bug when perPage more than 10. The problem in `vendor/laravel/framework/src/Illuminate/Database/Eloquent/Model.php` on line 1464. `$method` variable accept this param with empty `$parameters`. So the `$column` in `value($column)` has no value. I don't know how it works but if I set

[code]

everything works fine.

[2018-05-17 17:58] sozonovalexey commented on #387
![2018-05-17_20-57-01](https://user-images.githubusercontent.com/1676060/40195060-0fd0df3c-5a15-11e8-9d8c-c78f2119cdfb.png)

[2018-05-23 17:54] sozonovalexey commented on #387
The problem was in two similar components (with similar params) on one page.

[2018-05-23 18:59] LukeTowers commented on #387
@johnyserpa is @sozonovalexey's answer correct?

[2018-05-29 14:31] #387 closed

[2018-06-25 17:54] lthurston opened #390 "Detail view pagination behaves unexpectedly with posts from a single day"
For example, with two posts with same day (but different time), the previous button simply toggles between those two posts.

This is due to the use of whereDate() rather than simply where() on line 390 of Post.php.

[2018-06-25 21:31] #390 closed

[2018-06-27 08:22] GinoPane opened #392 "Improve setUrl to handle arbitrary param names"
Hey guys!

The lines I'm referring to are:
https://github.com/rainlab/blog-plugin/blob/599102985de963773a3361006efcb902f2911985/models/Post.php#L145

It is `Post::setUrl` method. And actually I detected the same issue for plenty of other plugins. The summary is simple: page parameter are hardcoded, but the URL itself can be changed when we create a page which uses our component, like this:

![imag

[2018-06-28 04:53] LukeTowers commented on #392
Feel free to make a PR to add an additional param `$paramMapping = ['slug' => 'real_slug_param_name', ...]` to the `setUrl` method

[2018-06-28 05:53] johnnywo commented on #124
Thank you for your snippet! very useful for my project to!

[2018-06-28 06:32] GinoPane commented on #392
Hi @LukeTowers! Ok, will do. Already did something similar for my work-in-progress plugin.

[2018-07-03 12:22] GinoPane opened #393 "Improve order-by functionality to handle random sort"
Hi guys!

Blog post random sorting is implemented like this:

[code]

This implementation is not a cross-platform way of doing this. It will fail on SQLite for example:

![image](https://user-images.githubusercontent.com/3897579/42219348-8971f0ec-7ec3-11e8-86d1-594d58b0982f.png)

I'll do a PR for this and for sorting logic itself (there's no need in loop there, for example).

[2018-07-22 00:54] abr4xas opened #396 "[QUESTION] There is a way to extend components views? For match with my template??"

[2018-07-22 03:59] LukeTowers commented on #396
@abr4xas yes, see http://octobercms.com/docs/cms/components#overriding-partials.

[2018-07-22 03:59] #396 closed

[2018-07-26 02:20] #393 closed

[2018-08-03 08:08] novovo opened #397 "Set password for a post?"
How to set a password or login required for a post?

[2018-08-03 13:13] LukeTowers commented on #397
Add the functionality yourself, this plugin doesn't currently have that built in so you can either write yor own plugin that would add that functionality to this plugin or you can make a PR to add that functionality to this plugin.

[2018-08-03 13:13] #397 closed

[2018-08-04 08:12] rickmills opened #398 "Fresh install gives SQL errors"
I'm getting an sql error during install when adding project id to the October backend, as well as when you subsequently try to install the plugin.

Steps to replicate:

- Downloaded the OctoberCMS installer and run it, without picking a project id, just setup as a fresh project.
- Goto the plugins section of the admin area and add an existing project id that has just the blog attached to it, it'll

[2018-08-04 17:32] LukeTowers commented on #398
@rickmills this is the result of a separate plugin (probably a SEO plugin from the looks of it) attempting to modify the blog database tables before they exist. Make sure that the project ID that you are using really only has the blog plugin attached, and contact the author of the SEO plugin that is being used to let them know that their plugin isn't properly defining a dependency on the blog plug

[2018-08-07 12:57] rickmills commented on #398
Thanks, I'll dig into it more and try again :)

[2018-08-07 12:57] #398 closed

[2018-08-09 19:25] thesigae opened #399 "This is an issue I am getting after fresh installation and trying to create a post."
![image](https://user-images.githubusercontent.com/20378254/43920993-4fa6ecf4-9bcf-11e8-8d1c-bc4999679922.png)
It says there is no seo-title column.

[2018-08-09 20:30] LukeTowers commented on #399
Duplicate of #398. This is from a plugin that is poorly made and interfering with this plugin.

[2018-08-09 20:30] #399 closed

[2018-08-09 20:38] thesigae commented on #399
I apologize I actually ended up fixed this issue. The AnandPatel seo extension has to be installed after the supported plugins are installed. Thanks @LukeTowers

[2018-08-15 18:26] GinoPane opened #400 "Exception when accessing unpublished post"
![image](https://user-images.githubusercontent.com/3897579/44165363-31dd5d00-a0d1-11e8-9d93-743deb360699.png)

Admins can see unpublished posts, anyway the system throws an exception from `nextPost`, `previousPost` methods when they are called for unpublished post with `published_at = null`.

The exceptions i thrown here:

[code]

The screenshot was made using Rainlab.Bonjour theme, but it is not

[2018-08-15 23:00] #400 closed

[2018-08-16 16:09] JSalvonaBlueprint opened #402 "Featured Images Path (First image only)"
Hello,

I've been loving the plugin and it's definitely going to be used again by me. However I have one small problem.

I want to use a featured image for my blog posts page however I have multiple featured images and I only want to use the first featured image for each post on this page. I couldn't figure out how to do this, I tried various PHP methods using functions however none worked.

This

[2018-08-16 17:40] LukeTowers commented on #402
[code]

[2018-08-16 17:40] #402 closed

[2018-08-17 11:47] JSalvonaBlueprint commented on #402
Ah brilliant, thank you for the swift response Luke! I was thinking about it completely wrong.

[2018-08-28 06:05] Driglu4it opened #403 "How to export posts with featured image"
Hello, i have a problem.
When i trying do export blog posts i have no choose featured image in export column.
Any have idea (sorry, for my bad english)?

[2018-08-29 04:48] LukeTowers commented on #403
@Driglu4it Featured images are stored in the filesystem, how exactly do you expect to be able to export them and have it be a usable format utilizing elsewhere?

[2018-08-29 05:32] Driglu4it commented on #403
I meant the URL of attachment image

[2018-08-29 08:06] Rike-cz opened #404 "Categories component without 'displayEmpty' ignores nested categories"
**Situation:** _Category 1_ and nested _Category 1-1_. _Category 1-1_ has a post.

**Expected behavior:** When I am in _Category 1_, I can see all posts of nested categories too. When I use Categories component with `displayEmpty = false`, I can see in returned tree _Category 1_ and nested _Category 1-1_, because nested _Category 1-1_ has a post.

**Actual behavior**: First one works fine. But com

[2018-08-29 09:29] mennax opened #405 "Current page number appended to category url links"
If I visit second page: http://mydomain.test/blog/2

    title = "Blog"
    url = "/blog/:page?"
    layout = "default"
    is_hidden = 0

    [blogPosts]
    pageNumber = "{{ :page }}"
    postsPerPage = 5
    noPostsMessage = "No posts found"
    sortOrder = "published_at desc"
    categoryPage = "blog-category"
    postPage = "blog-post"
    ==
    {% set posts = blogPosts.posts %}
    {% for p

[2018-08-31 06:44] LukeTowers commented on #403
@Driglu4it a pull request. Basically, you write the code that you need and then you submit it to this repository by making a pull request on Github and then I review it and merge it into this repository.

[2018-08-31 06:45] LukeTowers commented on #404
@Rike-cz probably a bug, feel free to submit a PR to improve that query.

[2018-08-31 15:35] Rike-cz commented on #404
I am not sure that my solution is good. Please take a look: https://github.com/Rike-cz/blog-plugin/commit/6989124245a7e2e8248ed7893de74447026ebf78

[2018-08-31 16:55] bhrg opened #406 "I can't get my RSS feed to load"
I have been referring to the plugin details and see that I should be able to view my RSS feed by adding this to my URL: /blog/rss.xml

But I have not been able to get this to load. Could someone please help?

[2018-08-31 23:34] LukeTowers commented on #406
You need to add the RSS feed component to a page without any layout HTML and then visit that page's URL to see your RSS feed.

[2018-08-31 23:34] #406 closed

[2018-09-03 10:41] Antar74 opened #407 "Filter blog post list by month"
Hello

I need to filter a post list form a specific category by month (set with the publishing date). I already know how to filter by category, but not by publishing date. How can I do that? Thanks in advance!

[2018-09-05 12:47] mennax commented on #405
Fixed.

    <a href="{{ category.url }}">{{ category.name }}</a>

becomes

    <a href="{{ 'blog-category'|page({slug:category.slug, page:false}) }}">{{ category.name }}</a>

[2018-09-17 19:45] briddle opened #410 "Firing events"
Is it possible to add firing events onPost etc.?

[2018-09-18 00:00] LukeTowers commented on #410
Propose the events that you wanted added, what parameters would be expected, and where exactly you want it and we'll consider it.

[2018-09-20 10:31] briddle commented on #410
Hi Luke,

Just to be sure first: Is it correct that the Blog plugin does not fire events or am I missing something in the docs?

[2018-09-20 14:30] LukeTowers commented on #410
The blog plugin itself right now does not fire any of its own events, there are still the core events available though.

[2018-09-21 08:25] mennax opened #411 "Importing posts does not assign the selected categories"
blog/models/postimport/PostImport.php

        elseif ($this->categories) {
            $ids = (array) $this->categories;
        }

it should be:

        elseif ($this->post_categories) {
            $ids = (array) $this->post_categories;
        }

[2018-09-21 14:57] LukeTowers commented on #411
Why should it be that way?

[2018-09-21 15:39] mennax commented on #411
Hi Luke,
I'm sorry but I do not speak English very well nor am I an experienced
developer:

If I import posts and the option "Create categories specified in the import
file" is checked: everything good
but
if I import posts with the option unchecked and I select some categories
that imported posts will belong to
the table rainlab_blog_posts_categoriesis is not populated

blog/models/postimport/fie

[2018-09-21 18:11] LukeTowers commented on #411
@mennax can you submit a PR to change `post_categories` to `categories` in the fields.yaml file?

[2018-09-21 18:49] briddle commented on #410
Hi Luke,

Ah, I forgot about the core events, those will work for me :)
Thank you!

Closing.

[2018-09-21 18:49] #410 closed

[2018-09-21 20:31] mennax commented on #411
@LukeTowers Sorry, I am not able to submit a PR

with this change I get the error:

"The model class RainLab\Blog\Models\PostImport must define a method getCategoriesOptions() returning options for the 'categories' form field."

I have to change

in blog/models/PostImport.php

    public function getPostCategoriesOptions()
    {
        return Category::lists('name', 'id');
    }

in

    public f

[2018-09-21 20:43] LukeTowers commented on #411
Probably, I don't have time to look into it a whole bunch. Give it a try and test it out a couple of different ways and see what works :)

[2018-09-22 04:50] mennax commented on #411
Already tested,
with and without "Create categories specified in the import file"  checked,
works like a charm!
Thanks

[2018-09-22 06:26] mennax commented on #411
OK I try

[2018-09-22 08:58] mennax commented on #411
Done. Can you tell me please if I've created the PR well?

[2018-09-23 01:29] LukeTowers commented on #411
Looks good to me @mennax!

[2018-09-23 01:31] #411 closed

[2018-10-08 07:09] SalocinDotTEN opened #413 "Insert Components using MarkDown"
Hi,

I would like to include another OctoberCMS component (e.g. Polls) into the blog post content itself by using the Markdown syntax.

Is this possible?

Thank you.

[2018-10-08 14:16] LukeTowers commented on #413
@SalocinDotTEN what sort of syntax are you thinking of for this? Please provide an example of the markdown code you would expect to use to include a component and how you would handle populating that component's properties.

[2018-10-08 20:46] petehalverson commented on #405
I can confirm this issue.

I believe the underlying issue is here: https://github.com/rainlab/blog-plugin/blob/master/models/Category.php#L77

@LukeTowers I can't think of a reason you'd call `$category->setUrl()` wanting route parameters to persist seeing that it's not used for the paginator.

[2018-10-09 05:00] SalocinDotTEN commented on #413
Hi @LukeTowers,

I am intending to have a shortcode-like syntax e.g.
`[poll id="1"]`
that is simple for the blog editors to enter and the display result is the appropriate poll from the poll component with the correct ID.
If there is no ID it should not display anything or should show an error message.

[2018-10-09 14:37] LukeTowers commented on #413
While I like this idea, I don't really have time to implement it myself (unless you want to sponsor the work). Would you be willing to implement it yourself and make a PR or sponsor it being added?

[2018-10-10 03:10] SalocinDotTEN commented on #413
Alright thanks. I shall see what I can do and whether it can be made into a pull request.

[2018-10-31 01:38] #405 closed

[2018-10-31 01:38] LukeTowers commented on #405
Thanks @petehalverson!

[2018-11-02 15:02] foxik0169 commented on #299
Hello,

this bug is still present in 1.2.19. In blog plugin there is logic in the beforeSave function which stores the "compiled" html in the content_html field. I expect there is a problem with the implementation when the post is saved, the translate plugin doesn't run the command for its translated field (translated content_html is empty). Don't know if this is a problem with this plugin or the

[2018-11-04 17:10] foxik0169 commented on #299
Hello,

so after some time spent trying to come up with a better solution I wasn't able to come up with one. The problem is that as I said before beforeSave is not called for the translated version of the field.

My solution was to update the translated fields by hand in the beforeSave function if isClassExtendedWith() was true for the TranslatableModel behavior. For this to work tho I had to crea

[2018-11-05 15:16] LukeTowers commented on #299
@WrobelekStudio I'm open to any suggestions as long as you can clearly explain how it works & why it's necessary :)

[2018-11-08 02:46] junshenshi commented on #289
@ribsousa
Hi
请问您那个图片插件怎么能使用多语言？
How can your image plug-in use multiple languages?

[2018-11-08 12:52] ribsousa commented on #289
Hello, inside the lang folder you can add your language and october will translate altomatically.
You can add a pull request in [github](https://github.com/ribsousa/featured-images), which I do the plugin update to add your language.

[2018-12-04 12:12] jeanbelhache opened #418 "Blog articles and Multisite"
Hi,

Is il possible to manage articles blog with the plugin Multisite (keios) ?
I mean : attached articles to one site, not all.

Regards

[2018-12-04 17:13] LukeTowers commented on #418
That's a question that you would have to ask that plugin's author, not us.

[2018-12-04 17:13] #418 closed

[2018-12-07 08:50] gergo85 opened #419 "The preview of video doesn't appear"
On the Github:
![novideo](https://user-images.githubusercontent.com/2959112/49637375-7cc70b80-fa05-11e8-821e-c4e8621038f9.JPG)

and October too:
![novideo_cms](https://user-images.githubusercontent.com/2959112/49637394-8badbe00-fa05-11e8-9a69-2803563044f2.JPG)

[2018-12-11 13:52] BahodurSaidov commented on #349
For those who look for quick solution (remove confusion for yourself), just use this code for post title with preferred icon:
[code]
When you are loggedIn in BackEnd, you can notice the difference easily...

[2019-01-07 20:21] php-bob commented on #325
I get a similar message when using the static pages plugin and the back end user does not have a role with Upload and manage media contents.  Found this post by googling the error message (simlar as mjauvin but on line 550), so I can understand if this is not the correct location for this comment.

![image](https://user-images.githubusercontent.com/17052981/50790856-b2ba1280-1285-11e9-8b5c-005a339

[2019-01-10 18:10] jarisk opened #421 "Doesn't throw 404 error, if post doesn't exist."
Quite frustrating that it doesn't throw 404 page, when post doesn't exist. I found threads about it, but it's annoying that it can't be injected by default.

[2019-01-16 07:03] LukeTowers commented on #89
Got an explanation of how it ain't working anymore @Hessel91?

[2019-01-16 08:43] Hessel91 commented on #89
Well I get [https://ibb.co/q0kNNqt](this) error when I add the code to the blog post page.
I used `{% if this.page.og_image %}
     <meta property="og:image" content="{{ this.page.og_image }}" />
{% else %}` inside the head of my theme.

[2019-01-16 20:12] Hessel91 commented on #89
Thank you Luke for notice. It works perfectly now!

[2019-02-01 14:14] GinoPane commented on #362
@LukeTowers this one should be closed

[2019-02-01 14:34] w20k commented on #362
@GinoPane be more specific why? Please 😄

[2019-02-01 14:44] GinoPane commented on #362
@w20k ah, I was just scanning opened issues, read comments and found out that this issue belongs to the ProBlog plugin, and the TS confirmed that above:

[2019-02-01 14:55] w20k commented on #362
Closing, based on the @grafxflow comment.
Not related to the Blog Plugin.

[2019-02-01 14:55] #362 closed

[2019-02-19 02:51] cbshiles commented on #106
This confused me as well. Would you all still be open to an edit to the README? I'm not sure if I will word it to your liking, but I am willing to try.

[2019-02-19 03:01] LukeTowers commented on #106
@cbshiles go for it! I'll review it and let you know if any modifications are required.

[2019-02-19 19:38] drmzio opened #424 "[Change] Featured Image should use Media Manager by default"
Blog posts commonly use the same featured image across multiple posts and it makes sense that the featured image should open up the media manager. WordPress does this by default. Also, people using S3 to store media can attach their external image to the blog post using the media manager, rather than having to upload it manually.

The blog plugin was released in 2014 but the media manager was rele

[2019-02-19 23:17] LukeTowers commented on #424
It's not something that can be easily changed given that it would break existing installs, but it's behaviour that's easily modified by using a plugin to extend this one.

[2019-02-19 23:23] alainstudio commented on #424
Media Manger would be a nice addition, also you could just keep this as it is, so it will not break any existing install, and call in BLOG-PLUGIN 2 - with media... I am new to October CMS, moving a couple WP website to October CMS, thanks for your hard work!

[2019-02-19 23:29] drmzio commented on #424
@LukeTowers Agree with @alainstudio. Perhaps have this feature implemented on the next major release.

[2019-02-20 03:04] drmzio commented on #424
Ok so I've managed to create a small plugin that adds the media manager widget to a new `banner_image` field. Since it's very small, I don't think it needed to be published on the marketplace. This method uses the Posts `metadata` column to store the saved image.

Here's the plugin code, along with an example on how to access the banner image URI inside Twig template: https://gist.github.com/drmzi

[2019-02-20 23:04] LukeTowers commented on #424
I'm going to say that the official way of accomplishing this request will be extending the blog plugin yourself to do so. October is built to make those sorts of extensions easy to accomplish so I would prefer we kept away from a breaking change for something that is easily implemented by whoever wants it when they want it.

[2019-02-20 23:04] #424 closed

[2019-02-21 07:35] stefanreimert commented on #424
Unsubscribe

Verstuurd vanaf mijn iPhone

[2019-02-22 21:28] StrangerPings opened #427 "Adding blog author and avatar to post list and post views"
I've seen many solutions but none seem to work.  I have tried

[code]

in the components template files.  Even tried adding

`public $belongsTo = [ 'user' => ['Backend\Models\User','key'=>'user_id'] ];`

to the model file in rainlab/blog

Yet nothing outputs.  I have also tried

https://octobercms.com/forum/post/adding-author-to-blog-post
https://github.com/rainlab/blog-plugin/issues/206
https://g

[2019-02-22 21:32] w20k commented on #427
Have you try `{{ dump(post) }}` or `{{ dump(post.user) }}` to understand what you have in there.

[2019-02-22 21:40] StrangerPings commented on #427
@w20k Yes I have tried, dumping post outputs a lot of info and post.user returns null.

![image](https://user-images.githubusercontent.com/22084825/53272881-61a59700-36ea-11e9-852b-4da3695b5d43.png)

[2019-02-22 21:51] StrangerPings commented on #427
There is even a theme that displays the post author https://octobercms.com/theme/krisawzm-simply-blog

However on a quick installation it doesn't work either.  I haven't used October in about a yearso something has changed since as that used {{ post.user.full_name }} https://github.com/kalfheim/simply-blog-theme/blob/master/partials/blogPostsListRaw.htm#L23

[2019-02-22 22:08] w20k commented on #427
@StrangerPings do you have User in user table?
One more thing, users won't be applied, and I don't think there is an option right now to update postest with "admin" users

[2019-02-22 22:18] StrangerPings commented on #427
@w20k I left in the default post which of course doesn't have a user!  I am such an idiot 🤕 Many thanks for solving this one for me!  I would have been going around in circles for days 😛

[2019-02-22 22:18] #427 closed

[2019-03-03 08:39] cloudwales opened #429 "Help with Blog layout"
Hi. I was wondering how i would get the page posts to show in a row of 2 posts. Hope that makes sense.

So there will be 2 articles on a row.

Any help would be greatful
Many thanks

[2019-03-05 08:16] MiguelDebruyne commented on #328
Thanks op for posting your code.

So whats the right way of dealing with this? I've had the same problem as the OP. Made a CMS page and imported the static page in the layout.htm so I could get it's contents. But now I have a 'dead' static page, and a static page you have to give an url (you can delete it in the code but client can give it one back). So how do you deal with this?

[2019-03-05 09:45] maartenmachiels commented on #328
Hi Miguel, with pleasure. I've done multiple projects with a newspage that at least has one user-editable section. My approach was always to create a placeholder static page for the content that should go on the (regular) news overview page and check the `hidden `and `hidden in navigation` checkboxes, so that this placeholder page is excluded from sitemaps etc...

![nieuws-placeholder-static-page]

[2019-03-05 14:46] MiguelDebruyne commented on #328
Bedankt voor het snelle antwoord! (Thanks for the fast reply)

In the next project I will try to find out how to hide "settings/instellingen" for the client, in most cases they don't need to see or change these things anyway. That's a way to fix that part. Because of the hardcodedness (which I don't like, it feels wrong) if they accidentally change the url the page will be broken.

Unfortunately u

[2019-03-05 15:10] maartenmachiels commented on #328
Hi Miguel,

Met plezier (my pleasure).

I've just checked for you. The checkboxes hidden and hidden in navigation might give the wrong impression. When you are logged in as an administrator, these hidden statuses are disregarded. Same thing happens with the Blog plugin for example (Blogposts appear even if they are not published, so long as you are logged in as an administrator). Try checking both

[2019-03-06 08:59] MiguelDebruyne commented on #328
Aah indeed the page is not visible while not logged in, awesome! Didn't know that (first octobercms website). I will do the redirect you're saying though because sooner or later a client is gonna be confused, forgotten what we said and ask questions about why that page is not working as it should. You know clients ;)
I thank you fellow Nerdian!

[2019-03-06 09:41] maartenmachiels commented on #328
Seems like a good approach! If I come across a different approach, I will post back here. I've been recently experimenting with changing fields of static pages with boot() in a separate plugin. That might help to prevent deletion of the placeholder pages etc... Nice to know there's another October CMS enthusiast nearby!

[2019-04-03 17:06] GinoPane commented on #392
Will push new commits to this soon

[2019-04-09 14:17] hola56 opened #432 "No center image option in editor"
Hi,

There doesn't appear to be an option to center an image if you upload it to the post and then click on it- any ideas on how to get that enabled please?

Also, there doesn't seem to be a preview post option available on either draft or published posts - is there a way to add that?

Many thanks.

[2019-04-18 09:43] SalocinDotTEN commented on #413
Sorry for the long delay. I have found another way by using the blog tags plugin and having an if statement to detect the tag and show the according survey.

[2019-04-18 09:43] #413 closed

[2019-04-20 17:19] sabuz opened #433 "Add featured image from media manager"
Featured image should be inserted from media manager. As a user you may want to reuse featured images, so you should use media manager.

[2019-04-21 11:04] bennothommo commented on #348
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-21 11:04] #348 closed

[2019-04-21 11:05] bennothommo commented on #357
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-21 11:05] #357 closed

[2019-04-21 11:06] bennothommo commented on #368
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-21 11:06] #368 closed

[2019-04-21 11:36] bennothommo commented on #433
Hi @sabuz, do you have any thoughts on how this would be implemented, keeping in mind that there's thousands of blog plugin installations already using the file upload widget?

[2019-04-22 18:47] sabuz commented on #433
@bennothommo pls check/follow WordPress. Million peoples are using it because of its ease of access!

[2019-04-23 02:49] bennothommo commented on #433
@sabuz If you want to see it implemented, please feel free to submit a PR, or alternatively, sponsor the work to be done by the core team.

[2019-04-23 02:52] bennothommo commented on #419
The video has been changed to a link as of 639a9b3b277161781940302d1165daa76eb8acf7.

[2019-04-23 02:52] #419 closed

[2019-04-23 02:54] bennothommo commented on #432
@hola56 Would you mind providing us more information on this? Are you referring to an image uploaded directly into the editor, or an image uploaded as a "featured" image?

[2019-04-23 04:20] bennothommo commented on #429
@cloudwales You can modify the blog posts component markup to any format you would like. For example, you can copy the component partial (https://raw.githubusercontent.com/rainlab/blog-plugin/master/components/posts/default.htm), place it into your layout or page that the component is tied to, and then replace every reference of `__SELF__` with the component's alias (by default, this is `blogPosts

[2019-04-23 04:20] #429 closed

[2019-04-23 04:33] LukeTowers commented on #433
Functionality already exists by using https://octobercms.com/plugin/ictsoft-blogfeaturedfiles

[2019-04-23 04:33] #433 closed

[2019-04-23 04:38] bennothommo commented on #383
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-23 04:38] #383 closed

[2019-04-23 04:39] bennothommo commented on #380
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-23 04:39] #380 closed

[2019-04-23 04:39] bennothommo commented on #407
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-23 04:39] #407 closed

[2019-04-23 04:41] bennothommo commented on #372
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-23 04:41] #372 closed

[2019-04-23 04:42] bennothommo commented on #377
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-23 04:42] #377 closed

[2019-04-23 04:43] bennothommo commented on #404
@Rike-cz If you are still interested in seeing this actioned, could you submit your changes above as a PR so that we can determine if it conflicts with any recent changes?

[2019-04-23 15:00] hola56 commented on #432
Hi, please see screenshot of issue. Thanks.
![center](https://user-images.githubusercontent.com/33097033/56591599-ec1e5000-65e0-11e9-9e02-299febc4e65e.PNG)

[2019-04-24 15:23] Rike-cz commented on #404
@bennothommo You can try it.

[2019-04-25 02:35] bennothommo commented on #404
Thanks @Rike-cz :)

[2019-04-25 02:37] bennothommo commented on #432
@hola56 Apologies, but I still do not understand what you're referring to. There is a "center image" action in your screenshot above. Would you mind giving us more information on exactly where you are not seeing this "center image" action?

[2019-04-25 08:18] hola56 commented on #432
Hello,
The only options available when you click on an image within a post are Align Left, Align Justify and Align Right - I cannot see the Align Center?

[2019-04-25 10:03] bennothommo commented on #432
@hola56 I believe you can use the normal align tool (next to the Italics button) in the main richeditor toolbar to center the image. The one in the image toolbar is used mainly for setting a float direction when you use the "Inline" image style, to allow the text to wrap around the image.

[2019-04-25 10:03] #432 closed

[2019-04-25 10:11] bennothommo commented on #274
@quochuy @groovejunkk The Markdown parser in use does not support specifying attributes like `target`, only IDs and classes. If you want to insert links with a particular `target` attribute, you can either use a raw `<a>` HTML tag, or specify a class in Markdown and use JavaScript to modify the target attribute on-the-fly.

[2019-04-25 10:11] #274 closed

[2019-04-25 10:13] bennothommo commented on #373
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-25 10:13] #373 closed

[2019-04-30 15:27] LukeTowers commented on #325
@vanmil @Harti @php-bob Please test octobercms/october#4305 and then we can merge it in

[2019-05-02 08:33] maartenmachiels commented on #309
Hi guys, has anyone figured out a working solution for this issue? This seems to be an important detail.

[2019-05-04 17:21] LukeTowers commented on #309
@maartenmachiels I don't understand what you're asking

[2019-05-04 17:48] w20k commented on #309
@maartenmachiels author of this PR hasn't responded https://github.com/rainlab/blog-plugin/pull/310
Also, read the comment from @jan-vince. He has a point: https://github.com/rainlab/blog-plugin/pull/310#issuecomment-324440470

[2019-05-04 22:19] JayFrogster opened #435 "Category pages with pagination - unexpected behaviour"
When setting up a category page with pagination ("/category/:slug/:page?") the website URL's "break" and there is no more a validation if a category exists.
When removing the ":page?", the validation works and non-existent categories entered manually into the URL will lead to a 404.
With ":slug/:page?" I can manually enter any category name (that doesn't exist), there will be no 404 redirect.

Is

[2019-05-05 05:24] bennothommo commented on #435
@JayFrogster It's likely this a scenario that is not handled with the category component currently - there's been a couple of issues reported where there's no handling of missing posts as well (https://github.com/rainlab/blog-plugin/issues/309#issuecomment-489349163 comes to mind). We will review this and get back to you.

[2019-05-05 09:40] bennothommo commented on #404
Fixed by #434.

[2019-05-05 09:40] #404 closed

[2019-05-05 11:31] JayFrogster commented on #435
Related to the problem above, I suspect:

1. Set your home.html up for a post loop.
2. Enable pagination via url =  "/:page?".
3. Type *any* text into the browser URL bar and hit return - there will be no 404 error/redirect.

If you do this on a category page, you can force a 404 redirect. But if you try to implement a forced 404 redirect on the homepage, even the top level page of home ("/") beco

[2019-05-05 13:49] bennothommo commented on #435
@JayFrogster I dare say at a quick glance, it has something to do with how the system handles optional URL properties - in both instances you specified above, the page property was optional. If you feel up to it, would you be able to see if you can determine the cause and submit a PR?

[2019-05-05 14:03] JayFrogster commented on #435
@bennothommo Unfortunately, I'm way to new to October. "Migrated" only 4 days ago from Wordpress to October, I'm still learning just the basics :)
I can try to dig into it, but I doubt I'm much of a help.

You mean this is more of a core code issue, than of the actual Blog plugin?

[2019-05-05 14:17] bennothommo commented on #435
@JayFrogster That's fine if you're new - it may be a good learning experience to dive into the core a bit and see how it all works. :) Any contributions or suggestions you can make are very appreciated.

Whilst it might be something to do with the core, it's likely this can just as easily be handled in the component as well.  if you do investigate and it turns out to be a core issue, feel free to

[2019-05-06 08:35] maartenmachiels commented on #309
Hi @LukeTowers sorry, bad choice of words. Non-existing blog posts return a 500 error code instead of a 404. From an SEO perspective, this is less than ideal.

The pull request that has been created to solve this issue has been abandoned, and I was asking why this is. In my personal case, I've managed to solve it by editing the function `loadPost()` in the `Post.php` component as suggested and I w

[2019-05-06 08:48] bennothommo commented on #83
@daftspunk @LukeTowers Is there anything in this list that you still wanted implemented? Given it was started 4 years ago, it might be a bit out-of-date now :)

Search is already covered by [this plugin](https://octobercms.com/plugin/offline-sitesearch), for example.

[2019-05-06 12:11] w20k commented on #83
@bennothommo maybe you could update the list:)?

[2019-05-06 18:33] RCheesley opened #437 "Problem with /default/ instead of category in all posts"
This was discovered originally when using a sitemap plugin ( see https://github.com/utopigstudio/octobercms-plugin-seo/issues/2) but apparently it also relates to the all blog posts view, in that the URL is not using the category as would be expected, but instead inserting /default/ in the URL path.

This means that it causes problems with using the all blog posts view but also impacts on the URL'

[2019-05-07 03:38] bennothommo commented on #437
@RCheesley Thanks for the report. I read through your linked issue as well - just to check, was the "default" slug used at all in any of the categories that you had linked the posts to?

[2019-05-07 05:18] LukeTowers commented on #309
If an empty slug is ignored then I think that's fine. @maartenmachiels if you could submit a new PR with your proposed fix then we can review and merge it.

[2019-05-07 07:14] RCheesley commented on #437
No, as far as I'm aware we are not using it anywhere in the site setup.
I'll double check as someone else but the site but I've done quite a bit of
work on it and haven't come across it anywhere!

On Tue, 7 May 2019, 04:38 Ben Thomson, <notifications@github.com> wrote:

[2019-05-07 09:54] bennothommo commented on #437
@RCheesley Thanks for letting us know. We will take a look at it shortly.

[2019-05-07 13:52] maartenmachiels commented on #309
Hi Luke, I hope I did everything correctly. My first pull request can be found here:
https://github.com/rainlab/blog-plugin/pull/438/commits/0b4ef4609fd06f8b83d9beca8149d2cd32cc5850

[2019-05-08 10:48] pierzo opened #439 "How to Set the Page Title as the current post title on single post page?"
#

[2019-05-08 15:23] pierzo commented on #439
I use your plug on your website. On the single entry page, my page title is "single post - website.com" I want to have "my post title - website.com".

[2019-05-10 18:10] mjauvin commented on #325
Resolved by https://github.com/octobercms/october/pull/4305

[2019-05-10 18:10] #325 closed

[2019-05-13 19:13] schallerstudios opened #440 "Using Relative Links in Blog Post Text"
Hello,
Thank you for your work on the Blog Plugin. It's been very valuable for us. :)

My question is, how do I include relative links in a blog post?
When I try, the blog rendering engine assumes that the link relates to another blog post and does not allow me to make it relative to the site root.

I have not been to find an answer in the documentation. I did try to use Twig tags, but that render

[2019-05-13 22:04] LukeTowers commented on #440
Same as you would any other way? Just start the link with `/` and that will make it relative to the domain root.

[2019-05-13 22:04] #440 closed

[2019-05-13 23:11] schallerstudios commented on #440
The problem is that in my development environment, October is installed in a subfolder, not at the top level, whereas the live site is installed at the top level. The url('/') method delivers the correct root location for the October install so that links work both in the development environment and the production environment. But I haven't found an equivalent that works in the blog post copy.

Th

[2019-05-14 02:39] LukeTowers commented on #440
The blog post copy is only run through a markdown parser, so there is nothing built in that would provide what you're looking for. You could however register a custom Twig filter in your plugin (https://octobercms.com/docs/plugin/registration#extending-twig) that you could use to replace a preset string of your choice with the root url dynamically when rending the blog post content.

Something lik

[2019-05-15 15:36] bennothommo commented on #437
@RCheesley I have looked into this further for you. As you need to select a page with the "blogPost" component to display "all blog posts" in a menu or sitemap, the URLs used in the menu or sitemap will reflect the URL of the selected page, with *only* the blog slug property populated. It will not populate the category slug property as blog posts can belong to more than one category.

This is why

[2019-05-15 15:36] #437 closed

[2019-05-15 15:42] bennothommo commented on #276
We have started tagging the RainLab plugin releases for new versions, such as for the Pages and Builder plugins:

https://github.com/rainlab/pages-plugin/tags
https://github.com/rainlab/builder-plugin/tags

We will be intended to do this for any future releases of the RainLab plugins, and will look into a way of adding in the historical version tags as well.

[2019-05-15 15:42] #276 closed

[2019-05-17 22:25] LukeTowers commented on #276
@petehalverson any updates on your command line wizardry for the above?

[2019-05-17 23:00] petehalverson commented on #276
@LukeTowers I shared that via Slack a while ago on the #octodock channel. Looks like it was lost when the history was cleared. I can share again!

[2019-05-17 23:38] petehalverson commented on #276
@bennothommo @LukeTowers https://gist.github.com/petehalverson/fcffb67deb65a3a6030e11410b8c4bd6

[2019-05-18 01:52] bennothommo commented on #276
Thanks for that @petehalverson. I ended up attempting to write one a couple of weeks back (https://gist.github.com/bennothommo/fc9be262c1968199266f6239f0af2754) but not sure how well it works, so I'll give yours a go as well. :)

[2019-05-19 07:41] bennothommo commented on #403
Implemented support for exporting featured images as of 2a3d4ae4c9b2575328c24671f948e718b3e370b4.

[2019-05-19 07:41] #403 closed

[2019-05-19 15:45] #392 closed

[2019-05-23 08:27] exaline-ru opened #441 "Move to the root category of a post when it is closed"
When you turn off the blog post and click on the his link, error 404 will appear. How do I get to the root category of a closed blog in this case?

[2019-05-25 08:38] bennothommo commented on #441
Hi @exaline-ru, you have a couple of options:

- Simplest solution is to use a redirection plugin like [this one](https://octobercms.com/plugin/vdlp-redirect) to point the old blog URL to the category root.
- Or, you could make a plugin that will intercept requests to the Blog plugin that are going to unpublished blog posts and handle the redirection from there.
- Or, you could provide a PR for th

[2019-05-25 08:39] #441 closed

[2019-05-26 05:35] Developer-Nijat opened #442 "Category post count is not working correctly sometimes."
Category post count is not working correctly sometimes. What is problem? post has been added successfully to category. In category page filter is working fine. everything is working but category post count is not working sometimes both backend and frontend

[2019-05-26 21:29] LukeTowers commented on #442
More details please. Replication instructions required too.

[2019-05-27 02:31] Developer-Nijat commented on #442
It is bad that such errors are in world-famous CMS.  It's just a simple blog.  Why are there childish mistakes?  Why hasn't  your team fixed by now?

[2019-05-27 02:32] Developer-Nijat commented on #442
For example another problem. You can't insert post body start with <body> tag content.

[2019-05-27 02:33] bennothommo commented on #442
@Developer-Nijat A better attitude might get the results your asking for.

[2019-05-27 02:33] #442 closed

[2019-05-27 02:38] Developer-Nijat commented on #442
I'm afraid to add a new category now that a new error will appear.  Every time I add a new 'plugin', an error appears.  We are obliged to stay in such a situation for a simple blog.  Please check everything well.

[2019-05-27 02:47] bennothommo commented on #442
@Developer-Nijat If you want us to investigate, instead of claiming we are making "childish mistakes" and demanding immediate fixes, you could instead help us out by giving us more information on the issue as @LukeTowers asked for initially, including the error messages you are receiving and any steps involved that would allow us to replicate the issue.

[2019-05-27 02:51] Developer-Nijat commented on #442
![Screenshot_2019-05-27-06-50-13-211_com android chrome](https://user-images.githubusercontent.com/51002164/58392619-e71f4700-804b-11e9-9cec-daae338eb5ae.png)

[2019-05-27 02:55] Developer-Nijat commented on #442
![IMG_20190527_065447](https://user-images.githubusercontent.com/51002164/58392706-5bf28100-804c-11e9-873e-0e16b6c92076.jpg)

[2019-05-27 02:55] bennothommo commented on #442
@Developer-Nijat Why are you trying to add a `<body>` tag into a blog post? The body tag is meant to be used the surround the entire HTML contents of a page. Given that blogs are generally inserted into a CMS page, the page should already have a `<body>` tag.

[2019-05-27 03:03] Developer-Nijat commented on #442
Dear friend, I have the right to do what I want as a writing. it is just insert bug. What do you think about serialize?

[2019-05-27 03:10] Developer-Nijat commented on #442
I have left 'Voyager laravel admin' for such errors.  I decided to use Octobercms.  But I'm looking over here and there are bugs and it makes me sad.

[2019-05-27 03:19] bennothommo commented on #442
@Developer-Nijat We do not consider that to be a bug. As per the [Mozilla Developer Docs](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/body), the only permitted parent tag of a `<body>` tag is `<html>`. The Markdown editor is not the right place to add a `<body>` tag as its meant to be used just for the formatting of content in a blog.

[2019-05-27 04:40] LukeTowers commented on #442
@Developer-Nijat try wrapping your HTML code in backticks so that Parsedown doesn't think that it is actual HTML to be parsed.

[2019-05-31 08:47] MaTToX3 opened #445 "published_at not converted to correct timezone"
Our client just published one of the articles and it was not showing up. Took me a while to realize they selected the time which is two hours after the current UTC time.

Is it possible that selected time in published_at field is converted to the correct timezone of the app (in my case UTC)?

[2019-06-05 07:15] allfreelancers opened #447 "Slow query"
[code]

these requests are very long, about 29 seconds

[2019-06-05 07:36] w20k commented on #447
@allfreelancers how many records do you have?
Have you tried adding an additional index?

[2019-06-05 07:37] allfreelancers commented on #447
about 3000-4000 records

all index a set

PRIMARY | BTREE | Да | Нет | id | 4603 | A | Нет |  
-- | -- | -- | -- | -- | -- | -- | -- | --
  |   | BTREE | Нет | Нет | locale | 4 | A | Нет |  
  |   | BTREE | Нет | Нет | model_id | 4603 | A | Да |  
  |   | BTREE | Нет | Нет | model_type | 4 | A | Да |  
  |   | BTREE | Нет | Нет | item | 2 | A | Да |  
  |   | BTREE | Нет | Нет | value (256) | 4603

[2019-06-05 07:47] w20k commented on #447
@allfreelancers I think your best bet would be to do something similar. Joining the translated index should be your issue here.

https://github.com/rainlab/blog-plugin/issues/321#issuecomment-309293121

[2019-06-05 14:50] allfreelancers commented on #447
sorry, but it is wrong

# Time: 2019-06-05T14:36:24.986001Z
# User@Host: ortcom_cms[ortcom_cms] @ localhost []  Id:  1210
# Schema: ortcom_cms  Last_errno: 0  Killed: 0
# Query_time: 75.246369  Lock_time: 0.000101  Rows_sent: 1  Rows_examined: 8076190  Rows_affected: 0
# Bytes_sent: 21604
SET timestamp=1559745384;
select `rainlab_blog_posts`.* from `rainlab_blog_posts` left join `rainlab_translate

[2019-06-05 19:33] cedricdujardin opened #448 "Error when use of "random" in order list of list component"
I got an error when I use the random option in list component :

[2019-06-06 05:40] allfreelancers commented on #447
@w20k ?

[2019-06-06 07:49] w20k commented on #447
Currently, you (@allfreelancers) have only a single option to go for, don't think that we'd improve it right away.
And it's described in the link I've provided.

[code]

[2019-06-06 08:12] allfreelancers commented on #447
@w20k you see what:
Query_time: 75.246369 Lock_time: 0.000101 Rows_sent: 1 Rows_examined: 8076190 Rows_affected: 0

???

[2019-06-06 09:06] bennothommo commented on #447
@allfreelancers It's because of this part of the query:
[code]
Whilst the `item` field is indexed, the `value` field isn't. When it is a LEFT JOIN and you've got 8 million+ records in there, it is going to be slow. If you can suggest some improvements to the query to make it faster, please feel free to make a comment here or submit a PR.

[2019-06-06 09:10] bennothommo commented on #448
@cedricdujardin We'll need a little more information here. Which component and property are you referring to?

[2019-06-06 10:07] w20k commented on #447
@bennothommo don't think there is a lot of option to go for. Better to use, not a straightforward approach, that I've mentioned above.

Simple example. Every column, despite Id, is varchar or worse - text. Even if you add indexes, it's just won't perform, only in case you have less then 100 rows:
![Screenshot 2019-06-06 at 13 03 44](https://user-images.githubusercontent.com/1053320/59024950-bb763b

[2019-06-06 10:20] marcomessa opened #449 "Avoid published_at auto update on post save"
I don't know if this is a bug or a feature, but every time I edit a post, it updates its published_at field, like the updated_at one. This is happening both when edits are done in the backend and when I save the post via $model->save().

If this is the correct behavior, can you help me to find where this is happening in the plugin, in order to try to stop it?

Thank you very much!

EDIT

I tried t

[2019-06-06 12:01] w20k commented on #449
@marcomessa `published_at` is added to a $dates array, so, I guess, it's by design.

https://github.com/rainlab/blog-plugin/blob/720a1818f6c65b64dadb669c9331641397ecd0fb/models/Post.php#L61
Docs info (https://laravel.com/docs/5.8/eloquent-mutators#date-mutators)

[2019-06-06 12:09] marcomessa commented on #449
Yep, I noticed that. What I can't understand is why on each update of a Post, the value changes to current timestamp: is this a common behavior when an attribute is mutated as date?

[2019-06-06 12:32] w20k commented on #449
@marcomessa  could you paste your build & plugin version? And what do you have in your `manage` tab for a specific post?

![Screenshot 2019-06-06 at 15 31 02](https://user-images.githubusercontent.com/1053320/59032944-20d42700-8870-11e9-9bd1-376f2e278583.png)

[2019-06-06 12:38] marcomessa commented on #449
@w20k sure!
Core build: 455
Blog version: 1.3.1

<img width="1271" alt="Schermata 2019-06-06 alle 14 36 43" src="https://user-images.githubusercontent.com/4236142/59033273-9b00ad80-8868-11e9-96a3-1ddacde4b5d2.png">

The post is published. If I change somenthing (content, excerpt ecc ecc), the published_at is update with a new timestamp

[2019-06-06 12:46] w20k commented on #449
@marcomessa That's strange I've local build set to 456 and blog to 1.3.2. And I don't feel like I can reproduce your issue.
Do you have your published flag set to true as well in DB? (just a hunch)

[2019-06-06 12:58] marcomessa commented on #449
@w20k you point me to the right way. I tried a fresh plugin install and the issue is not present. In past days I extended Post model, adding two custom fields and a one to one relation. I then disabled that edits, but surely something went wrong there. I'll try to re-extend step by step untile the issue will appear (let's hope not :) )
Thank you for your support!

[2019-06-06 13:11] w20k commented on #449
@marcomessa that's awesome! Will be closing this one then!

[2019-06-06 13:11] #449 closed

[2019-06-06 13:16] bennothommo commented on #445
@MaTToX3 Do you have any thoughts on how this would work on sites where people are operating on multiple timezones?

[2019-06-06 13:18] bennothommo commented on #447
@w20k It might benefit from a fulltext index, however, only certain database engines support it.

[2019-06-06 13:26] w20k commented on #447
@bennothommo I've used it once, and there are too many issues with that (rules to follow). Performance wise it's better to organize your DB layer better or add a elasticsearch in between (or something similar).

[2019-06-06 15:06] LukeTowers commented on #445
@MaTToX3 the current behaviour already converts timezones. It converts it from the backend user to the application timezone by default unless `ignoreTimezone: true` is set on the field and column configs for that field. So, the user probably has a preference set for a timezone that is two hours off of UTC and selected the time they thought was correct in UTC but they were actually selecting their

[2019-06-06 20:16] cedricdujardin commented on #448
It occurs when I use the [blogPosts] component and set the 'sortOrder' variable to 'random' since the last update.

Here the configuration I use:
`[blogPost]
slug = "{{ :slug }}"
categoryPage = "category"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = ":category"
postsPerPage = 2
noPostsMessage = "No posts found"
sortOrder = "random"
categoryPage = "article"
postPage = "article"`

I hope

[2019-06-07 00:25] bennothommo commented on #447
@allfreelancers At this stage there is little we can do to improve the query without causing backwards compatibility issues. You will need to look into options such as caching results or adding resources to the database server.

[2019-06-07 00:25] #447 closed

[2019-06-07 00:30] bennothommo commented on #448
Thanks @cedricdujardin. Would you also be able to let us know which build of October you are using?

[2019-06-07 00:35] #448 closed

[2019-06-07 05:47] #445 closed

[2019-06-07 07:18] MaTToX3 commented on #445
@LukeTowers Thank you for your response! Indeed, everything works that way, just as you said it. The thing is, when you create a new user for backend, he/she gets assigned a UTC timezone, which means no conversion is made (since system of course assumes that this is already UTC time). So, when I switched my account to +2 time (for my location), the published_at field has indeed convert to UTC.

[2019-06-07 08:09] bennothommo commented on #445
@MaTToX3 Probably would be easier to just set the `App.timezone` variable to the +2 timezone if everyone is going to be using that. :)

[2019-06-07 08:14] allfreelancers commented on #447
@bennothommo you are joking? Why do you offer this product with such possible consequences?

there are two possible options:
1. use INNER JOIN
2. add all translation options to the table

[2019-06-07 08:18] bennothommo commented on #447
@allfreelancers Instead of being flippant, feel free to submit a PR improving it.

[2019-06-07 12:31] LukeTowers commented on #447
@allfreelancers I suggest that if you want results you treat people with more respect. This "product" is a 100% free plugin made possible entirely by the unpaid contributions of several community members. If you have an idea to improve it, then make a PR and explain why it should be accepted politely and we'd be more than happy to look at including it.

Please read the [Contributing Guidelines](ht

[2019-06-07 12:49] LukeTowers commented on #445
@bennothommo noooooo please don't do that. `app.timezone` should always always be UTC. What you can change however is `cms.backendTimezone`, which is the default timezone that everyone in the backend will use unless they otherwise specify: https://github.com/octobercms/october/blob/master/config/cms.php#L83.

[2019-06-07 15:41] bennothommo commented on #445
@LukeTowers indeed you are correct. I forgot about that config variable.

@MaTToX3 please disregard me and use @LukeTowers' suggestion. He is a man of much wisdom.

[2019-06-07 19:59] allfreelancers commented on #447
@LukeTowers I'm not trying to offend anyone. I am a simple user of this product. I don't know how it functions in general. I only see that with 3 thousand records, the search goes on 8 million or more. and I am suggested to use ElasticSearch as a layer. Perhaps there is something to think about?

I solved this problem in my website, but I do not think that the solution will suit you. Thank you ver

[2019-06-09 22:16] Cameron-Cn opened #450 "HTML in Footnotes"
(Edit: A mighty thanks for the effort here!)
Sorry if this is a duplicate or the wrong github!

It would appear that the footnotes issue remains--displaying HTML code in the footnote itself.
[code]

I think this is the bug in question:
   https://github.com/erusev/parsedown-extra/issues/118
Am I right in understanding this is an upstream issue, and we have to wait for a fix?

Or is there anything

[2019-06-10 03:55] bennothommo commented on #450
@Cameron-Cn You are correct - it's currently an upstream issue with the ParsedownExtra library. They have released a beta version with this issue fixed, but we can't use that yet. We'd either need to wait for the fix to be made stable, or apply the fix ourselves on a fork.

[2019-06-10 12:52] Cameron-Cn commented on #450
Ah, I'll go see if the discussion over there has any hints about it.
There's a messy patch, but I'm not confident enough to implement a beta myself!

Thank you!

[2019-06-14 21:16] RempadDesign opened #451 "Error after upgrade to 1.3.3 version"
Hi, After upgrading to 1.3.3 we get this error:

"SQLSTATE[42S22]: Column not found: 1054 Unknown column 'rainlab_blog_posts.page' in 'where clause' (SQL: select rainlab_blog_posts.* from rainlab_blog_posts left join rainlab_translate_indexes on rainlab_blog_posts.id = rainlab_translate_indexes.model_id and rainlab_translate_indexes.model_type = RainLab\Blog\Models\Post and rainlab_translate_index

[2019-06-15 02:57] LukeTowers commented on #451
@RempadDesign try disabling the Translate Extended plugin and see what happens

[2019-06-15 06:49] RempadDesign commented on #451
Hi. No luck, We have disabled the Translate Extended plugin and the Error remains the same.

[2019-06-15 20:08] graphixela commented on #451
I'm sorry but this version is very buggy. In addition to the above error, someone else posted this error in the blog review section:

error after update to version 1.3.3 The component 'RainLab\Blog\Components\Post' does not contain a method 'getRouter'. how to fix this?

Additionally, I can't use either of my Octobercms sites because of this update. Both have the following error:

The component 'R

[2019-06-15 21:24] JayFrogster commented on #435
@bennothommo The recent update did fix the issue on category pages - many thanks!

Unfortunately, the problem persists if the post list is set up on the home page ("/:page?"). Pagination itself works (for example http://mysite/2, http://mysite/3, etc.) but as soon as we have the ":page?" modifier, you can enter any invalid string into the URL - it won't throw a 404.

[2019-06-15 21:27] RempadDesign commented on #451
Yeap. Unfortunely this version is very buggy. We ended up for the moment by deleting all the content of the plugins/rainlab/blog folder and replace it with the Blog plugin Version 1.3.1 . The problems are gone and we are waiting for another release.

Downgrade to 1.3.1 version is a solution for the moment.
Cheers.

[2019-06-15 21:30] w20k commented on #451
1.3.2 also buggy or that's only the latest?

[2019-06-15 21:33] RempadDesign commented on #451
I don't know. The update was directly from 1.3.1 to 1.3.3 that includes also version 1.3.2 ... but we didn't tested any 1.3.2 particular update (anyways no big deal of things upgraded in the Changelog from 1.3.1 to 1.3.2 and latest 1.3.3). As already mentioned, we will remain to 1.3.1 for the moment until get some good news about new release. Cheers.

[2019-06-15 21:36] w20k commented on #451
@RempadDesign thanks a lot, will try to investigate. Hopefully will reproduce the same issue.

[2019-06-16 00:48] bennothommo commented on #451
@graphixela @RempadDesign Could you provide us with a stack trace of the errors, if possible? Either from the system log file or from the error page. That should give us some more context on where this issue could be occurring.

[2019-06-16 04:57] graphixela commented on #451
If I disable my favorite button plugin, the error goes away. But I kind of need that.
Here's a stack trace:

BadMethodCallException: The component 'RainLab\Blog\Components\Post' does not contain a method 'getController'. in  /modules/cms/classes/ComponentBase.php:315
Stack trace:
#0  /plugins/baba/favoritebutton/Plugin.php(57): Cms\Classes\ComponentBase->__call('getController', Array)
#1 [internal

[2019-06-16 05:17] bennothommo commented on #451
@graphixela Does your Favourite button plugin extend the Post component? If so, would you be able to provide the code of the plugin (or at least the portion that extends the Post component) so we can see how it interacts with the plugin.

[2019-06-16 07:08] RempadDesign commented on #451
The stacktrace for the error that ocurs for me is bellow:

PDOException: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'rainlab_blog_posts.page' in 'where clause' in /home/cnpcd/public_html/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOConnection.php:77
Stack trace:
#0 /home/cnpcd/public_html/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOConnection.php(77): PDO->prepare('select `rai

[2019-06-16 12:28] LukeTowers commented on #451
@RempadDesign what other plugins do you have installed?

[2019-06-16 14:19] RempadDesign commented on #451
Hi @LukeTowers ,
The plugins are in the print screen from the following link: https://snag.gy/jlCBDz.jpg

The problem only ocurs for us on the News page as mentioned and when we like to change the language. So it's clear something Translate - Blog related, we have disabled the Translate and translate Extended plugins and the error are there. The only solution was to Downgrade to Blog 1.3.1 . So we

[2019-06-16 17:55] bparlan commented on #398
I just receive similar error right after adding SEO plugin:
`
Update failed

"SQLSTATE[42S02]: Base table or view not found: 1146 Table 'database.rainlab_blog_posts' doesn't exist (SQL: alter table `rainlab_blog_posts` add `seo_title` varchar(191) null, add `seo_description` varchar(191) null, add `seo_keywords` varchar(191) null, add `canonical_url` varchar(191) null, add `redirect_url` varchar(1

[2019-06-16 18:52] graphixela commented on #451
@bennothommo It does. It's actually two favorite button plugins and then some modification by me because that was the only way I could get it to work. But most of the code can be found here. https://github.com/alxy/oc-favorites-plugin

[2019-06-16 19:29] w20k commented on #451
Can confirm it's not related to translate or blog plugin, but some plugins use a `hackish` approach to extend blog.

With the help of `Linat Timurshi` (from Slack) found one old plugin: https://github.com/vdomah/blogviews/blob/master/Plugin.php#L63

[2019-06-17 01:20] bennothommo commented on #451
Thanks @graphixela and @w20k. Will do some more investigation into this.

I have a feeling that it could be the changes implemented in this PR: https://github.com/rainlab/blog-plugin/pull/394, as that has significantly changed the request and component pipeline.

[2019-06-17 01:23] bennothommo commented on #398
@bparlan The plugin files are probably still in your installation, even though you may have removed it from the October project management interface. If you delete the plugin files locally, it should hopefully work.

[2019-06-17 01:26] bennothommo commented on #435
@JayFrogster We haven't yet made any changes to the optional parameter, as doing so might break sites which are already using them. I would recommend, as a workaround, using a required parameter for page and setting it up inside a `blog/` URL or something similar, as that's the "official" way of implementing the plugin.

[2019-06-17 07:14] bparlan commented on #398
@bennothommo actually I remove files from plugins folder but SQL error kept persisting when I go to /backend, and site kept working. Since it was fresh install, I didn't bother a lot with error message and after removing plugin from project account over OctoberCMS's website and removing db from phpmyadmin I made clear start again.

[2019-06-17 07:17] w20k commented on #451
@bennothommo I think new abstract layer is being processed by the `__call function` instead of the component itself (not sure though):
https://github.com/octobercms/october/blob/edcc4af68aa70dc4b84b687e34edb90d14191ca0/modules/cms/classes/ComponentBase.php#L307

[2019-06-17 14:33] LukeTowers commented on #451
@GinoPane please look into this. If we can't find an acceptable fix within a week we will be reverting #394 and just telling people to use the expected parameter names.

[2019-06-17 19:39] GinoPane commented on #451
@LukeTowers I've just installed BlogViews and got this:

[code]

As for me, the best way of fixing is to fix third-party plugins which relies on some methods that do not really belong to components (like `getRouter` or `getController`). The best would be to check that `getRoute` or `getController` return something (not `null`) and then use that value. This would fix the issue.

**Or, if you want t

[2019-06-19 13:16] J2kwes opened #452 "{{ post.content_html | raw }} not working"
hello,

the content of my post is not showing on the single post page only the info of the post is showing (see the first picture), i dont know the reason of this. i checked in an earlier project of mine and it is working there correctly. can anyone help me?
![afbeelding](https://user-images.githubusercontent.com/31591236/59769762-115cd100-92a7-11e9-8539-47fc7ebb05f6.png)

![afbeelding](https://us

[2019-06-19 14:44] bennothommo commented on #452
@J2kwes the slug property in your `blogPost` component looks wrong - instead of getting the `:slug` from your URL, it just looks like the string `slug`. If you change the `slug` line under `[blogPost]` in your page to be the following, it should hopefully work:
[code]

[2019-06-19 14:44] #452 closed

[2019-06-22 02:34] bennothommo commented on #451
@GinoPane unfortunately, given that it seems to have affected quite a few plugins, we'll need to support the usage of `getRouter` and `getController`, and maybe gracefully deprecate it later. Would you be able to set up a PR with your suggested changes?

[2019-06-22 18:15] GinoPane commented on #451
@bennothommo ok, no worries. Both PRs were submitted ^^

[2019-06-27 22:07] zaxbux opened #455 "Static menu and "Replace this item with its generated children" does not work properly for blog categories"
- OctoberCMS Build: 455
- PHP Version: 7.1
- Database Engine: MariaDB
- Plugins Installed: Rainlab.Blog, RainLab.Pages

### Description:
When adding a blog category to a static pages menu and selecting "Allow nested items" and "Replace this item with its generated children" the plugin does not resolve the correct menu items. Siblings of the referenced category are generated, rather than the childr

[2019-07-01 00:49] bennothommo commented on #455
@zaxbux Would you be interested in providing a pull request with the fix?

[2019-07-01 01:22] zaxbux commented on #455
I'm still having trouble figuring out where/what class/library the `getNested()` function comes from so I can learn more about it (and why it returns unexpected results, or if the issue lies in that function at all). So far, the only information in the October CMS docs is this:

https://github.com/octobercms/library/blob/9d066e184b41ffa3429346f0b50790d4e2eaaaa4/src/Database/Traits/NestedTree.php#L

[2019-07-01 02:27] bennothommo commented on #455
@zaxbux You probably won't need to do anything to the `getNested` call - that is doing what it is supposed to. You would instead need to look into this code block just above it:
https://github.com/rainlab/blog-plugin/blob/816ddb2dd7f4613808e93daf998eaacc9075723f/models/Category.php#L227-L229
That is what assigns the parent category into the items list. I would imagine a fix would check to see if t

[2019-07-01 03:42] zaxbux commented on #455
My question still remains, what exactly is `getNested()` supposed to do? I don't feel comfortable implementing a fix without more information.

[2019-07-01 08:44] bennothommo commented on #455
@zaxbux `getNested` is part of the `NestedTree` trait, which is basically an implementation of the [nested set model](https://en.wikipedia.org/wiki/Nested_set_model) of storing hierarchical data. That particular method gets an array of all categories that are a descendant of the selected category, nested by level. The `children` property starts a new loop as categories could be many levels deep.

[2019-07-02 01:17] zaxbux commented on #455
This is where I'm thinking that the issue is with `getNested()`, as you've said it it supposed to return descendants, but it is not doing that. When that method is called, it is returning the selected category and it's sibling categories.

For example, what you're describing is that when the green category is selected as the reference, only the categories in blue will be returned. However, this is

[2019-07-02 01:37] bennothommo commented on #455
@zaxbux Can you show us a screenshot of the nav on the front-end where this is occurring?

[2019-07-02 01:46] zaxbux commented on #455
Screenshot:
![october_nav_example](https://user-images.githubusercontent.com/5186921/60476267-ca1ffa00-9c2f-11e9-93a5-d9cec22fe417.png)

Here's the HTML generated by the default `staticMenu` component:
[code]

[2019-07-03 03:36] bennothommo commented on #455
@zaxbux Thanks for that. I've not yet been able to confirm this myself, but if your screenshot above is definitely from the menu settings you posted earlier, then yes there is an issue here. If you have found a fix for it, please feel free to submit it.

[2019-07-03 14:16] RempadDesign commented on #451
So, clear for all, what is the solution of upgrade to v 1.3.3 of the Rainlab Blog Plugin? Should people who did not updated it, try to do it? Or the downloaded version is the Bugy one?

Thank you in advance.

[2019-07-03 14:30] bennothommo commented on #451
I personally have not had any issues with release 1.3.3 of the Blog plugin, however, I don't have any plugins in particular that extend or otherwise interact with the Blog plugin - it very much operates on its own area of the sites I've worked on.

It is clear that some plugins that do extend the Blog plugin in some way have been made incompatible in 1.3.3 - @GinoPane has provided a fix for this w

[2019-07-04 23:01] zaxbux commented on #455
I have still been unable to find the source file where `getNested()` is defined, so I am unable to provide a fix.

[2019-07-05 05:50] LukeTowers commented on #455
https://github.com/octobercms/library/blob/master/src/Database/Traits/SimpleTree.php#L136
https://github.com/octobercms/library/blob/master/src/Database/Traits/NestedTree.php#L494

[2019-07-19 14:54] phpMagpie opened #456 "Custom Components and Sitemap plugin"
We've taken on an existing website which is using rainlab's blog and sitemap plugins.

It looks like some custom development has been done registering a custom `BlogPostComponent::class => 'blogPostDetail'` and `BlogListingComponent::class => 'blogPostListing'`.

This is stopping the `Post::getMenuTypeInfo($type)` and `Post::resolveMenuItem($item, $url, $theme)` from working as they are expecting

[2019-07-19 16:05] LukeTowers commented on #456
@phpMagpie you could try setting those component's aliases to `blogPost` and `blogPosts` (not sure that'd work though), or you can extend the Post model with your own model, override those methods to look for your custom components, and then add your own event listeners  (https://github.com/rainlab/blog-plugin/blob/master/Plugin.php#L154-L170) to resolve using your custom Post model by subscribing

[2019-07-23 16:18] bennothommo commented on #299
Fixed by https://github.com/rainlab/translate-plugin/pull/419.

[2019-07-24 14:21] willstocks opened #457 "Parsedown Extra functionality"
Hi guys,

It is my understanding that OctoberCMS includes Parsedown Extra as standard, however when I try to add a code block such as:

[code]

Which would in theory therefore add the `language-php` and `line-numbers` classes to my output `pre`/`code` block. However this doesn't appear to be the case, the output HTML is instead as follows:

[code]

As you can see, the main bit (on the `<code class

[2019-07-24 18:35] LukeTowers commented on #457
@willstocks-tech didn't even realize this was a feature, could you link to the docs for it?

[2019-07-24 19:41] willstocks-tech commented on #457
@LukeTowers I’ll grab the links from my laptop as soon as I can, probs tomorrow now. But one I do have to hand: https://octobercms.com/docs/api/october/rain/parse/parsedown/parsedown

And

https://michelf.ca/projects/php-markdown/extra/

[2019-07-24 19:42] willstocks-tech commented on #457
The latter is included in https://github.com/erusev/parsedown-extra which is included in October by default apparently - there’s a demo on there so you can play with outputs

[2019-07-24 19:51] LukeTowers commented on #457
@willstocks-tech hmm, might be an issue with the library we use, just tried your example on https://parsedown.org/extra/ and it didn't work.

[2019-07-24 19:56] willstocks-tech commented on #457
😧 ok, let me dig out those links and I’ll send them over tomorrow! I had a
working example earlier too

The only reason I found out it was possible was due to a couple of
blogs/forum posts I had found detailing it (it was annoying me having to
manually build out the pre/code structure rather than just using the
backticks... then apparently the lib is baked in to October 🤯)

On Wed, 24 Jul 2019 at

[2019-07-26 12:32] willstocks-tech commented on #457
@LukeTowers - so I've been looking at this (first chance I've had!) and I've found:
- https://github.com/erusev/parsedown-extra/issues/56
- https://github.com/erusev/parsedown-extra/issues/112

So it looks like, for some reason, in Parsedown Extra there is a bug that prevents classes being correctly added to code blocks, which is annoying! Apparently, this feature works in Markdown Extra (which Pa

[2019-07-28 16:05] bennothommo commented on #457
@willstocks-tech We'll need to wait for Parsedown Extra to fix it up on their end - it looks like they are doing so shortly.

[2019-08-12 00:48] srsgores opened #458 "Post URLs Defaulting to /default After 1.3.2 Update"
There's a breaking change in [the 1.3.2 update](https://github.com/rainlab/blog-plugin/compare/v1.3.2...master), which causes existing usages of `{{post.url}}` to all resolve to `/post/default` as opposed to `/post/:slug`.  This only happens after upgrading from 1.3.1 to 1.3.2.

Reporting this, as it is a breaking change.  Unsure of the solution at this point and will update once the responsible c

[2019-08-15 10:27] balochlens opened #459 "Calling particular single post title and description in pages."
I have 100 of posts in my blog, while I am trying to create accordion of posts using UIKit-3.
After tiring by googling, I am posting here.
How to get the title and description of specific post in pages.
[code]

[2019-08-15 10:56] w20k commented on #459
You could download theme and look how it's done: https://octobercms.com/theme/jimmyhung-october-canvas-blog

Probably this way, haven't used blog for a while :)
[code]

[2019-08-15 11:31] balochlens commented on #459
@w20k Thanks for your quick reply, unfortunately, this has not resolved my issue.

[2019-08-15 12:22] w20k commented on #459
@balochlens could you show your code then?

[2019-08-15 12:44] balochlens commented on #459
Here it is.

[code]

[2019-08-23 08:51] willstocks opened #460 "[Question] Is there a simple way to add a class to an individual post on the post listing (almost like a post-type)?"
So to explain my question a bit better:

In a post-list, I get my standard list of posts:
[code]

But let's say one of those posts is a "sponsored post" and I wanted a clear way to style it, or do something else with it on that listing page, is there a simple way for me to add a class to that post for the post listing?

I thought about trying something along the lines of:

[code]

But it didn't fe

[2019-08-23 16:14] bennothommo commented on #460
@willstocks That's pretty much the only way to do it that does not involve using a third-party plugin or writing your own plugin to extend the Blog form to add a sponsored field in. There are plugins available that add features like tags that you could leverage for this as well. (eg: https://octobercms.com/plugin/rahman-blogtags)

I hope that helps! :)

[2019-08-23 16:14] #460 closed

[2019-08-24 16:51] LukeTowers commented on #460
@willstocks that looks fine. I would probably do it like
[code]
or if it got super complicated with lots of conditions use twig macros to generate the classes but overall that's fine.

[2019-08-24 18:37] willstocks commented on #460
I quite like that approach - fewer lines and still as readable imo! Thanks!

Ooh, I’ll have a look into that as had never heard of it! Any good
links/resources I could look at?

On Sat, 24 Aug 2019 at 17:51, Luke Towers <notifications@github.com> wrote:

[2019-08-24 20:59] LukeTowers commented on #460
https://twig.symfony.com/doc/2.x/tags/macro.html and https://github.com/luketowers/oc-blank-theme/blob/master/partials/tmpl/featured-image.htm as an example

[2019-08-28 17:35] vrkansagara commented on #402
@LukeTowers  use ``` {% set image = post.featured_images.first %}``` instead of ```0``` for fetching first post.

[2019-08-29 06:16] Alpa86 opened #461 "how to custom category list and show featured image category"
<div class="row">
      {% if blogCategories.categories|length > 0 %}
      <div class="col col-lg-6 col-12 mb-3 mb-lg-5">
        <div class="wrapper-feature-card">
          <a href="#" class="img-hover img-hover-primary">
            {% for category in post.categories %}
            {% if category.featured_images.count %}
            {% for image in category.featured_images %}
            <img

[2019-08-29 06:25] #461 closed

[2019-09-02 18:43] LukeTowers commented on #461
I'm assuming this was solved?

[2019-09-05 10:15] rubenvanerk commented on #459
@balochlens I think you should use the variable name `posts` instead of `blogPost`

[2019-09-05 13:03] rubenvanerk opened #463 "Use current user as default publisher"
In a recent commit (https://github.com/rainlab/blog-plugin/commit/7d030affda61fef02c1a1016fb6be37e6e90fbce) @LukeTowers added the ability to edit a Post's user (published by).
I think it would be logical if this field defaults to the current user in the create context. I would like to do this myself but I don't know the best way to do this would be. Any pointers in the right direction would be app

[2019-09-05 14:05] balochlens commented on #459
@rubenvanerk  Thanks It has bee solved accordingly.

[2019-09-05 14:05] #459 closed

[2019-09-10 09:25] #463 closed

[2019-09-11 23:09] drmzio commented on #433
I figured out a trick to do this by writing a custom plugin that adds another field that lets you choose an image from the media manager: https://octobertricks.com/tricks/use-media-manager-for-blog-post-featured-image

[2019-09-18 17:35] flyingbaba opened #466 "updated_at is not triggered with Translate plugin"
updated_at is not triggered with Translate plugin if only additional language was updated.

[2019-09-19 04:32] mdsaicom commented on #64
this issue persist in 458 version

[2019-09-19 15:58] LukeTowers commented on #64
@mdsaicom @rodrigogoncalves @mbaxter91288 feel free to submit a PR with @daftspunk's recommendation.

[2019-09-19 16:14] LukeTowers commented on #466
That would be an issue with the translate plugin, not this one.

[2019-09-19 16:14] #466 closed

[2019-09-25 11:18] nozreh commented on #64
I think the reason here is to have full control over how to handle the response or page in case the blog post does not exist. In my case, I don't want a 404 redirect instead, I want the user to know that the blog does not (no longer) exists then I can suggest other blogs for further reading.

[2019-09-25 16:05] alancunnane opened #468 "Exception in blog post"
We have just begun to have issues with our blog; when clicking on the link from the main blog page, it returns the message

Type error: Argument 2 passed to RainLab\Blog\Classes\ComponentAbstract::getComponent() must be of the type string, null given, called in /var/www/html/plugins/rainlab/blog/components/Post.php on line 108
/var/www/html/plugins/rainlab/blog/classes/ComponentAbstract.php line 2

[2019-09-25 16:10] LukeTowers commented on #64
@nozreh while adding the 404 handling to the plugin may (temporarily) break that use case for you, I think it's probably worth doing. You'd still be able to have that custom handling if you so desire, but the point is that the post doesn't exist so it should be returning a 404 response. If that response happens to include helpful links to other blog posts that's fine but the key response should st

[2019-09-25 18:20] rowild opened #469 "Category filter (:slug) not working"
This (a bit outdated) tutorial explains, how to add a blog:
https://youtu.be/n6gvR0NZ1h8?list=PLfQvk5RK_e-Zim57m_CptCXYlgFT7P_sv&t=407
At around the given timecode, the blog implementation is demonstrated, also, how to use a slug to filter blog categories. Unfortunately, that :slug filtering does not work on categories. (However, it does work in blog posts, as is demonstrated in the video at a lat

[2019-09-25 18:23] LukeTowers commented on #469
@rowild please post the full blog/category.htm file you have.

[2019-09-25 18:38] rowild commented on #469
[code]

![Bildschirmfoto 2019-09-25 um 20 35 50](https://user-images.githubusercontent.com/213803/65629715-22b72700-dfd4-11e9-86b7-07d412cb8ce4.png)

Thank you!

[2019-09-25 18:41] LukeTowers commented on #469
@rowild should be
[code]

[2019-09-25 18:43] rowild commented on #469
WORKING! Excellent! Thank you much!!!

[2019-09-25 18:43] #469 closed

[2019-09-25 23:58] nozreh commented on #64
@LukeTowers for me it's fine as long as I can still do custom handling but I find it odd if that is the case because at the end of the day the blogPost is still a component and it'll be a bad design at least for me if a "component" decides on what response the whole page should return. If 404 is needed then I'll handle it in the page life cycle but then again that is just my use case.

[2019-09-26 04:29] bennothommo commented on #468
@alancunnane Would you mind providing us with a full backtrace if possible, as well as the code of the page for your main blog page and the page that displays the blog post itself?

[2019-09-26 07:21] alancunnane commented on #468
[stacktrace.txt](https://github.com/rainlab/blog-plugin/files/3656307/stacktrace.txt)

[synthetixDOTcom.zip](https://github.com/rainlab/blog-plugin/files/3656425/synthetixDOTcom.zip)

I think these files cover it - let me know if you need more.  Been a while since we put this in place!

[2019-09-26 21:14] LukeTowers commented on #64
@nozreh I agree with you generally that a component shouldn't really dictate what the response of the page is, however it's a little bit more of a grey issue when you considered the intended use case of this blogPost component, it's entire purpose is to basically provide that response in the form of a blog post returned from the DB. It's not like it's a signup form or some other smaller component

[2019-09-27 13:59] mmorells commented on #299
Still having this issue in version 1.6.2

[2019-09-27 15:58] alancunnane commented on #468
I've remedied this for the time being, by uploading an older version of the plugin (1.2.19) to the server.  Obviously only a temporary solution, as it means I can't install any updates.

Thanks,
Alan

[2019-09-27 19:25] LukeTowers commented on #299
@bennothommo That PR added the event, but did this plugin ever actually make use of it to fix the reported issue?

[2019-10-07 16:57] pavsid opened #472 "Verify category slug in URL, else redirect to 'canonical'"
I noticed recently that if the blog post page url is of the format `/blog/:category/:slug` then the post is retrieved and displayed regardless of whether the correct category slug has been entered in the URL.

In my case, this has led to a load of duplicate content being crawled by search engines, and so I believe, if supplied, the category slug in the URL should be verified, and if not valid, a r

[2019-10-08 00:59] bennothommo commented on #472
@pavsid I'll be happy to take a look at a PR. :)

[2019-10-08 10:30] queengab opened #474 "Posts bulk import from external source. Suggestion and improvement"
Hi,

I'm Gabriele. We taled sometime no slack. Today i write an issue directly here about a problem that occurs today after a bulk import on rainlab.blog.

I describe all my steps:
1) My buddy created a python script scrape articles and import them to a csv for rainlab.blog import.
2) I imported all posts with the csv file. And match the content column with html content
3) We noticed after import

[2019-10-08 13:57] w20k commented on #468
@alancunnane have you used the latest version or which one was it, that triggered exception?

[2019-10-08 13:59] w20k commented on #472
@pavsid the same here! Would be awesome to peer review your PR 😄

[2019-10-08 14:02] alancunnane commented on #468
I'm not entirely sure of the version number; I carried out the update around mid-September, if that helps.

[2019-10-08 15:05] pavsid commented on #472
Here you go, hope it helps - https://github.com/rainlab/blog-plugin/pull/475

[2019-10-09 10:34] SaifurRahmanMohsin opened #476 "Question: Why is registerFormWidgets method missing?"
I see that there are two form Widgets [BlogMarkdown](https://github.com/rainlab/blog-plugin/blob/master/formwidgets/BlogMarkdown.php) and [MLBlogMarkdown.php](https://github.com/rainlab/blog-plugin/blob/master/formwidgets/MLBlogMarkdown.php) used in this plugin however the Plugin.php does not have it's [Form Widget Registration](https://octobercms.com/docs/backend/widgets#form-widget-registration)

[2019-10-09 15:03] LukeTowers commented on #476
@SaifurRahmanMohsin because it can be referenced directly by class name: https://github.com/rainlab/blog-plugin/blob/master/models/post/fields.yaml#L30; and either that method of registering widgets didn't exist when the plugin was originally written or we didn't want to encourage other plugins to use those FormWidgets, not sure which was the case. Probably eventually we'll move them into the core

[2019-10-09 15:03] #476 closed

[2019-10-09 16:09] SaifurRahmanMohsin commented on #476
@LukeTowers Precisely why I had asked, I wanted to include this markdown editor/preview in my own plugin and was wondering why it existed in this plugin than OctoberCMS core. I’ll could make a PR to core if you’d like—making it model-neutral since right now it’s linked to the Post model.

[2019-10-09 18:07] LukeTowers commented on #476
@SaifurRahmanMohsin if you're interested in doing that go ahead, although note that it will involve four separate PRs: octobercms/october to add the neutral widget, octobercms/docs to document it, rainlab/blog to replace the non-neutral with the new one, and rainlab/translate to include the ML version.

[2019-10-10 05:41] nozreh opened #477 "SQL Error on Blog Export"
I was trying to export our existing blogs but I'm having issue right now

Octobercms Build: 458
Blog Plugin version: 1.3.4
Database: Postgres 9.6.12

``"SQLSTATE[42703]: Undefined column: 7 ERROR: column "featured_images" does not exist LINE 1: select * from "system_files" where field = "featured_images"... ^ (SQL: select * from "system_files" where field = "featured_images" AND attachment_type =

[2019-10-10 08:15] w20k commented on #477
Hm...worked for me, but without featured image link. Will try it under the Postgres as well.

Dummy example:
[code]

[2019-10-11 19:15] flyingbaba opened #478 "Problem with extending RainLab.Blog Controller"
I've noticed few versions ago I cannot extend Controller. It was working like charm before but now to fix issue I have to put 1 line into the controller manualy.

In my plugin.php I have:

[code]

[2019-10-11 21:28] LukeTowers commented on #478
[code]
should do it

[2019-10-12 18:28] flyingbaba commented on #478
Thanks Luke, it's working !

[2019-10-12 18:29] #478 closed

[2019-10-14 14:48] queengab opened #479 "Allow Wordpress-style blog post URLs"
Hi,

trying to find a definitive solution to improve SEO for my blog pages i've encoured several problems.

My temporary solution to improve my seo is:

Create a single page

 `/notizie`

With standard `blogPostList`
[code]

Then
a category page
`/categoria`

[code]
A single post page:

[code]

With this configuration i have correct pagination on category pages:
example: `/notizie/2019/2`

and a p

[2019-10-15 01:53] bennothommo commented on #479
@queengab The issue where the URL used "default" for the category in the Sitemap is a known issue, see here: https://github.com/rainlab/blog-plugin/issues/458.

With regards to your query about setting up URLs like Wordpress, you will need to include the category parameter in the URL somehow if you would like the current category to be selected in your blog page, but you can make the URL for the p

[2019-10-15 01:59] bennothommo commented on #456
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-10-15 01:59] #456 closed

[2019-10-15 01:59] bennothommo commented on #379
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-10-15 01:59] #379 closed

[2019-10-15 01:59] bennothommo commented on #83
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-10-15 02:00] #83 closed

[2019-10-15 02:00] bennothommo commented on #435
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-10-15 02:00] #435 closed

[2019-10-16 10:32] queengab commented on #479
Hi @bennothommo ,

thanks i will try. But i have to wait first to forward my sitemap.xml to google until the sitemap url problem is resolved. I'd never want a urls duplication for oogle, one with default and one with the year.

Thanks for support and your response. I will post my solution!

[2019-10-16 10:32] #479 closed

[2019-10-16 11:00] damianlewis opened #480 "ErrorException when migrating database"
I've just downloaded and installed version 1.3.4 of this plugin and when running `php artisan october:up` I get the following error. I've reverted back to version 1.3.2 which doesn't cause this error.

[code]

[2019-10-17 12:11] bennothommo commented on #480
@damianlewis Would you be able to provide a stack-trace, or some indication as to where the exception is thrown? This will help us to locate the error.

[2019-10-17 12:26] bennothommo commented on #477
It's a confirmed bug - PostgreSQL treats lower-case strings inside quotes as column names.

[2019-10-17 12:31] #477 closed

[2019-10-17 12:32] bennothommo commented on #477
Fixed by https://github.com/rainlab/blog-plugin/commit/f4b16deabd9181b6ff46e842dae961be2426ea90 - will be released with version 1.3.5 of the Blog plugin.

[2019-10-21 16:31] WebShapedBiz opened #481 "Problem with "published date" selector"
Hi.
I've created an admin user for my client, to create blog posts, with "Publisher" role and only these permissions allowed:
![Slika zaslona s 2019-10-21 18-16-10](https://user-images.githubusercontent.com/6765137/67223451-8f84dc00-f42f-11e9-9064-7e895455b066.png)

Now my client has an issue with the "Published date" selector - it doesn't work. It seems that that new user doesn't have permission

[2019-10-22 00:16] #480 closed

[2019-10-22 00:16] bennothommo commented on #480
Fixed by https://github.com/rainlab/blog-plugin/commit/aceda914bdbc1908af5e019d4e5fd09292bc0e37. Will be released with version 1.3.5 of Blog plugin.

[2019-10-30 07:00] WebShapedBiz commented on #481
UPDATE:
Even adding the superuser rights to my Publisher administrator I cannot get a "published date" selector to work, and this is making my client angry as hell since I'm doing all the publishing at the moment.
What is interesting that when I'm impersonating this Publisher administrator, everything works fine.

Could somebody please at least share some ideas about this issue?

[2019-10-30 08:56] bennothommo commented on #481
@WebShapedBiz can you try run `php artisan october:util compile assets` in your command line where the site is hosted, and see if that makes a difference?

[2019-10-30 10:39] WebShapedBiz commented on #481
Thank you so much @bennothommo for your reply. Unfortunately, nothing has changed. It seems that Pikaday has an issue with i18n (see my screenshot with an error). I can create a more elaborate screencast with this issue. I also observed that there are some issues reported on GitHub regarding
Pikaday and i18n on some other projects.

To recapitulate:
1. The latest version of OctoberCMS and all plug

[2019-10-30 14:29] LukeTowers commented on #481
@bennothommo @WebShapedBiz is this because the Translate plugin is setting the locale to HR (Croatian), which might not exist as a backend locale? @WebShapedBiz if you use the account of the client and set their backend preference to use the english locale does that resolve the issue?

[2019-10-30 14:47] WebShapedBiz commented on #481
Thank you @LukeTowers for joining in.
The backend preference was never changed from the English locale, but I was thinking that this may be the reason behind the issue, so I've copied `lang.php` file from `en` folder to `hr` folder in both CMS and Blog plugin to try to "fool" the system to think there is a Croatian locale, while leaving the backend locale to English.
It didn't work. It's so frustr

[2019-10-30 15:29] LukeTowers commented on #481
@WebShapedBiz check the value of app.locale, users should be defaulting to that: https://github.com/octobercms/october/blob/master/config/app.php#L78. The backend locale shouldn't have to be set on a user unless it's going to be different from the main one.

[2019-10-30 15:32] WebShapedBiz commented on #481
This was my app.locale:
[code]

Was that where I've scr***d up?

[2019-10-30 19:04] LukeTowers commented on #481
@WebShapedBiz yup. If hr doesn't exist as a locale in October then you shouldn't be setting it there. Set it to en instead, the translation plugin will still work.

[2019-10-30 19:05] #481 closed

[2019-11-12 13:48] RomainMazB opened #485 "Is there a way to customize the backend forms and lists?"
Hi,

I love this plugin, but I want to change some stuff to make it more user-friendly. Such as the checkbox "Published" which I want to be checked as default and with the "Publish on" field I want to fill with now(). And so on with some other modifications (list posts with a kind of tiles instead of a table for example).

So I need to customize the backend lists and forms of the blog plugin.

I l

[2019-11-12 14:52] bennothommo commented on #485
@RomainMazB What sort of modifications are you looking to achieve? The main two events you want to listen to are `backend.list.extendColumns` and `backend.form.extendFields` - however, I don't believe you can change the view path from these events.

[2019-11-12 15:58] LukeTowers commented on #485
@RomainMazB @bennothommo the System\Traits\ViewMaker trait that is used by all widgets actually provides a way for you to accomplish this.

[code]

Now all you have to do is copy over the partials you want to modify from /backend/widgets/lists/partials into /plugins/romainmazb/blogextend/views/posts/ and modify them as desired (keeping the same filename) and the Lists widget will use those partial

[2019-11-12 15:58] #485 closed

[2019-11-15 07:47] mplodowski opened #486 "Validation errors not showing"
1. Create new Post.
2. Enter post title.
3. Try to leave page and you will receive confirmation message about leaving page. Click "Cancel".
4. Click "Save" button.
5. Nothing happens, no validation error is showing up.

You should receive validation error: "The content field is required.".

Blog version: 1.3.5
October: 459

[2019-11-17 01:53] bennothommo commented on #451
Hi all, we have decided to rollback the original PR that introduced custom slug parameters, as the compatibility issues with other plugins caused by the change was heavily reported. Although a further fix was provided, it introduced extra complexity and we felt it would be better to return the plugin to a more stable state as it is a core plugin on thousands of October CMS installs and is extended

[2019-11-17 01:53] #451 closed

[2019-11-17 01:59] bennothommo commented on #468
@alancunnane This should be fixed by https://github.com/rainlab/blog-plugin/pull/487.

[2019-11-17 01:59] #468 closed

[2019-11-17 11:22] GinoPane commented on #451
Of course, nobody asks, but child plugins must not dictate a parent plugin what to do. And they must extend it properly.
The purpose of changes was to fix issues with October not being able to resolve correct URL params for different plugins using the same param name. Now the issue will be back in place I believe.

[2019-11-18 14:59] nycparking opened #488 "Support Shortcode?"
Hello,

I am working on a project which requires me to use the blog plugin, but I noticed there isn't a way for me to add a shortcode (change the editor to add codes) in the blog content area.

Is there a way I could work around this?

i am also using the custom fields plugin to insert the shortcode.
https://octobercms.com/plugin/pkurg-customfields

[2019-11-18 16:40] LukeTowers commented on #488
@nycparking October doesn't have "shortcodes", so I have no idea what you're talking about.

[2019-11-18 17:19] LukeTowers commented on #451
@GinoPane child plugins expect the plugin they're extending to remain stable, especially when it comes from the core October team. If you want, you can open a new issue outlining what you see the problem as being and we can take another look and probably come up with a solution to that problem.

[2019-11-22 06:03] drmzio commented on #488
I'm actually working on a shortcode plugin right now. I'll ping this issue when it's available 👍

Blog Shortcodes demo |
--- |
![](https://cl.ly/c8fa8f1bb24d/Image%2525202019-11-21%252520at%25252010.57.50%252520PM.jpg) |

[2019-11-22 15:30] LukeTowers commented on #488
@drmzio is that going to be matching shortcodes to components?

[2019-11-22 20:22] drmzio commented on #488
@LukeTowers Not sure I quite understand, but it pull from your theme's partials

[2019-11-22 23:40] LukeTowers commented on #488
@drmzio I mean will it allow you to pull in a component? Say you have a `forms` component, would you be able to do `[forms form=contact]`?

[2019-11-23 00:46] drmzio commented on #488
@LukeTowers Haven't really thought about using components yet. All it does is pull a custom partial from your theme and renders it on the blog post, then saves the rendered partial into the blog `content_html` column.

It's still a very early work in progress, but here are the steps:

1. Register shortcode name (e.g. `[youtube-embed]`)
2. Create the partial under the `partials/shortcodes` theme di

[2019-11-25 12:29] mittultechnobrave commented on #402
How can I alllow users to add only single featured image instead of multiple ? any hook ?

[2019-11-27 23:02] nycparking commented on #488
@drmzio This is great, this is what I actually needed a few days ago, but I went ahead and found a developer to get it done for me.

But I think a lot of people would find this useful.

[2019-11-28 06:01] #488 closed

[2019-12-20 05:39] farhanianz opened #490 "Category name in the url causing problem"
### Goals
1. all posts list + category list (sidebar) on /blog
2. all posts list of specific category on /blog/category-name
3. read the post on /blog/category-name/post-title

### Steps to reproduce:
1. edit the blog posts list page url to: /blog/:page?
2. edit the blog posts list in a specific category page url to: /blog/:category/:page?
3. edit the blog post view (viewing single post) page url

[2019-12-20 17:14] LukeTowers commented on #490
@farhanianz if you need support urgently, consider signing up for our Premium Support program: https://octobercms.com/premium-support

[2019-12-30 21:54] farhanianz commented on #490
Since then, any fix? Does anyone have a solution? I'm quite new in oc.

[2019-12-31 07:14] LukeTowers commented on #490
Try asking the community on the forums, otherwise if you need urgent support consider signing up for our Premium Support program: https://octobercms.com/premium-support. Non priority support program issues are dealt with as we have the time to get around to doing so as that is offered for free.

[2020-01-02 02:43] bennothommo commented on #490
@farhanianz Which component are you using for the specific category pages?

[2020-01-02 10:20] enricoeur opened #491 "Cannot show category name as title of the page"
Simply this code on your guide doesn't work:

       $this->page->title = $this->category->name;

I get error of null object.

[2020-01-02 11:02] #491 closed

[2020-01-02 21:56] LukeTowers commented on #491
@enricoeur what was the solution?

[2020-01-03 14:40] bennothommo commented on #491
@LukeTowers might've been changing it to the following:
[code]

[2020-01-03 16:51] LukeTowers commented on #491
hmm, weird.

[2020-01-10 20:30] aurelien-roy commented on #450
0.8.1 is now stable and includes a fix for https://github.com/erusev/parsedown-extra/issues/118

[2020-01-14 23:13] LukeTowers commented on #450
@bennothommo are we pulling in that version on composer update or do we need to update our dependencies?

[2020-01-14 23:29] bennothommo commented on #450
@LukeTowers yep, I believe the library will bring in the new version through its Composer requirements.

[2020-01-15 00:41] bennothommo commented on #450
This should be fixed by running a `composer update` in your site to retrieve the latest version of the Parsedown Extra library. The next build of October will include that as well.

[2020-01-15 00:41] #450 closed

[2020-02-16 22:01] HugoBossOD opened #492 "Call to undefined function RainLab\Blog\Models\optional()"
Symfony\Component\Debug\Exception\FatalThrowableError: Call to undefined function RainLab\Blog\Models\optional() in C:\OSPanel535\domains\october.local\plugins\rainlab\blog\models\Category.php:67

`  public function getPostCountAttribute()
    {
return optional($this->posts_count->first())->count ?? 0;
 }`

[2020-02-16 23:58] bennothommo commented on #492
@HugoBossOD Which PHP version are you running? Also, have you installed all of October CMS's dependencies?

[2020-02-17 00:08] HugoBossOD commented on #492
CMS installed with composer.
Plugin installed with backend.
PHP 7.1.32

[2020-02-17 00:12] HugoBossOD commented on #492
Tried to search code for 'optional('. Only mentioned in 'faker' files.
Now changed string to `public function getPostCountAttribute() { return $this->posts_count->first()->count ?? 0; }` and all seems working fine.

[2020-02-17 01:25] bennothommo commented on #492
@HugoBossOD which version of October are you running?

The `optional` method is one provided by [Laravel](https://github.com/laravel/framework/blob/5.5/src/Illuminate/Support/helpers.php#L723), however, it was not in Laravel 5.1 which October was based on before build 420.

[2020-02-17 02:14] HugoBossOD commented on #492
october/backend                       v1.0.419
october/cms                           v1.0.419
october/rain                          v1.0.419
october/system                        v1.0.419
laravel/framework                     v5.1.46
Version problems. Thanks for pointing.

[2020-02-17 02:14] #492 closed

[2020-03-13 23:03] orzech76 opened #494 "Posts in two columns"
Hello, How can i show the posts inline in two columns in blog list? I tried with "float" but it wrong view in mobile devices. Could you help me a little? My site is https://diabetyk.online/blog/category Thank You.
m.

[2020-03-14 14:28] bennothommo commented on #494
GitHub issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/forum
StackOverflow: https://stackoverflow.com/questions/tagged/octobercms
Slack: https://octobercms-slack.herokuapp.com/
Discord: https://discord.gg/6S777kh

You may also take advantage of our [Premium

[2020-03-14 14:29] bennothommo commented on #494
@orzech76 This section of the documentation should give you guidance on how to do this:
https://octobercms.com/docs/cms/components#customizing-default-markup

[2020-03-14 14:29] #494 closed

[2020-03-23 18:01] cjkpl commented on #490
The solution which worked for me had been posted several years ago here: [https://octobercms.com/forum/post/blog-categories-dont-work](https://octobercms.com/forum/post/blog-categories-dont-work).

[2020-03-24 10:05] bennothommo commented on #490
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2020-03-24 10:05] #490 closed

[2020-03-30 10:46] setianke opened #496 "Category Filter returns all post when no match"
The category filter works correctly when accessing an existing/correct slug but when accessing a not existing slug the "blogPosts" Component returns all posts of the database instead of none. All posts have correctly tagged categories and published dates.

My Category page setup:

[code]

[2020-04-01 09:33] marcoinward opened #497 "Filtering the Categories List"
Hi there, I know this is probably so basic, but I cannot find any resource on how to make it work. Literally, all I'd like is to be able to filter the categories that display on the category list.
So like I am able to filter post list by category, I'd like to filter Category List by category. (I'd like the category list to exclude one of the categories I have created.)

Pleeeease help!

[2020-04-02 04:25] bennothommo commented on #497
@marcoinward As an option, you could overwrite the [component markup](https://github.com/rainlab/blog-plugin/blob/master/components/categories/items.htm) in your template and just add an `{% if category.name != 'Category' %}` check around the list item code.

[2020-04-22 15:38] MariusGi opened #499 "Blog post content images are not rendered."
Hello,

I tried to add images in blog post both as "image" and as "media image".

I am using the recomended syntax to uploading images. Which is generated by pressing image or media image button and then selecting image.

Images are showing in backend on the right side of Blog module. Where it shows how the content looks.
However in my website I just get the same code as it is written in code edit

[2020-04-23 01:48] bennothommo commented on #499
@MariusGi You need to use `{{ post.content_html|raw }}` to get the proper HTML.

[2020-04-23 01:48] #499 closed

[2020-04-25 22:47] HitArrowLegend opened #500 "Combining Categories"
I would like to know if any plans are in the making to further expand this addon, specifically the component Blog List. My issue is that I would like to have two other ways to sort my articles using the this component.

Let's imagine 4 posts, the 3 first posts with 3 different categories, the 4th one would feature all the cateogies at once.

- The first way would be to be able to pick more than on

[2020-04-27 02:41] bennothommo commented on #500
@HitArrowLegend the first scenario, you can already kinda do by using the Posts component and not specifying a category - instead using the "Except categories" option to define the categories you *don't* want included in the list (although this will also return posts that have no category).

The second scenario, I don't believe there's a way to do that with the currently available components. In t

[2020-04-29 00:50] HitArrowLegend commented on #500
It's true that this would work, but how hard would it be to maintain in the long term?
I even thought about attaching a new spatial category to posts that I want to display in a specific widget but again, it defeats the purpose of the idea. What happens when I want to change the design of my blog and I have hundreds of articles with a soon-to-be deleted category?

That's why I'm mentionning it the

[2020-04-29 21:53] LukeTowers commented on #500
It already is a "god tier addon" 😄

It's really not that hard to do it for yourself, two commands and most of the grunt work is taken care of: https://octobercms.com/docs/console/scaffolding#scaffold-create-plugin & https://octobercms.com/docs/console/scaffolding#scaffold-create-component. Then just use the existing component as a reference when building your component and you're pretty much done!

[2020-04-29 21:54] LukeTowers commented on #500
This feature will probably not be added to the base plugin itself unless a lot of people ask for it since it's a pretty specific use case and one that's easily achievable by just extending the base component and changing the logic slightly.

[2020-05-01 18:37] HitArrowLegend commented on #500
To me, excluding categories is as specific as combining them but I see your point.
Unfortunately, as I mentioned, I don't have the skill to change it myself and have no clue where to find this console. I'll pay someone to do this for me as it will be faster than learning php.

[2020-05-01 18:37] #500 closed

[2020-05-01 19:28] LukeTowers commented on #500
Sounds good, shoot me a message over Slack, Discord, or email if you want me to implement it for you, I'd probably charge $150.

[2020-05-09 01:15] dynamiccontent opened #501 "dynamic category url depending on the news"
I have 3 categories. Example category1, category2, category3.
I display every category on different page with filter that works fine but what I want to achieve is
When I click on on the news article on category1 I get url https://example.com/category1/newstitle
for category2 https://example.com/category2/newstitle
for category3 https://example.com/category3/newstitle
How can I do this? Any example

[2020-05-18 22:08] drmzio opened #502 "Minimize ajax requests on markdown preview with debounce"
One thing I've noticed with the markdown editor is that every keystroke initiates an ajax request to the server. Now imagine typing 200 characters per minute, that's equivalent 200 ajax requests per minute. One way to minimize the unnecessary amount of requests is to debounce the markdown preview. I wrote a small plugin that adds a 250 millisecond cool-down before showing an updated preview and I'

[2020-05-19 01:08] bennothommo commented on #502
@drmzio I'd be happy to make it slightly debounced as a core feature (although it needs to still feel responsive when typing). I know that mass-spamming AJAX calls could be interpreted as a DDoS by some systems too, so someone typing up a big blog post could inadvertently fall afoul of their mitigation systems.

[2020-05-19 17:28] LukeTowers commented on #502
@bennothommo I don't suppose there's a client side implementation of the markdown renderer that we could use instead of having to make a AJAX request to re-render the preview continually?

[2020-05-19 19:34] drmzio commented on #502
@bennothommo For sure! I was thinking about having a setting that lets users change the debounce delay if needed. I'll see what I can come up with.

@LukeTowers So far I haven't found a client-side markdown renderer in the October codebase, only in the backend https://octobercms.com/docs/services/parser#markdown-parser but I'm curious how the client-side renderer would turn out. Might test somethi

[2020-05-20 03:22] bennothommo commented on #502
@LukeTowers There's a few out there (eg. https://github.com/markedjs/marked), but I'd be concerned that there might be small subtle differences between them and Parsedown. At least with the way the widget works currently, it's "what you see is what you get".

@drmzio

I'd probably just set a sensible middle-ground between responsiveness and spamming the crap out of a server. I doubt there'd be man

[2020-05-20 04:41] LukeTowers commented on #502
@drmzio note that this should probably be done to the core markdowneditor widget. @bennothommo what's the difference between the widget provided by this plugin and the core one?

[2020-05-20 06:11] bennothommo commented on #502
@LukeTowers there's very little difference I believe - it just has some slight customisations to the preview and file upload aspects, and there's tweaks to the styling of it. Otherwise, functionally, they're identical.

[2020-05-21 20:09] drmzio commented on #502
I've decided that this isn't much of a big issue for most people. A debounce feature would be better at the October core level, rather than specifically for this plugin.

For anyone that needs this functionality, you can clone my plugin here https://github.com/ompmega/blog-preview-debounce-plugin

However, I will be testing out a client-side markdown editor and see how it turns out. Might start wi

[2020-05-21 20:09] #502 closed

[2020-05-22 04:47] bennothommo commented on #502
@drmzio It appears UIKit uses the same library I posted above for Markdown parsing on the client side. I'd probably say if you wanted to use it, it would still need to be a plugin.

[2020-06-17 20:38] LukeTowers commented on #29
@roojai  in an effort to steal people's money, BountySource has just announced that they're going to be keeping any bounties older than two years unless the bounty poster emails them at support@bountysource.com to redirect the bounty to another issue.

See below that was just emailed out today:

If no Solution is accepted within two years after a Bounty is posted, then the Bounty will be withdrawn

[2020-06-17 20:38] #29 closed

[2020-06-18 01:51] roojai commented on #29
@LukeTowers I would prefer to redirect to Laravel 6 upgrade. Will see if I can do that.

[2020-06-19 00:41] PKKumar1 opened #505 "Blog Plugin installation is giving error.. and no blog has been installed or activated before"
Hello,

I am trying to install blog but it is giving below error. Can you please help.

Update failed
{"#layout-flash-messages":" <p data-control=\"flash-message\" class=\"flash-message fade error\" data-interval=\"5\">The slug has already been taken.<\/p>\n","X_OCTOBER_ERROR_FIELDS":{"slug":["The slug has already been taken."]}}

[2020-06-19 02:41] bennothommo commented on #505
@PKKumar1 can you please provide the steps that you took in order to encounter this error, so that we can try and replicate?

[2020-06-23 01:08] roojai commented on #29
@LukeTowers that whole BountySource website seems to be slow and buggy. I hope you got the claim ok. You deserve it, thanks for all your work on October!

[2020-06-23 01:40] LukeTowers commented on #29
@roojai I haven't submitted the claim yet, their site is indeed very slow and buggy. Were you able to get in touch with them via the support email?

[2020-06-23 02:16] roojai commented on #29
@LukeTowers I have just sent them an email, will let you know.

[2020-06-25 20:56] sburkett opened #507 "Easy way to quick link to other blog posts and pages?"
More of a question than an issue, but ...

When creating or editing a blog post, is there some easy way to link to the URL of another blog post or page? The only way that I can see to do it is to constantly open a new tab and go search for it and copy/paste the link.

Thanks!

[2020-06-26 02:52] bennothommo commented on #507
@sburkett Unfortunately, there's no shortcut through the Markdown editor.

However, you can use plugins to replace the Markdown editor with a Rich WYSIWYG editor, which does have a link facility that allows you to pick single blog posts. You can try this plugin (https://octobercms.com/plugin/anandpatel-wysiwygeditors) or write your own plugin that runs this event (https://octobertricks.com/tricks/

[2020-06-26 02:52] #507 closed

[2020-06-27 14:15] Artful-dodger opened #508 "SEO default value issue"
I am trying to figure out how to resolve an issue where by I have links to none existing pages like for example "http://example.com/blog/category/default/page"  and I am am not sure where the default part of this link is coming from and how to resolve it. It appears that any category created gets this default value it is also assigned to the blog page but not to any of the blog/post pages is there

[2020-06-27 16:13] LukeTowers commented on #508
@Artful-dodger what's the URL of the page you have set as the page to generate URLs to

[2020-06-27 16:23] Artful-dodger commented on #508
blog/category/:page/:slug? is for the category page and blog/:page? is for the blog page and blog/post/:slug is for the pos page. The post page doesn't have any SEO issues but the blog page has 2 page with the same tilte that is /blog and /blog/default have the same title of blog-page and because the /blog/category page is inserting the default  value the titles for /blog/category/news and
/blog/c

[2020-06-27 16:55] LukeTowers commented on #508
@Artful-dodger why do you have `:page` in the category page and blog page? What value is supposed to go in there?

[2020-06-27 17:02] Artful-dodger commented on #508
I believe that was the way suggest to be setup is the that the setup for pages in the plugin is incorrect if what which way is correct

[2020-06-27 17:27] Artful-dodger commented on #508
I have altered the pluging to reflect they the pluging suggests the URL's to be setup but I am still getting the news category with the the default URL /blog/category/default/news page but it has gone from the /blog/category/article any idea why this might be or should I reinstall the pluging and start again with the new parameters

[2020-06-28 01:57] LukeTowers commented on #508
@Artful-dodger you shouldn't need to reinstall the plugin, just fix the URLs to be what they're supposed to be on the pages you have setup for linking to

[2020-06-28 18:27] Artful-dodger commented on #508
sorry for taking so long to reply it took a while to figure out but as a test I had hard wired a link which was causing the final error but thank you @LukeTowers for your help with this problem

[2020-06-28 22:57] #508 closed

[2020-06-29 19:38] sburkett commented on #507
Yeah, I tried the WYSIWYG approach, but not ideal. Thanks for the response! Maybe I'll mess with putting together a plugin that will extend the Markdown editor, assuming that is a possibility.

[2020-07-01 02:15] bennothommo commented on #507
That would be great if you can pull it off! :)

[2020-07-03 06:55] chrisvidal commented on #334
this issue is surfacing on Windows 2019 server:

here is the trace:

[code]

[2020-07-03 07:03] bennothommo commented on #334
@chrisvidal What is your `app.timezone` config in `config/app.php`?

[2020-07-03 07:47] chrisvidal commented on #334
Asia/Singapore

[2020-07-03 08:13] bennothommo commented on #334
@chrisvidal `app.timezone` should generally be kept as `UTC`. `cms.backendTimezone` can be changed to `Asia/Singapore`. Try changing it back to that and see if that works.

[2020-07-04 10:50] chrisvidal commented on #334
we tried that to leave it on `UTC` but the exception is still there.

I also tried unsuccessfully to use `ignoreTimezone: true` in the `.yaml`, still the exception shows up

[2020-07-04 20:35] LukeTowers commented on #334
@chrisvidal can you modify vendor/october/rain/src/database/model.php `asDateTime()`

[code]
to `dd($this->getDateFormat(), $value)` and then post the results?

Also what DB driver are you using?

[2020-07-05 01:57] chrisvidal commented on #334
alright thanks @LukeTowers
I will do so next week, after the client give me remote access to their server hopefully.

[2020-07-06 10:58] mattpollard0 opened #509 "Carousel Using Featured Images"
I'm typing to insert a carousel into a blog post that uses the Featured Images as the images for each slide.

I know I can link to the first and last images using .first and .last, is there a way I can link to the ones in between as well, and only display the slide if an image exists?

[2020-07-06 12:21] bennothommo commented on #509
@mattpollard0 You just need to use a Twig `for` loop to get all the images - you can see how the default partial for the post component does it:
https://github.com/rainlab/blog-plugin/blob/master/components/post/default.htm#L5-L17

[2020-07-06 14:35] mattpollard0 commented on #509
Brilliant, thank you so much!

[2020-07-06 16:14] #509 closed

[2020-07-07 08:10] chrisvidal commented on #334
result is `2020-07-10 06:30:00` for the 10th of July

[2020-07-07 08:12] LukeTowers commented on #334
@chrisvidal I need to see both variables, what is the output of `$this->getDateFormat()`?

[2020-07-07 08:15] Exodon opened #510 "Blog Post loop change order in case the page has pagination"
Hi
I´m having a problem on the loop of post when the page has pagination. So basically I have a page with typical content and sidebar. When I go to the second page of the pagination, the loops in the sidebar render other posts instead of showing the same of the first page.
In this loop  **[blogPosts musicmonth]** that I´m only showing one post, when it goes to the second page of the pagination, no

[2020-07-07 08:39] chrisvidal commented on #334
damnit I didn't get it, as it showed up in a long dialog box, sorry

[2020-07-07 09:22] bennothommo commented on #510
@Exodon the problem lies with this line in all component configurations:
[code]
Since you have that line in all components, that's effectively making all those components use the same page number from the URL. Instead of switching page for one of the components, you're switching the page for all of them.

You have two options to stop this:

- For the two "music" components, you could lock them to

[2020-07-07 09:23] #510 closed

[2020-07-07 09:45] Exodon commented on #510
thanks @bennothommo is working ... just to understand better your answers, both options that you provide only affect the URL parameters ?

[2020-07-07 16:30] LukeTowers commented on #334
I'll need to see it in order to help further.

[2020-07-08 01:41] chrisvidal commented on #334
I understand, but we are going to have to wait - I do not have any more access to the client server as we are biding for their project, testing OC installation on their Windows env.
 I will be able to know more if we win the project in the next few days/weeks.

[2020-07-08 02:04] bennothommo commented on #510
@Exodon not exactly, the first option changes the page to be locked to page 1, so it would not read the URL parameter anymore. The second option is a change to the URL parameters - essentially, it uses another URL parameters to specify the page number for that particular component.

[2020-07-08 05:43] LukeTowers commented on #334
Sounds good, looking forward to an update.

[2020-07-10 10:27] chrisvidal commented on #501
this should work fine in your page

[code]

or if pageTitle is mandatory:

[code]

[2020-07-18 07:44] mkinternet opened #511 "Alias already exists"
When i create new post with alias that already exists i recieve message "Alias already exists". Plugin should have create new alias automaticly instead of throwing an error. For example by adding dash and number on the end.

new-post-title
new-post-title-1
new-post-title-2
and so on.

[2020-07-18 08:46] bennothommo commented on #511
@mkinternet I have to say I disagree - I'd rather the system tell me the post slug is in use and give me the option to suffix it or change it to something else, than to have it suffix it without any warning.

[2020-07-18 22:36] LukeTowers commented on #511
The sluggable trait already does this in PHP if a slug isn't provided. I agree with @bennothommo though, it's better UX for the user to be notified they have a conflicting slug, usually that means they should probably name one of the two posts something different.

[2020-07-18 22:36] #511 closed

[2020-07-20 10:54] mkinternet commented on #511
It is good solutions when you have few posts with the same title. When posts are more you have to always think how to name slug.
Typical user does''t want to have this problem. Typycial user event doesn't know what the slug is for.
Wordpress increments same slug and it is hidden form the user.

[2020-07-20 13:30] bennothommo commented on #511
@mkinternet Just because Wordpress does it, doesn't make it a good idea, unfortunately. While some people may not realise what slugs are for, I feel they will most certainly appreciate being warned if it's a duplicate, as opposed to wondering why their URLs end with a "-2" or a "-3".

[2020-07-27 12:50] Klaswh opened #515 "Pagination hidden in Safari"
Pagination is hidden in Safari, no html code out at al.  This at least on local host.
Function in other web browsers, like Opera and Chrome.

[2020-07-27 16:22] LukeTowers commented on #515
That makes absolutely zero sense whatsoever. The server should not be deciding to just not send part of the response to a specific browser. This sounds like an issue with your debugging process.

Please post the view-source results of the page in question from safari & chrome, as well as the code you're using to generate the page.

[2020-07-27 17:30] EndiHariadi43 opened #516 "How to display featured_image in bootstrap 4 modal"
I want my website users to see the featured_image image in modal-body when they click on each blog title. How to do it? I tried but the picture that appears is always the same when I click on a different title. featured_image does not display images according to existing blog titles ( [https://prntscr.com/tpfiu3](https://prntscr.com/tpfiu3) ). Can anyone help me?
This is the code that I use :

[co

[2020-07-27 17:42] LukeTowers commented on #516
The problem is that you're generating a modal with the same ID for every slug.

Change
`<div class="modal fade" id="XModal" tabindex="-1" role="dialog" aria-labelledby="cover artikel" aria-hidden="true" >`
to
`<div class="modal fade" id="XModal-slug-{{ post.slug }}" tabindex="-1" role="dialog" aria-labelledby="cover artikel" aria-hidden="true" >`

and
`<a href="{{ post.url }}" data-toggle="modal"

[2020-07-27 17:42] #516 closed

[2020-07-27 17:50] EndiHariadi43 commented on #516
Thank you very much LukeTowers, the code you provided works well.

[2020-07-29 01:35] Klaswh commented on #515
Actually the pagination do not show up when your not loged in, in October CMS.

Sorry for my bad check, before post.

[2020-07-29 03:05] LukeTowers commented on #515
@Klaswh it sounds like you don't have enough public published posts for the pagination to show up when not logged in. Is that the case?

[2020-08-11 11:03] awaidqureshi opened #517 "Update Page theme not working"
Update page broken how to solve this issue
![image](https://user-images.githubusercontent.com/46388507/89890012-091ece00-dbec-11ea-872f-44f0971d201f.png)

[2020-08-11 14:07] bennothommo commented on #517
@awaidqureshi You are missing the PHP `gd` extension which is required for October CMS. Please install that and try it again.

[2020-08-11 17:48] awaidqureshi commented on #517
Thanks, its resolved

[2020-08-11 17:48] #517 closed

[2020-08-13 20:18] brianwachira commented on #225
So there is a plugin created to display related articles of a post.
It basically displays all the other posts of that category.
[https://octobercms.com/plugin/tallpro-related](url)
The documentation is clear and it works like a charm!!

[2020-08-14 00:04] bennothommo commented on #225
@brianwachira There's no need for a plugin for that - you can simply pass the category to a Posts component on your blog page, and put the current blog post into the `exceptPost` property, and that would do the same thing.

[2020-08-17 18:28] Thominho opened #518 "define a user who can only contribute to a specific category of posts"
Hi, is it possible to define a user who can only contribute to the category of posts A, and then a user who can contribute to the category of posts A, B?

Thank you

[2020-08-18 02:12] bennothommo commented on #518
@Thominho unfortunately there's no functionality within the Blog plugin for this type of control over categories. I'm not aware of any plugins that provide that functionality, but I can imagine it would be very doable as a plugin.

[2020-08-20 18:04] Petoches opened #519 "Add fields to backend Category"
Hi !

How can i add  custom fields in the backend for a category.
everything i try when editing fields.yaml doesn't work.

Thanks.

[2020-08-23 08:56] #519 closed, assigned to nobody

[2020-08-23 12:46] Thominho opened #520 "How to attach an image to each article?"
Hi, is there a possibility (even bad but working) of how to attach an image to each article? If the author does not attach another, a "default" image will be displayed on the website.

Thank you very much for your answer,

[2020-08-23 15:36] #520 closed, assigned to nobody

[2020-09-17 07:34] u07 commented on #424
@drmzio,

Cool things are sometimes small, but still cool. Like that cool tomato-slice-holding-gizmo I bought today) Your plugin makes things simpler, so it is sure worth publishing. And thanks for the code!

[2020-09-28 17:32] Cameron-Cn opened #522 "Syntax Issue (Update Pending, No Update?)"
Good Morning!

Running the blog.Rainlab component on OctoberCMS, and today I have been seeing this error multiple times:

[code]
I'm not sure what the file is supposed to look like, but the `[...]/96/` directory is empty, so of course there is no file (with that long hash).

Is there a way to rebuild the file that should be there? I am also unable to get into the CMS panel, but I can get into the

[2020-09-28 17:45] LukeTowers commented on #522
What version of October are you using?

[2020-09-28 18:04] Cameron-Cn commented on #522
For blog.Rainlab == 1.4.3
For October == Build 469

I'm still very much learning how October works, too, so entirely likely that the issue is BCAK.

[2020-09-28 19:42] LukeTowers commented on #522
@Cameron-Cn does `storage/framework/cache/` exist and is it writable by the application?

What's happening is https://github.com/octobercms/library/blob/develop/src/Parse/Yaml.php#L38-L40 is trying to cache the results of modules/cms/controllers/index/config_partial_list.yaml, but the Cache driver is unable to write to the path specified in the error message.

[2020-09-28 20:16] Cameron-Cn commented on #522
@LukeTowers `storage/framework/cache/` exists, and is showing `7 7 5` on permissions, which I would hope includes the application as either User or Group.

The file in question `cache/96/5c/{string}` has file permissions `6 4 4`

It's possible it got caught rebuilding cache for some reason, but I'm unsure why it would have had this issue--it seems to be affecting Media storage, returning a 403 err

[2020-09-28 21:34] LukeTowers commented on #522
@Cameron-Cn double check the user and group and what the application is running under. It shouldn't get "caught rebuilding the cache" there is no dedicated task for rebuilding the cache.

[2020-09-28 21:55] Cameron-Cn commented on #522
@LukeTowers
Are file permissions hosted somewhere within October documentation? I'll keep looking through past tickets, but a nudge in the right direction would be incredibly helpful!

I'll poke about and look through the stacks, and post here once I can figure out what went wrong.

[2020-09-28 22:28] LukeTowers commented on #522
What it boils down to is the application server user needs read access to everything in the project and write access to everything under storage, plugins, modules, & themes.

[2020-09-29 00:32] Cameron-Cn commented on #522
Times like these make me realize how much more a user than an admin I am with things still--PHP and October in this case.

At least the front end seems entirely fine, and backend is mostly working as intended.

Thank you for your help!

[2020-09-29 06:50] LukeTowers commented on #522
No problem, being involved with tech means always learning :) I'm still learning new things all the time. Is everything working for you now?

[2020-09-29 15:22] Cameron-Cn commented on #522
Not working yet. Or rather, still getting errors. Thankfully it's a simple personal site--nothing important.

It still looks like a permissions error, a lot of backend processes are unable to create folders. I'll get some IRL help today or tomorrow, as the stacktrace is way above my head.

Learning is great! If only it didn't involve breaking things all the time...

[2020-09-29 17:58] LukeTowers commented on #522
The stack trace isn't that helpful, because it's saying that there is a YAML parsing error, simply because that's where it first encounters the problem, but it's actually a permissions error that's getting eaten by the YAML parsing and rethrown as if it was a YAML parsing error.

[2020-09-29 17:59] LukeTowers commented on #522
@bennothommo could you adjust that catch block to be more specific about the exceptions it catches so that we can be more sure that it actually is a YAML parsing error before rethrowing it?

[2020-09-29 19:18] Cameron-Cn commented on #522
How would you recommend changing permissions? I have SSH/Terminal access, but am unfamiliar with what I should look for/search on StackExchange.

Many thanks again1

[2020-09-29 20:52] LukeTowers commented on #522
First thing you need to determine is what user the server is running under, then you can figure out what you need to do with the files. If you want you can hit me up on Discord so I can walk you through it with you sharing your screen.

[2020-09-29 21:30] Cameron-Cn commented on #522
@LukeTowers
Thank you for the offer--a friend walked me through actually with that exact method! Permissions have been changed, and I have not gotten any errors since...I hesitate to say problem solved, because there is always something!

At least I've gained more sense of what I don't know yet by working through this. This has been a great technical foray for me.

**Action**
I changed the values

[2020-09-29 21:43] Cameron-Cn commented on #522
Above I mentioned 403 errors, I have discovered that was a separate error _on my part_ where I was trying to put a PDF file into the `/media` directory. Creating a `/media/pdf/` subdirectory allowed for display of the PDF.

[OctoberCMS forum answer consulted](https://octobercms.com/forum/post/setting-allowed-filetypes-for-fileupload)

[2020-09-30 03:17] LukeTowers commented on #522
You should be able to upload PDFs no problem to any directory under media

[2020-09-30 14:08] Cameron-Cn commented on #522
That is likely an entirely different issue then. I found some forum questions suggesting that permissions errors were somewhat common.
+ [Media manager not able to display PDF](https://octobercms.com/forum/post/media-manager-not-able-to-load-pdf-file)

This makes me think it is a permission error with the `/media` folder or the file uploaded, that was changed when I made a new subdirectory.

[2020-09-30 17:48] #522 closed

[2020-10-09 18:35] Calinou opened #523 "Error after upgrading to latest version: "Maximum function nesting level of '1000' reached, aborting!""
**PHP version:** 7.4.11
**October version:** 1.1.0
**Rainlab blog plugin version:** 1.4.3

After updating the Rainlab blog plugin from an old ~2017 version on a site with no posts, I get the following error when loading any page not part of the backend:

![image](https://user-images.githubusercontent.com/180032/95619491-01a26680-0a6f-11eb-8d33-be4e041cf213.png)

(The full stack trace is much longe

[2020-10-09 18:39] Calinou opened #524 "Page contents doesn't appear in the backend for administration tabs"
**PHP version:** 7.4.11
**October version:** 1.1.0
**Rainlab blog plugin version:** 1.4.3

*Note:* unlike #523, this also occurs before upgrading the plugin.

When I browse to the list of blog posts or create a new post in the backend, I get an empty page even though submenus are displayed:

![image](https://user-images.githubusercontent.com/180032/95619695-4c23e300-0a6f-11eb-9d78-5ad2e4ef74b5.png

[2020-10-10 20:12] LukeTowers commented on #524
@Calinou are you using symlinks locally? If so you need to make sure you disable `cms.restrictBaseDir` (only do so locally, never do so in production): https://github.com/octobercms/october/blob/develop/config/cms.php#L446

[2020-10-10 22:54] Calinou commented on #524
@LukeTowers Enabling symlinks resolved the issue, thanks a lot!

Is there a way this could be detected while in development to print an error message somewhere?