[2020-10-12 02:52] chrisvidal commented on #334
alright, I am facing the problem now, since I am doing the installation on this Winder Server.
same error

[2020-10-12 03:04] chrisvidal commented on #334
so the results from `dd($this->getDateFormat(), $value)` is

[code]

[2020-10-12 03:29] bennothommo commented on #524
@Calinou I have previously thought about having a warning for this come up in the status box on the Dashboard, but I felt that a) some people may be using symlinks within the app which don't go outside the bounds of the app (therefore `cms.restrictBaseDir` is not required) and b) the performance decrease in checking if any symlinks are being used anywhere within the app made it not worth it.

If i

[2020-10-12 03:44] chrisvidal commented on #334
results coming upon saving a new article in the blog plugin:

[code]

[2020-10-12 03:55] chrisvidal commented on #334
according to this code
[code]

it replaces the existing `.v` with `.u` which supposes to represent the `microseconds`
however, our server return this value as `420` in the example, but eh foramnt expected is more along the line of `652498` format, a much biffer value to handle the microsecond.

hencem, maybe it is not a good to replace `.v` with `.u` in that case?

[2020-10-12 04:07] chrisvidal commented on #334
after some digging, the blog post published date returns the value `2020-10-29 11:20:00` and the expected format is `Y-m-d H:i:s.v`. So apparently there is missing this `.v` expected from the format here.

[2020-10-12 18:20] LukeTowers commented on #524
@bennothommo I think the way to handle it would be to display a better warning message if the view file that's supposed to be rendered isn't able to, and that message could simply include a "Are you using symlinks to manage code outside of your project root? Try disabling cms.restrictBaseDir (NEVER DO IN PRODUCTION)"

[2020-10-12 18:22] LukeTowers commented on #334
@chrisvidal I can tell you that the JS based datetime picker does not include microseconds in it's format. Why on earth is the `.v` in your expected datetime format?

[2020-10-13 00:12] chrisvidal commented on #334
Where does this expected date format come from?
We are on Windows Server 2019 though.
What could we explore to fix this?

[2020-10-13 04:15] LukeTowers commented on #334
@chrisvidal what version of the Laravel Framework are you using specifically?

[2020-10-13 04:24] chrisvidal commented on #334
I just install the last OC version with the wizard installer. Not sure which version it is

[2020-10-13 05:50] LukeTowers commented on #334
@chrisvidal could you give https://github.com/octobercms/library/pull/528/files a try?

[2020-10-13 06:53] chrisvidal commented on #334
here is the `october/rain` composer.json file, which I am surprised to see a completely different the one I have on my local machine

[code]

[2020-10-13 06:55] chrisvidal commented on #334
How do I use these files, please?

[2020-10-13 08:35] bennothommo commented on #523
@Calinou if possible, are you able to provide the full backtrace (perhaps as a download if it's too huge)? I'm just trying to determine which method or function within the Blog plugin kicks off the loop?

[2020-10-13 12:00] Calinou commented on #523
@bennothommo Here's the saved HTML page: [Exception.zip](https://github.com/rainlab/blog-plugin/files/5371121/Exception.zip)

[2020-10-13 17:14] LukeTowers commented on #334
@chrisvidal were you able to apply https://github.com/octobercms/library/pull/528/files to see if that resolved your issue?

[2020-10-13 17:53] Calinou commented on #523
@LukeTowers Here's the theme: [godotengine.zip](https://github.com/rainlab/blog-plugin/files/5373167/godotengine.zip)

[2020-10-14 00:01] chrisvidal commented on #334
having a remote call with my client in 2 hours to check this out. will post results here.

[2020-10-14 13:44] Calinou commented on #523
@LukeTowers Here's the database dump from development after upgrading October and plugins: [october.sql.zip](https://github.com/rainlab/blog-plugin/files/5378548/october.sql.zip)

PS: I noticed that an individual blog article like `http://localhost:8000/article/first-blog-post` will load successfully.

[2020-10-14 14:27] chrisvidal commented on #334
ok it seems to be working, thanks so much @LukeTowers

However, I am facing multiple issues from SQL Server with "simple" Eloquent query from the component `Posts` for example `the ORDER BY clause is invalid in views...`, when a category of post is queried with an order by `published_at`. From the `listForFrontEnd` method in `post.php` model. Any experience with that by any chance?

[2020-10-14 15:25] LukeTowers commented on #334
@chrisvidal can you post the full error message you get for that / the full SQL statement it tries to run?

[2020-10-14 15:27] #334 closed

[2020-10-15 00:18] chrisvidal commented on #334
`select * from [rainlab_blog_posts] where exists (select * from [rainlab_blog_categories] inner join [rainlab_blog_posts_categories] on [rainlab_blog_categories].[id] = [rainlab_blog_posts_categories].[category_id] where [rainlab_blog_posts].[id] = [rainlab_blog_posts_categories].[post_id] and [id] in (?) order by [nest_left] asc) order by [published_at] desc`

[2020-10-15 03:37] LukeTowers commented on #334
@bennothommo can you take a look at the above?

[2020-10-15 04:10] chrisvidal commented on #334
Maybe it is better that I create a new thread for this?
(I am waiting to gain access to the client remote server through another remote pc to post the complete exception trace)

[2020-10-15 07:37] chrisvidal opened #525 "MS SQL Server 2019 / the ORDER BY clause is invalid"
@bennothommo

On Microsoft Azure 2019 / MS SQL Server 2019 / PHP 7.4 / Laravel version from last October CMS installed with Wizard.

using the `Posts` component from the Blog plugin, `scopeListFrontend`

Few test cases:

## case 1

`select  * from [rainlab_blog_posts] order by [published_at] desc` and `select top 100 * from [rainlab_blog_posts] order by [published_at] desc`

is working fine

## ca

[2020-10-15 07:45] chrisvidal commented on #525
after test in pure SQL on SQL Server, this is correct

`select * from [rainlab_blog_posts] where exists (select top 100 * from [rainlab_blog_categories] inner join [rainlab_blog_posts_categories] on [rainlab_blog_categories].[id] = [rainlab_blog_posts_categories].[category_id] where [rainlab_blog_posts].[id] = [rainlab_blog_posts_categories].[post_id] and [id] in (1) order by [nest_left] asc) orde

[2020-10-15 07:52] chrisvidal commented on #525
what works is to modify the `scopeListFrontend` method with this:

[code]

[2020-10-15 09:53] bennothommo commented on #525
@chrisvidal What happens if you remove the ordering in the inner query? It might be better to remove the ordering, as the inner query doesn't need to be ordered when it's only being used as a filter (ie. the post must belong to one of the categories returned by the inner query).

[2020-10-15 10:00] bennothommo commented on #525
I think the real cause of the issue is that the `NestedTree` trait in the `Blog` model injects an order clause in every query via [a global scope](https://github.com/octobercms/library/blob/develop/src/Database/NestedTreeScope.php). What would resolve this would be to disable this global scope in the inner query:

[code]

[2020-10-15 10:16] chrisvidal commented on #525
I am not sure where this orderBy is done in the subquery.

[2020-10-15 10:17] chrisvidal commented on #525
Oo, never heard of this indeed. Let me try this tomorrow when I can connect remotely to my client server.

thanks

[2020-10-15 20:55] #524 closed

[2020-10-16 02:00] bennothommo commented on #334
Continuing thread in https://github.com/rainlab/blog-plugin/issues/525.

[2020-10-16 02:48] chrisvidal commented on #525
Alright, just tested on the client SQL Server and you are right @bennothommo your snippet fixes the particular SQL Server issue. Would be good to implement it in the `post.php` model for future SQL server users I guess.
thanks so much

[2020-10-19 02:54] chrisvidal commented on #525
the issue exists as well on the backend side in the plugin, especially when one performs a filter by category.

[2020-10-21 06:51] bennothommo commented on #525
@chrisvidal Would you mind testing the changes in #526 and letting me know if that resolves all issues for you?

[2020-10-25 14:46] RobertMatkulcik opened #527 "How can I make CSV exports accessible to public users without requiring a login?"
Hello, I'm trying to make a CSV export of all blog posts. Without any permissions required - visible for any visitor.
So, I edited the config_import_export.yaml to offer file download. Unfortunately this works only for admins, cause non-registered users are redirected to Sign In page. Is this a plugin restriction or October CMS?
THX for any help :)

[2020-10-26 02:21] LukeTowers commented on #527
What does your config_import_export.yaml look like?

[2020-10-26 10:58] RobertMatkulcik commented on #527
Hi, Luke. My config looks like this:
[code]

[2020-10-26 18:03] LukeTowers commented on #527
I don't see anything in your config that would say that a generated export file can be downloaded

[2020-10-26 20:34] RobertMatkulcik commented on #527
So, what I'm missing? Permissions options?

[2020-10-26 22:17] LukeTowers commented on #527
Please provide a gif of how the process currently works and how you expect the process to work for users that aren't logged in.

[2020-10-29 20:59] RobertMatkulcik commented on #527
A GIF? OK, there is a working example as a logged-in user.
![Working](https://user-images.githubusercontent.com/13135956/97631684-9f1b0580-1a31-11eb-928d-d5caad842892.gif)
And non-working example as a non-logged-in user :)
![not-Working](https://user-images.githubusercontent.com/13135956/97631800-ceca0d80-1a31-11eb-923a-b4bea426a4f8.gif)

Just want to make file downloadable for all.

[2020-10-29 21:19] LukeTowers commented on #527
Backend controllers inherently block non-logged users from accessing them by default, that's the point of the backend. If you want to make the file available for people to download then you can just download it yourself and then upload it to the Media Manager and provide a URL to that uploaded file. If you'd like to have a URL that will automatically export and download the latest posts whenever y

[2020-11-05 13:49] rwcorbett opened #528 "error when using categoryFilter if top level Categories do not have nested values"
@bennothommo @LukeTowers @chrisvidal - I am not certain how the nested trees work with the blog categories but I have found something that relates to #525 & #526 but is specific to line 333 in `Post.php`

https://github.com/rainlab/blog-plugin/blob/3d2e7aea9f4ef54ae3ef3b0b30f406eb71d241d7/models/Post.php#L333

if the value of `nest_left` or `nest_right` is NULL then an error is thrown when using `

[2020-11-10 15:26] Sforzando87 opened #529 "Publish many imports at once"
My imported posts (over 500) are not published after import, but I cannot sit and go through 500+ items one by one to publish them if the dates are already there. Please advise how to do it faster?

[2020-11-10 15:34] mjauvin commented on #529
You could run the following code using `php artisan tinker`:
[code]

[2020-11-10 15:55] mjauvin commented on #529
But I agree that the "published" property should be added to the import/export models columns.

[2020-11-10 16:16] Sforzando87 commented on #529
I get the following error:

![image](https://user-images.githubusercontent.com/74256165/98700384-09a43d80-2370-11eb-92c5-553947659b25.png)

[2020-11-10 16:17] Sforzando87 commented on #529
I get the following error:
![image](https://user-images.githubusercontent.com/74256165/98700511-28a2cf80-2370-11eb-8a1f-85a897362eaa.png)

[2020-11-10 16:21] mjauvin commented on #529
It's probably because you are using the 1.0 branch...

try monkey patching the RainLab.Blog Post Model like this:

file: /plugins/rainlab/blog/models/Post.php:
[code]

[2020-11-10 16:43] Sforzando87 commented on #529
Thank you for your assistance - I now get 'The slug has already been taken'

[2020-11-10 18:18] LukeTowers commented on #529
use this code instead: `php artisan tinker`
[code]

[2020-11-10 18:30] LukeTowers commented on #529
For your initial import did you include the published_at column?

[2020-11-13 20:22] mjauvin commented on #437
The way to properly use the blog post page url is to NOT use a category slug but have the category saved in the session when opening a blog post from a blog category page. Here is a sample of my blog category page (blog/category.htm):
[code]
And here's the Blog Post page (blog/post.htm):
[code]

Hope this helps.

[2020-11-14 01:50] g3rox opened #531 "How to edit the sidebar latest posts"
Hi, I downloaded this theme: [https://octobercms.com/theme/mehedi-megakit](https://octobercms.com/theme/mehedi-megakit) and installed the Blog plugin. But after I followed the instructions, I do not get what was shown in the demo here: [https://octobercms.com/theme/mehedi-megakit](http://demo.themefisher.com/megakit/blog-single.html) I would like to have the photos of the blogs next to the titles

[2020-11-14 01:52] g3rox opened #532 "How to inset images in the blog and have them float left with text wrap"
I'd like to inset images into the single blogs but whenever I insert an image, even if its sized very small, I get one line of text that is next to it then the rest of the text is below the image. How can I float left the image with text wrap?

[2020-11-14 01:56] mjauvin commented on #531
Please, open a support issue here:

https://octobercms.com/theme/support/mehedi-megakit

[2020-11-14 02:02] g3rox commented on #531
I did but no one answered.

[2020-11-14 02:04] mjauvin commented on #531
Then I suggest using a different theme...

[2020-11-14 02:05] g3rox commented on #531
I don't understand. That part of the theme is using the blog plugin. So wouldn't that fall under the plugin support? Is what they did possible to do with the plugin or ?

[2020-11-14 16:32] mjauvin commented on #531
There is nothing wrong with the blog plugin. If the theme uses the plugin the wrong way or if you expect a different layout/rendering, it's up to you or the theme to customize this.

[2020-11-14 19:14] orzech76 opened #533 "Global Title Tag"
Hello, How can I change the global title tag that displays in google for each blog article to a unique title tag for each category? Now, Google displays the same title in every category in search results. I will be grateful for your help

[2020-11-14 19:24] mjauvin commented on #533
which "global title tag" are you refering to? You mean like below?
[code]

[2020-11-15 10:37] LukeTowers commented on #531
See https://octobercms.com/docs/cms/components#customizing-default-markup for information on how to customize the default partials provided by plugins.

[2020-11-15 10:37] #531 closed

[2020-11-15 10:47] LukeTowers commented on #532
Github issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/forum
StackOverflow: https://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or https://octobercms.com/chat

[2020-11-15 10:47] #532 closed

[2020-11-16 08:24] bennothommo commented on #437
@mjauvin Not a bad solution, but it is a bit of a hack - `category` in the session is very broad and could conflict with other plugins that might be using the same key.

I believe it's been mentioned by someone else previously, but having a "primary" category that is tied to a blog post might solve this issue better - the blog post can still belong to multiple categories, but the primary one is al

[2020-11-16 13:13] mjauvin commented on #437
@bennothommo you can use whatever key you want, doesn't have to be "category".

[2020-11-16 18:27] #527 closed

[2020-11-17 01:45] bennothommo commented on #437
@mjauvin I get that, I'm just merely commenting on the process of passing session variables directly in the PHP section of pages. Don't get me wrong, it works and it's a good workaround for the moment, but I'd like to investigate a more thorough solution.

[2020-11-17 02:33] mjauvin commented on #437
@bennothommo for the sake of discussion, how would you let a blog post page "know" which category was selected when opening a post that has multiple categories (when the category list on the sidebar of the post page must be made active) ?

The only reliable way I found was to use the session to pass that information.

[2020-11-17 03:07] bennothommo commented on #437
@mjauvin I'd simply include the category in the URL parameters - ie. `blog/:category/:slug` - and ensure that any links to that blog article, such as those through a BlogList component, reflect the current category. If the category is not available, then I would assume it's the primary category using the idea I mentioned above.

[2020-11-19 09:38] #525 closed

[2020-11-23 20:29] TuringJest opened #534 "How to prevent wrapping of images in markdown within <p> tags?"
Currently all images added in markdown are wrapped within a p tag. How can we prevent that?

It makes it impossible to style paragraphs and images separately in certain situations (e.g. width).

[2020-11-28 13:54] Thominho opened #536 "Variable in article view."
I need help with this problem, I want to view the first article in one section and the others in another. This solution of mine does not work.

My component

[code]

[2020-11-28 14:50] mjauvin commented on #536
The git issues is to report actual issues.

Please use of of the support channels (forum, stackoverflow, discord channel) when you need help.
See "Community Forums" and "Chat Rooms" section on the sidebar of [this page](https://octobercms.com/support)

[2020-11-29 09:40] LukeTowers commented on #536
Github issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

[2020-11-29 09:40] #536 closed

[2020-12-01 20:52] nokios opened #537 "Composer PHP Dependency is wrong"
Since version 1.4.1 you have introduced arrow function syntax.

(Example, see here: https://github.com/rainlab/blog-plugin/blob/9853f3a4db8329fd429158ec4c48f699fafb195d/components/posts/default.htm#L10)

Your composer php version, however, for version 1.4.1, is php >=7.0.

This is not advisable, as arrow functions were introduced in php 7.4.  You should indicate 7.4 as a minimum at this point.

No

[2020-12-01 21:27] LukeTowers commented on #537
@nokios would you be willing to submit a PR to remove the arrow function? Not sure how I let that slip through, I don't like using them period.  Also, I have no idea how Twig even permits that as valid syntax. @bennothommo any thoughts?

[2020-12-02 14:29] nokios commented on #537
I will see if I have time at some point to submit a PR.

[2020-12-15 04:34] chrisvidal commented on #334
Since the last OC 471 update, my client is facing again the date error issue when creating new post.

OC #471
rainlab blog 1.4.3

here are the errors:

`
"Data missing" on line 917 of D:\STTC\vendor\nesbot\carbon\src\Carbon\Carbon.php
`

and

[code]

[2020-12-15 04:42] chrisvidal commented on #334
Apparently, the `vendor/october/rain/src/database/Model.php` is still causing the same issue in this OC #471

[2020-12-31 14:26] orzech76 opened #540 "Google News"
Hello, I`d like to add my blog to Google News. I have an issue with url adres. On my page url https://diabetyk.online/blog/category i  have a list of articles. In this adress Google News doesn`t detect a multiple articles. My artciles pages have url https://diabetyk.online/blog/post/... I thing that problem is in url adres blog/category or blog/post. I quote from Google "As per the Web Location re

[2021-01-02 12:55] bennothommo commented on #540
GitHub issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/forum
StackOverflow: https://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or https://octobercms.com/chat
Discord: https://discord.gg/6S777kh

[2021-01-02 12:55] #540 closed

[2021-01-05 22:47] Hessel91 opened #541 "Backend button notify all registered users from user plugin"
Hi, for a client I would like the blog plugin to send a notification e-mail to all registered "User" plugin users.
I know there is a front-end plugin for this however all other plugins are managed in the backend, I can not tell them to switch to backend and front-end to manage their website. Is this a modification request that would benefit other blog plugin users  as well or do I need to post thi

[2021-01-06 01:53] bennothommo commented on #541
@Hessel91 this is functionality that would best suited for another plugin that extends the Blog plugin. I don't think there's a real use case for having the function in the Blog plugin by default - it's not really a "natural" place to look for a "notify all users" action.

[2021-01-06 01:53] #541 closed

[2021-01-06 02:02] bennothommo commented on #534
@TuringJest the [Markdown standard](https://www.markdownguide.org/basic-syntax/#paragraphs-1) stipulates that any content separated by a blank line should be made into paragraphs and surrounded by `<p>` tags. If you remove the blank line, the image will fall inline with the content surrounding it.

[2021-01-06 02:02] #534 closed

[2021-01-06 02:09] bennothommo commented on #528
@rwcorbett thanks for letting us know. I'm not sure of the rationale for why the columns were set to nullable in the first place, but as you indicated, there's no real way through the CMS that these fields would be `null`, so it's not really worth changing it at this point.

[2021-01-06 02:09] #528 closed

[2021-01-06 02:10] #518 closed

[2021-01-06 02:10] bennothommo commented on #505
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2021-01-06 02:10] #505 closed

[2021-01-06 02:10] #501 closed

[2021-01-06 02:11] #497 closed

[2021-01-11 14:39] 01Kuzma commented on #194
Long time passed since last reply.
Any news regarding this?

[2021-01-11 17:23] LukeTowers commented on #194
@01Kuzma no, and you would be better served by asking for help on the forum or Discord instead of commenting on a four year old issue.

[2021-02-04 11:43] kolacekp opened #544 "Error displaying translated post"
Hi,

I have problem with displaying multilingual blog post.

When I have configured multiple languages on the site and create a blog post in backend with some translated contents. But those translated contents don't show on frontend (displaying via blogPost component, via `content_html`) property - there is fallback to the default language. Post title shows correctly, post url show correctly, but

[2021-02-04 17:39] LukeTowers commented on #544
@mjauvin

[2021-02-04 19:26] mjauvin commented on #544
This is personally how I display the post content, and it does get translated:
[code]

[2021-02-08 03:16] Dione-stack opened #545 "1054 Unknown column...'post_id` is not null limit 1... (error when trying to extend Post model)"
Hi there
I'm trying to extend Post model and add new fields, and i'm getting a database related error
when i go to an existing blog post i get this error:

`"SQLSTATE[42S22]: Column not found: 1054 Unknown column 'testplugins_myplugin_videos.post_id' in 'where clause' (SQL: select * from `testplugins_myplugin_videos` where `testplugins_myplugin_videos`.`post_id` = 2 and `testplugins_myplugin_video

[2021-02-08 03:26] bennothommo commented on #545
@Dione-stack for a `hasOne` relation, the target database - in the case `testplugins_myplugin_videos` - should have a related ID column that matches the model name in underscore-case. So, in this instance, you should have a `post_id` column in that table.

[2021-02-08 04:14] Dione-stack commented on #545
Thank you for your response, i added the post_id column to my table just like you said and it worked, and the second error turns out to be unrelated to the issue and i dealt with it as well, that leaves nothing, thank you very much!

[2021-02-08 04:14] #545 closed

[2021-03-01 16:47] Chocofede opened #547 "Add missed Spanish tranlations"
Hi,

I've seen that the new blog update is missing some Spanish translations, so, I've added them and homogenized the translation strings, to make it sound Spanish (From Spain).

I will do a Pull Request from my repo to master. Please, let me know if that's Ok or if I have to do it in a different way.

[2021-03-01 17:01] Chocofede commented on #547
I created the #548 pull request for this.

[2021-04-05 04:03] daftspunk commented on #472
The Post component doesn't support the route `/blog/:category/:slug` natively. However, you could implement something similar in your PHP code to prevent the duplicated content. I've made a note to look at introducing this functionality in the next iteration of the blog featureset

Add to blog post page

[code]

Thanks!

[2021-04-05 04:03] #472 closed

[2021-04-05 04:30] daftspunk commented on #547
Merged. Thanks!

[2021-04-05 04:30] #547 closed

[2021-04-05 04:30] #455 closed

[2021-04-05 04:32] daftspunk commented on #457
Looks like this feature is unavailable until the referenced issues in the vendor lib are sorted

[2021-04-05 04:32] #457 closed

[2021-04-05 04:34] daftspunk commented on #458
This should have been rolled back in 950fbd7b1e6a0ad8d1c0277027fe3ed7c8e12091. @srsgores if it is still an issue, please ping me and we can revisit

[2021-04-05 04:34] #458 closed

[2021-04-05 04:34] daftspunk commented on #537
Rolled it back. Thanks

[2021-04-05 04:34] #537 closed

[2021-04-05 04:35] daftspunk commented on #544
The |raw filter is needed for now

[2021-04-05 04:35] #544 closed

[2021-04-05 04:38] daftspunk commented on #474
It looks like this would be best handled with some custom PHP code, or a custom importer plugin. We hope to have features like this introduced in a later release. If you need help writing an importer plugin, feel free to reach out. Thanks for your feedback

[2021-04-05 04:38] #474 closed

[2021-04-05 04:47] daftspunk commented on #486
I could replicate this but couldn't trace it. Mystery 🤷

Seems to happen in the framework.js or flash message JS, added a note to revisit it when we look at these tools

Thanks

[2021-04-05 04:47] #486 closed

[2021-04-05 04:54] daftspunk commented on #523
This is almost certainly caused by some recursion found within your theme. If you still require professional assistance with this, we can assist with our [premium support programme](https://octobercms.com/premium-support).

Closing since it has been a while, hope you got it sorted. Thanks

[2021-04-05 04:54] #523 closed

[2021-04-05 04:55] daftspunk commented on #496
Yes, when the `:slug` is empty is assumes "no category filter". Try using a default on the parameter

[code]

Hope this helps. Ping me if you still need help with this. Thanks

[2021-04-05 04:55] #496 closed

[2021-04-05 04:56] daftspunk commented on #533
Add this PHP code to your page

[code]

[2021-04-05 04:56] #533 closed

[2021-04-05 04:57] daftspunk commented on #515
When you are signed in as admin, unpublished posts will appear on the front-end. This is probably why. If it is still an issue, ping me and we can revisit. Thanks

[2021-04-05 04:57] #515 closed

[2021-04-06 15:27] climao opened #549 "Can't update from 1.4.3 to 1.4.4"
At the end of the update I receive the "Update process complete" flash message but no update is done. No files are changed.
If I hit the "Check for updates" button again I still receive the "Found new updates! Click Update software to begin the update process. "

Anybody knows what is going on?

[2021-04-06 16:12] tfprado commented on #549
Having the exact same issue. Running PHP version 7.2 and latest October build (471)

[2021-04-07 15:30] lco0Vpjd commented on #549
Not even on a fresh install...nothing on the server log or in cms event log....can't update or install.

[2021-04-09 02:17] SalocinDotTEN opened #550 "Non super admin can't put in embedded media."
Hi,

I have a setup where there are blog writers without administrator privileges and they have come back to me saying while they are able to insert embedded media, they aren't able to save it into the blog article.
Text edits are visible but the embedded media just does not show up.
Only after I log in and resave the blog article does the embedded media show.

Is there a specific setting in Octob

[2021-04-09 06:15] daftspunk commented on #549
Should be fixed now. Please try the update again and you should get 1.4.4. If it still isn't working, ping me in a comment and we can check again

[2021-04-09 06:15] #549 closed

[2021-04-09 06:36] daftspunk commented on #550
This could be related to the permission called `backend.allow_unsafe_markdown` which is designed to stop XSS attacks. It would be worthwhile to check what happens if you give them this permission, of course, it would be wise to only give this permission to roles that you trust and potentially have some legal recourse over

Otherwise, can you provide details on the embedded media that you're using?

[2021-04-09 12:53] lco0Vpjd commented on #549
Thanks !

[2021-04-10 15:46] SalocinDotTEN commented on #550
Thanks @daftspunk :)

I suppose that is the issue.

For information, it is an iFrame based embed. You can go to [this site](https://www.bfm.my/podcast) and look for a random podcast to copy its embed code.

[2021-04-12 06:51] daftspunk commented on #550
Thanks, we will conduct some testing against this embed code

[code]

Is that embed the correct one @SalocinDotTEN ? If so, it would certainly be caused by that permission. Try allowing it for your users and let me know

[2021-04-14 02:19] SalocinDotTEN commented on #550
Most welcome, @daftspunk .

The actual embed code is not a script tag but an iframe like as follows..
`<iframe src="https://omny.fm/shows/popcorn-culture/popcorn-culture-throwback-tuesday-kill-bill-vol-1/embed" width="100%" height="180px" frameborder="0"></iframe>`

However yes, it is really caused by that permission setting. I have tested it through user impersonation and it works. So hopefully i

[2021-04-15 03:38] daftspunk commented on #550
Great, thanks for reporting back

[2021-04-15 03:38] #550 closed

[2021-04-19 13:25] camohub opened #551 "New post save does not show success message"
I have a pure new installation of October cms + Blog plugin.
I tried to make a new post and save it. Page shows me the loading circle but no success message. If I click on other page link this redirect shows me the message related to new post. New post is saved successfully but ajax does not work as expected.

Here is the link to avi video file https://drive.google.com/file/d/1ixXg-m1rx_IUc1SZ8-N_

[2021-04-19 15:23] camohub opened #552 "No categories were found."
I have a newest installation of October cms and latest rainlab blog plugin. I can create a categories and posts. But as I try to include the categories list component to the site like
[code]
it shows me a message: no categories found.

![Screenshot (389)](https://user-images.githubusercontent.com/8393426/115260712-49e3c500-a133-11eb-8492-edf1631f6d4a.png)

Also there as some checkboxes in the cate

[2021-04-20 01:25] daftspunk commented on #552
Hi @camohub ! Thank you for this

I note that every category in your screenshot has no posts. The `blogCategories` component does not show empty categories by default. There is a checkbox in the component inspector that lets you modify this behavior

- [ ] Display empty cateogeories

I hope this helps. If it doesn't, ping me here and we can revisit

[2021-04-20 01:25] #552 closed

[2021-04-20 01:26] daftspunk commented on #551
Fixed in bde3340d4b47119280f093072ef30483c7db76d8 (v1.5.0)

Thanks!

[2021-04-20 01:26] #551 closed

[2021-04-20 07:31] camohub commented on #552
The problem was in published property. But I don't understand if the posts were not published how is it possible I can see them on the page? You can see that on the first screenshot. Non of that posts were published but I can see them.

[2021-04-20 08:06] camohub commented on #552
Ok I have it. There is something like "Show all posts to backend users" in blog plugin settings. (in my opinion all this stuff should be on one place)

[2021-05-19 09:15] AbdulsatarAboud opened #553 ""Content Field Is Required""
Hello,

I've installed the current blog plugin(v 1.5.0) on my October project(v 2.0.14). Whenever I make a new blog post I get a flash message "Content Field is required" while I have already filled the text area.

[2021-05-21 07:39] daftspunk commented on #553
Hey @AbdulsatarAboud

Sorry to hear you are having issues. I have tested this and confirmed it is an issue when interacting with the RainLab.Translate plugin. We have pushed a fix and it is available by updating to v1.5.1 of the blog plugin

Thanks!

[2021-05-21 07:39] #553 closed

[2021-05-24 07:21] AbdulsatarAboud commented on #553
It works now.

Thank you.

[2021-06-03 03:25] calebeso opened #554 "Wrong code format displayed in website"
When I'm making a blog post in my backend application, I got the correctly preview of what should be the code format:

![correto](https://user-images.githubusercontent.com/53923521/120581885-f0dda100-c401-11eb-9b5f-31ba805d9622.png)

But when I go to the website, this is what is being displayed in the front. Already check possible css alters but no one's found..

![errado](https://user-images.gith

[2021-06-07 06:17] daftspunk commented on #554
Hi @calebeso

This is because the frontend and backend are using a different theme. If you are using the demo theme, take a look at the `javascript/app.js` file and see where it activates code formatting:

[code]

You can apply a different theme here. These themes are supported: https://codemirror.net/demo/theme.html

I hope this helps!

[2021-06-07 06:17] #554 closed

[2021-06-14 11:50] wardaari opened #555 "Can't align text or image"
![image](https://user-images.githubusercontent.com/12183372/121887723-62c5bc80-cd17-11eb-80ee-be9591e045ff.png)

I don't see option to align text or to centralize an image

[2021-06-16 08:35] daftspunk commented on #555
Hi @wardaari

When you click on the image, you should see the image-specific options. See below:

![image](https://user-images.githubusercontent.com/1392869/122186699-a2d09f00-ced1-11eb-80f1-07c10888e171.png)

[2021-06-16 13:26] wardaari commented on #555
What about text, though?

[2021-06-17 21:15] daftspunk commented on #555
The blog plugin uses [Markdown format](https://www.markdownguide.org/basic-syntax/) so the text alignment is not supported natively. You can use HTML to do it instead, for example, to center text:

[code]

[2021-06-19 07:17] exaline-ru opened #556 ""Trying to get property 'contentable_id' of non-object"..."
(LATEST BUILD 2.0.21 - Blog 1.5.1)

When editing content, this error comes out:

"Trying to get property 'contentable_id' of non-object" on line 96 of /home/admin/web/domain.com/public_html/vendor/october/rain/src/Database/Relations/MorphOne.php

* When creating new content - everything works as it should

[2021-06-21 03:21] daftspunk commented on #556
Hi @exaline-ru.

This looks like it may be caused by a plugin that is introducing a relation called `contentable`. Do you have any plugins installed that are extending RainLab.Blog?

[2021-06-21 10:27] exaline-ru commented on #556
Yes. The problem is caused by an extraneous editor. After disconnecting - everything works as it should. Thank you for your time.

[2021-06-22 21:24] sairoko12 opened #558 "The blog can't be access to public"
(LATEST BUILD 2.0.21 - Blog 1.5.1)

Hi everyone,

I set up my blog, but I can't see anything when trying to access it from other devices without an admin session, I can only see the content when I have an admin session.

I trying to find any settings about privacy or similar

Any suggestion for this?

[2021-06-24 00:02] #556 closed

[2021-06-24 00:20] daftspunk commented on #558
Hi @sairoko12!

This is likely caused by the fact that the blog posts are not in a "published" state. You can click the checkbox under the Manage tab for every post.

- [X] Published

By design, admins can see the posts when they are not published, this lets them preview the content. It is possible to disable this functionality via the Blog Settings.

Hope this helps!

[2021-06-24 00:20] #558 closed

[2021-07-06 02:04] #555 closed

[2021-07-06 13:29] aaradho opened #559 "error for Release post :"A four digit year could not be found Data missing""
hello,
I have problem. when I want to Release my post in blog , show this error " A four digit year could not be found Data missing....in carbon.php".
because my back-end language is persian.then I change it to English it is correct.
please help me to solve it for persian language.
thanks.

[2021-07-12 01:59] daftspunk commented on #559
This appears to be related to a plugin that you have installed. We have followed up via email. Please check your inbox for a reply

[2021-07-12 01:59] #559 closed

[2021-07-12 06:29] aaradho commented on #559
hello,I install only this plugin:october demo version 1.0.1blog version 1.5.1builder version 1.0.30Can you explain more please?

    On Monday, July 12, 2021, 06:29:56 AM GMT+4:30, Sam Geo ***@***.***> wrote:

This appears to be related to a plugin that you have installed. We have followed up via email. Please check your inbox for a reply

—
You are receiving this because you authored the thread.

[2021-07-19 03:42] daftspunk commented on #559
We can't replicate this, but we saw your email sent to us and have replied with further instructions.

[2021-07-21 17:30] calebeso commented on #554
Thanks for replying!

Problem solved!

[2021-08-09 18:50] NChechulin opened #561 "Wrong cursor location in text input area"
!!! I am not sure that the problem is in the plugin, so feel free to close the issue if it is irrelevant.

Some offset occurs and as a result, the cursor can be right inside the character:
![image](https://user-images.githubusercontent.com/38015818/128758228-f694defe-7068-4ca2-8945-a25f1fd5ed72.png)

The longer the text is, the bigger the difference. At some point, if a user presses Backspace it d

[2021-08-11 02:36] daftspunk commented on #561
Hi @NChechulin

I could not replicate this, using Chrome Version 92.0.4515.107 and Windows 10.

![image](https://user-images.githubusercontent.com/1392869/128960870-519d6b80-1134-43fd-b93f-bd92908864a6.png)

What browser are you using for this to occur?

[2021-08-11 14:02] NChechulin commented on #561
Hi @daftspunk!
I use:
- Chrome 92.0.4515.131 (Official Build) (64-bit) (cohort: Stable)
- Windows 10 OS Version 2009 (Build 19043.928)

[2021-08-16 00:29] daftspunk commented on #561
It looks like we use the same browser and OS. Unfortunately, I was not able to replicate this. If you can provide more detail, such as replication instructions we can look at finding the cause and a solution.

[2021-08-16 00:29] #561 closed

[2021-09-15 12:53] maartenmachiels opened #562 "Unable to type in richeditor field"
Hi,

I'm not sure this issue is elegable for support, but here goes:

My clients is on October 473, using the Blog plugin with the slight modification that the content field is changed to a richeditor field via a custom plugin with the following snippet in the boot method:

        \Event::listen('backend.form.extendFields', function($widget) {

            // Extend only the Blog\Posts controller

[2021-09-18 05:27] daftspunk commented on #562
Hi @maartenmachiels

Try uninstalling the `rainlab/blogvideo` plugin because it specifically looks for a markdown editor, which you are not using anymore.

I hope this helps!

[2021-09-18 05:27] #562 closed

[2021-09-20 07:20] maartenmachiels commented on #562
Hi @daftspunk , just to let you know that that solves the issue! Thanks a bunch.

[2021-10-03 17:15] get-web commented on #501
It doesn't work

[2021-10-05 02:33] daftspunk commented on #501
When you link to a page, you have the opportunity to supply route params, for example:

[code]

[2021-10-17 20:17] Artful-dodger opened #565 "Error installing Stormseo"

[2021-10-17 20:27] #565 closed

[2021-10-21 14:56] isanchop opened #566 "Upload Error - Server responded with 400 code. Featured_image"
After updating the plugin and October cms I am getting this issue where I can not upload the featured_image and getting a 400 error on the upload. The media upload from October works fine.
Could this be related with this issue?   https://github.com/rainlab/blog-plugin/issues/291

Here there is a screenshoot of the issue:
![image](https://user-images.githubusercontent.com/67743899/138303917-cceacfa

[2021-10-21 20:27] daftspunk commented on #566
Hi @isanchop

Unfortunately, this is unrelated to #291 and is also unrelated to October CMS. A "400 Bad Request" error means that the request the client made is incorrect or corrupt, and the server can't understand it. This means it is a server configuration issue with your web hosting. There may be some issue with the request that the server does not accept, you can try contacting your hosting pr

[2021-12-15 17:13] Roby-Wan-Kenobi opened #567 "Version 1.4.3: Doesn't manage published_at date"
If I set the blog published with a future published_at date I see the post on the frontend right now

[2021-12-15 18:14] #567 closed

[2022-02-14 07:40] mikysetiawan opened #568 "Preview blog button"
Hi, in this update #316 already have preview blog feature before publishing, but at the backend there is no button to redirect to review page, how can I add preview button to automatically redirect to preview page?

Thanks!

[2022-02-14 08:00] mikysetiawan commented on #568
Why the preview button is hidden? I check in **_post_toolbar.htm** and there I can see the preview button is will always hidden because of this code `class="btn btn-primary oc-icon-crosshairs <?php if (!false): ?>hide<?php endif ?>"` ?

[2022-02-17 00:54] daftspunk commented on #568
Hi @mikysetiawan

This was a planned feature that never materialized, but don't worry, this feature is included in the release of Tailor. For now, you just need to navigate to the blog page by hand to preview posts.

I hope this helps!

[2022-02-17 00:54] #568 closed

[2022-02-28 09:09] IonelRO opened #569 "Change data range to blog V1.2.2"
Hi,
I have a site made with October CMS and blog V 1.2.2.

Data range is until 31 dec 2020 ... how I can extened this range ?

[2022-03-01 22:04] daftspunk commented on #569
Hi @IonelRO,

This should not happen normally. Could you show a screenshot?

[2022-03-02 06:47] IonelRO commented on #569
Attached.

|
Ionel Dobre
Președinte
 |
ASOCIAȚIA PSIHOLOGILOR GORJENI
Tel: +40253213041

Mobil: +40764473012
***@***.*** / www.apsg.ro |

    On Wednesday, March 2, 2022, 12:04:20 AM GMT+2, Samuel Georges ***@***.***> wrote:

Hi @IonelRO,

This should not happen normally. Could you show a screenshot?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go

[2022-03-02 15:13] dathwa commented on #476
Hello. just installed OCMS 2.2 and we are seeing an error on the "edit post" page.
"A widget class name 'rainlab\blog\formwidgets\mlblogmarkdown' has not been registered"
Related to above?
Any quick fix?
Thanks

[2022-03-02 19:08] daftspunk commented on #476
@dathwa This seems like an unrelated issue. Please send an email for support https://octobercms.com/contact

[2022-03-07 02:10] daftspunk commented on #569
Please email this using the contact details here: https://octobercms.com/contact

Thanks

[2022-03-07 02:10] #569 closed

[2022-04-06 16:58] chocolata commented on #533
Hi Samuel, is it possible that this doesn't work anymore?
Inside my blogpost detail page I've got in the header:

	title = "Article"
	url = "/news/article/:slug"
	layout = "blog/post"
	is_hidden = 0

	[viewBag]
	[blogPost]
	[blogCategories]
	slug = "{{ :slug }}"
	displayEmpty = 0
	categoryPage = "blog/category"

	==
	<?php
	function onStart(){
		$this->meta_title = "My custom meta title"; // doesn

[2022-04-06 22:51] daftspunk commented on #533
Hi @chocolatam

This appears to be working normally. Tested with v2.2 and and v3.0

[code]

In the layout

[code]

Tested with your code as well

[code]

Check that you don't have any plugins installed that might be interfering.

[2022-06-19 22:42] Bauboo opened #570 "Text cannot contain '&'"
### Description

When I make a blog post with an '&' in the text, the text gets truncated right before the '&'. There is no obvious error message.

### Versions

Rainlab/Blog: 1.5.6
OctoberCMS: 3.0.51

### Other

It did work in the past with an older version of the plugin and OctoberCMS 2, although I don't remember the exact versions.

[2022-06-19 23:17] daftspunk commented on #570
Hi @Bauboo

Please try updating to OCMS v3.0.52 for the fix.

Thanks!

[2022-06-19 23:17] #570 closed

[2022-06-20 12:29] az-vm opened #571 "Categories translated slug issue"
Hello!

First thank you for this amazing plugin.

I´m facing the problem only in categories, not in posts, with the translated slug on front end side.

When we change locale it don´t change the url to the translated slug defined on the categories.

For example:
www.domain.com/en/categorie/en_slug
www.domain.com/es/categorie/es_slug

When we are on:
-> www.domain.com/en/categorie/en_slug
-> and cha

[2022-06-20 14:23] LZaplata opened #572 "Endless saving"
Hi,

I found weird behavior in the plugin after upgrading to version 1.5.6, OctoberCMS is is version 3.0.53. When I want to save a post, it looks like saving but never stops and doesn't show flash message. After browser refresh, post changes are in fact saved. What's wrong? Can you help me please? Thanks.

[2022-06-21 00:49] daftspunk commented on #572
Hi @LZaplata

Thank you for reporting this bug. It will be fixed in the next patch release (v3.0.54). Keep an eye on the changelog to see when it becomes available:

https://octobercms.com/changelog

Best regards

[2022-06-21 00:49] #572 closed

[2022-07-26 22:13] az-vm commented on #571
Hello @daftspunk

Any update on this bug ?

Kind Regard's

[2022-07-26 23:02] daftspunk commented on #571
This is a known issue with the translate plugin, and we are working on a solution.

[2022-07-27 22:20] az-vm commented on #571
Thank you @daftspunk

[2022-07-30 10:51] renickbuettner opened #573 "Update hint for documentation"
By using blog combined with translate - (and the richtext editor) - I used the content_html field several times. But actually this field does not getting translated automatically. The attribute summary and content_html do not translate (if no summary provided). The content attribute is the field to go with.

May we can adjust the documentation/examples of the plugin, to make this more clearly :-)

[2022-07-31 04:04] daftspunk commented on #573
Yes sure, feel free to adjust the documentation of this repo using a pull request.

[2022-08-16 02:59] #573 closed

[2022-08-20 00:52] SamDeny commented on #568
Hi @daftspunk.

The 'Preview' button is now visible (I'm using OctoberCMS v3.0.67). I guess because the `hide` class has been renamed into `hidden`, or something like that?

Anyways, I've seen this button and after desperately searching for the reason behind the missing link in the source code, I added this functionality on my own (within my plugin). I overrode the `_post_toolbar.htm` file and add

[2022-08-20 05:34] daftspunk commented on #568
Hey Sam,

Thanks for this. We've patched it in 0bf84f1403623bda001a548bbfcba8e778f412c0

You are welcome to just submit this as a PR, selecting the Preview Post using the settings page is a simple solution to this.

[2022-09-30 11:41] VadimIzmalkov opened #576 ""Uncaught TypeError: a.indexOf is not a function" error occurs while trying to upload image"
I got this error when tried to upload an image in the post editor.

Event-aliase ``.load()`` here https://github.com/rainlab/blog-plugin/blob/master/assets/js/post-form.js#L84 should be replaced by following:

[code]

[2022-10-01 03:41] #576 closed

[2022-10-01 03:43] samgeorges commented on #576
Fixed in v1.6.1

Thanks!

[2022-10-05 14:18] LZaplata opened #577 "Posts list sql issue after update to OctoberCMS 3.1"
Hello,

I am getting this error after updating to last version of both plugin and OctoberCMS.

<img width="1309" alt="image" src="https://user-images.githubusercontent.com/12596881/194083017-573a5f05-77b7-44d1-977f-230e37683e99.png">

[2022-10-05 21:53] daftspunk commented on #577
Thanks for finding this bug. It will be fixed in v3.1.1

Here is the query comparison

### v3.1.0

`order by nest_left asc` in the subquery is illegal in this context.

[code]

### v2.2

No `order by` subquery

[code]

### v3.1.1

No `order by` subquery

[code]

[2022-10-05 21:53] #577 closed

[2022-10-21 11:47] mplodowski opened #578 "Markdown editor translation issue"
Blog Plugin version: 1.6.1
Translate Plugin version: 2.0.6
OctoberCMS version: 3.1.12

When you have multisite and 2 languages setup and create new post with primary language, then translate this post with secondary language the "content_html" field is not saved into database table  "rainlab_translate_attributes". Only "content" field is saved. I assume this is an issue with markdown editor. I als

[2022-10-23 23:50] #578 closed

[2022-10-23 23:51] samgeorges commented on #578
Hey @mplodowski

Thanks for this. I'm not sure it ever worked properly. Should be fixed in v1.6.2